@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVCForum.ViewModels.PrivateMessage.PrivateMessagePostModel
@{
    //
}
<div class="card">
    @if (!Model.IsPopUp)
    {
        <div class="card-header bg-dark">
            @Localizer["NewMessage"]
        </div>
    }

    <div class="card-body text-dark">
        <form id="sendpm-form" method="post" asp-controller="PrivateMessage" asp-action="Send" class="needs-validation p-2" novalidate>
            <div class="mb-3">
                <label asp-for="To">@Localizer["To"]</label>
                <input asp-for="To" readonly="@(Model.IsReply || Model.IsPopUp)" class="form-control" data-autocomplete-url="@Url.Action("AutoCompleteUsername","PrivateMessage")" />
                <div snitz-if="@(!Model.IsPopUp)" id="toHelp" class="form-text">@Localizer["RecipientSeparator"]</div>
                @if (Model.IsPopUp)
                {
                    <input asp-for="To" type="hidden" id="hdnTo"/>
                }
                <span asp-validation-for="To"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Subject">@Localizer["Subject"]</label>
                <input asp-for="Subject" class="form-control"/>
                <span asp-validation-for="Subject"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Message">@Localizer["Message"]</label>
                <textarea asp-for="Message" class="form-control" id="msg-text" rows="5" required="required" ></textarea>
                <span asp-validation-for="Message"></span>
                <div class="invalid-feedback text-danger-emphasis">You must enter a message.</div>
            </div>
            @if (!Model.IsPopUp)
            {
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.CheckBoxFor(m => m.Draft, new { @class = "form-check-input" })
                        <label asp-for="Draft">@Localizer["cbxDraft"]</label>
                    </label>
                </div>
            }

            <div class="form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.IncludeSig, new { @class = "form-check-input" })
                    <label asp-for="IncludeSig">@Localizer["cbxShowSig"]</label>
                </label>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    @Html.CheckBoxFor(m => m.SaveToSent, new { @class = "form-check-input" })
                    <label asp-for="SaveToSent">@Localizer["SaveSentPM"]</label>
                </label>
            </div>
            <div class="mb-3 p-2">
                <input asp-for="IsPopUp" type="hidden"/>
                @if (!Model.IsPopUp)
                {
                    <button id="cancel-send-pm" type="button" class="btn btn-danger cancel" asp-action="Inbox" asp-controller="PrivateMessage">@Localizer["btnCancel"]</button>
                    <button type="reset" class="btn btn-warning ">@Localizer["btnReset"]</button>
                    <button id="send-pm" type="submit" class="btn btn-success ">@Localizer["btnSend"] <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                }
            </div>
        </form>
    </div>
</div>
@if (!Model.IsPopUp)
{
    <script src="~/js/addpostform.min.js" type="text/javascript"></script>
    <script type="text/javascript" >
        $('*[data-autocomplete-url]').each(function () {
            $(this).autocomplete({
                source: $(this).data("autocomplete-url"),
                minLength: 3
            });
        });
        //cancel-send-pm
        $(document).on('click', '#cancel-send-pm', function () {
            location.reload();
        });
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ValidateForms();
            }, false);
        })();

        tinymce.remove();
        tinymce.init({
            selector: 'textarea#msg-text',
            height: 200,
            plugins: 'code emoticons codesample',
            branding: false,
            statusbar: false,
            toolbar: SnitzVars.pmtoolbardef,
            emoticons_database: 'emojiimages',
            emoticons_images_url: SnitzVars.baseUrl + '/images/emoticon/',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
        setup: function(editor) {
            if (SnitzVars.pmAttach) {
                editor.ui.registry.addButton('snitzAttach',
                    {
                        icon: 'new-document',
                        tooltip: SnitzVars.toolTips.fileBtn + '\n(' + SnitzVars.allowedfiles + ')',
                        onAction: function(_) {
                            $('#upload-content').html('');
                            $('#upload-content').load(SnitzVars.baseUrl + "/Topic/UploadForm/",function() {
                                $('#uploadModal').modal('show');
                            });
                        }
                    });
            }
        }
        });
    </script>
}
