@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVC_Forum.Models.Forum.PrivateMessageIndexModel
<form id="pm-form">
    <div class="tableFixHead">
        <table class="table table-hover" id="forumIndexTable">
            <thead>
            <tr class="bg-dark">
                <th><input type="checkbox" class="checkbox" title="Select All" id="select_all"/></th>
                <th>Subject</th>
                <th>To</th>
                <th>Sent</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pm in Model.Outbox)
            {
                <tr class="pmread_@pm.Read" data-id="@pm.Id">
                    <td><input type="checkbox" class="checkbox select-post" name="Delete" value="@pm.Id"/></td>
                    <td>
                        <a asp-controller="PrivateMessage" asp-action="PM" asp-route-id="@pm.Id">
                            @pm.Title
                        </a>
                    </td>
                    <td>@pm.ToMemberName</td>
                    <td class="text-nowrap">@pm.Sent?.ToString("dd MMM, yyyy HH:mm", CultureInfo.CurrentCulture)</td>
                    <td><i class="fa fa-trash" data-id="@pm.Id" data-user="@pm.FromMemberId" title="Delete message"></i></td>
                </tr>
            }
            <input type="text" name="MemberId" value="@Model.MemberId" style="display: none"/>
            </tbody>
        </table>
    </div>
</form>