@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PrivateMessageListingModel>
<form id="pm-form">
    <div class="tableFixHead">
        <table class="table table-hover" id="forumIndexTable">
            <thead>
                <tr class="bg-dark">
                    <th>Subject</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Received</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pm in Model!)
                {
                    <tr class="pmread_@pm.Read" data-id="@pm.Id">
                        <td>
                            <a asp-controller="PrivateMessage" asp-action="read" asp-route-id="@pm.Id" class="pmread_">@pm.Title</a>
                        </td>
                        <td>@pm.FromMemberName</td>
                        <td>@pm.ToMemberName</td>
                        <td>@pm.Sent?.ToString("dd MMM, yyyy HH:mm", CultureInfo.CurrentCulture)</td>
                        <td><i class="fa fa-reply mr-2" aria-hidden="true" title="Reply to message" data-id="@pm.Id"></i><i class="fa fa-trash" data-id="@pm.Id" data-user="@pm.ToMemberId" title="Delete Message"></i> </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</form>

