@using SmartBreadcrumbs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BbCodeFormatter
@model MVCForum.Models.Post.NewPostModel
@inject ICodeProcessor BbCodeProcessor
@{
    var formaction = "AddPost";
    if (!Model.IsPost)
    {
        formaction = "AddReply";
    }
    Model.Content = BbCodeProcessor.Format(Model.Content)!;
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <div class="row">
        <form asp-controller="Topic" asp-action="@formaction" method="post" id="addPostForm" class="needs-validation col col-md-8 offset-md-2 bg-form p-4 rounded" novalidate>
            @if (Model.IsPost)
            {
                <div class="mb-3 row">
                    <label asp-for="Title" class="form-label col-2"></label>
                    <div class="col-10">
                        <input asp-for="Title" class="form-control"/>
                        <div class="invalid-feedback">You must provide a title.</div>
                    </div>
                </div>
            }
            <input asp-for="ForumId" type="hidden" />
            <input asp-for="CatId" type="hidden" />
            <input snitz-if="@Model.Id > 0" asp-for="Id" type="hidden" />
            <input asp-for="TopicId" type="hidden" />
            <input asp-for="IsPost" type="hidden" />            
            <input asp-for="Created" type="hidden"/>
            <div class="mb-3 row">
                <div class="col">
                    <textarea asp-for="Content" class="form-control" id="msg-text" rows="6" required="required"></textarea>
                    <div class="invalid-feedback">@Localizer["MessageRequired"]</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col row">
                    @if (SnitzConfig.GetIntValue("STRSIGNATURES") == 1)
                    {
                        <div class="pl-3 col-6">
                            <input id="show-sig" name="UseSignature" tabindex="5" type="checkbox" value="true">
                            <input name="UseSignature" type="hidden" value="false">
                            <label>@Localizer["cbxShowSig"]</label>
                        </div>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="pl-3 col-6">
                            <input asp-for="Lock" tabindex="5" type="checkbox" checked="@Model.Lock">
                            <label>@Localizer["cbxLockTopic"]</label>
                        </div>
                        @if (SnitzConfig.GetIntValue("STRSTICKYTOPIC") == 1)
                        {
                            <div class="pl-3 col-6">
                                <input asp-for="Sticky" tabindex="5" type="checkbox" checked="@Model.Sticky">
                                <label>@Localizer["cbxMakeSticky"]</label>
                            </div>
                        }
                        @if (SnitzConfig.GetIntValue("STRARCHIVESTATE") == 1)
                        {
                            <div class="pl-3 col-6">
                                <input asp-for="DoNotArchive" tabindex="5" type="checkbox" checked="@Model.DoNotArchive">
                                <label>@Localizer["cbxNoArchive"]</label>
                            </div>
                        }
                    }
                    <div class="pl-3 col-6" style="display: none;">
                        <input id="SaveDraft" name="SaveDraft" tabindex="5" type="checkbox" value="true"><input name="SaveDraft" type="hidden" value="false">
                        <label>@Localizer["cbxDraft"]</label>
                    </div>
                </div>
            </div>
            <partial name="FormButtons"/>
        </form>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/initPostForm.js"></script>
}
