@using SmartBreadcrumbs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BbCodeFormatter
@using Snitz.Events.Helpers
@using Snitz.Events.Models
@using SnitzCore.Data
@model MVCForum.ViewModels.Post.NewPostModel
@inject IEnumerable<ISnitzStartupService> pluginservices
@section Styles
{
    <link rel="stylesheet" href="@SnitzConfig.ThemeCss("prism.min.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css">
}
@{
    var eventservice = pluginservices.FirstOrDefault(t => t.GetType() == typeof(CalEventsService));

    var formaction = "AddPost";
    var controller = "Topic";
    if (!Model.IsPost)
    {
        formaction = "AddReply";
        controller = "Reply";
    }
    Model.Content = BbCodeProcessor.Format(Model.Content)!;
    var addEvent = Context.Request.Query["isevent"];
    var addPoll = Context.Request.Query["ispoll"];
    var allowdraft = false;
    if(ViewData.ContainsKey("AllowDraft") && ViewData["AllowDraft"] != null && (bool)ViewData["AllowDraft"])
    {
        allowdraft = true;
    }
}

<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <div class="row">
        <form asp-controller="@controller" asp-action="@formaction" method="post" id="addPostForm" class="needs-validation col col-md-10 offset-md-1 bg-form p-4 rounded" novalidate>
            @if ((User.IsInRole("Administrator") || User.IsInRole("Forum_" + Model.ForumId)) && Model.IsPost)
            {
                if (SnitzConfig.GetIntValue("STRMOVETOPICMODE") == 0 || User.IsInRole("Administrator"))
                {
                    <div class="mb-3">
                        <label asp-for="ForumId" class="form-label">@Localizer["lblForum"]</label>
                        <select asp-for="ForumId" class="form-select">
                            @foreach (var forum in Model.Forums!)
                            {
                                <option value="@forum.Key">@forum.Value</option>
                            }
                        </select>
                    </div>
                }
                else if (User.IsInRole("Forum_" + Model.ForumId))
                {
                    <div class="mb-3">
                        <label asp-for="ForumId" class="form-label">@Localizer["lblForum"]</label>
                        <select asp-for="ForumId" class="form-select">
                            @foreach (var forum in Model.Forums!)
                            {
                                if (User.IsInRole("Forum_" + forum.Key))
                                {
                                    <option value="@forum.Key">@forum.Value</option>
                                }
                            }
                        </select>
                    </div>
                }

            }
            else
            {
                <input asp-for="ForumId" type="hidden" />
            }
            @if (Model.IsPost)
            {
                <div class="mb-3 ">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" required="required"/>
                    <div class="invalid-feedback">You must provide a title.</div>
                </div>
            }
            <input asp-for="CatId" type="hidden" />
            <input snitz-if="@Model.Id > 0" asp-for="Id" type="hidden" />
            <input asp-for="TopicId" type="hidden" />
            <input asp-for="IsPost" type="hidden" />            
            <input asp-for="Created" type="hidden"/>
            <div class="mb-3">
                <textarea asp-for="Content" class="form-control" id="msg-text" rows="12" required="required"></textarea>
                <div class="invalid-feedback">@Localizer["MessageRequired"]</div>
            </div>
            <div class="mb-3">
                <div class="row g-0">
                    @if (SnitzConfig.GetIntValue("INTTOPICRATING", 0) == 1 && Model.AllowRating)
                    {
                        if ((Model.IsAuthor) || User.IsInRole("Administrator"))
                        {
                            <div class="pl-3 col-12 col-md-6 form-check">
                                <input class="form-check-input" asp-for="AllowTopicRating" tabindex="4" type="checkbox" value="true" checked="@Model.AllowTopicRating">
                                <label>@Localizer["cbxAllowRating"]</label>
                            </div>
                        }                        
                    }

                    @if (SnitzConfig.GetIntValue("STRSIGNATURES") == 1)
                    {
                        <div class="pl-3 col-12 col-md-6 form-check">
                            <input class="form-check-input" id="show-sig" name="UseSignature" tabindex="5" type="checkbox" value="true" checked="@Model.UseSignature">
                            <input name="UseSignature" type="hidden" value="false">
                            <label class="form-check-label">@Localizer["cbxShowSig"]</label>
                        </div>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="pl-3 col-12 col-md-6 form-check">
                            <input class="form-check-input" asp-for="IsLocked" tabindex="5" type="checkbox" checked="@Model.IsLocked">
                            <label class="form-check-label">@Localizer["cbxLockTopic"]</label>
                        </div>
                        @if (SnitzConfig.GetIntValue("STRSTICKYTOPIC") == 1)
                        {
                            <div class="pl-3 col-12 col-md-6 form-check">
                                <input class="form-check-input" asp-for="IsSticky" tabindex="5" type="checkbox" checked="@Model.IsSticky">
                                <label class="form-check-label">@Localizer["cbxMakeSticky"]</label>
                            </div>
                        }
                        @if (SnitzConfig.GetIntValue("STRARCHIVESTATE") == 1)
                        {
                            <div class="pl-3 col-12 col-md-6 form-check">
                                <input class="form-check-input" asp-for="DoNotArchive" tabindex="5" type="checkbox" checked="@Model.DoNotArchive">
                                <label class="form-check-label">@Localizer["cbxNoArchive"]</label>
                            </div>
                        }
                    }
                    else
                    {
                        <input asp-for="IsLocked" tabindex="5" type="hidden" value="@(Model.IsLocked ? 0 : 1)">
                        <input asp-for="IsSticky" tabindex="5" type="hidden" value="@(Model.IsSticky ? 1 : 0)">
                        <input asp-for="DoNotArchive" tabindex="5" type="hidden" value="@(Model.DoNotArchive ? 1 : 0)">
                    }
                    <div class="pl-3 col-12 col-md-6 form-check" snitz-if="@(allowdraft)">
                        <input class="form-check-input" asp-for="SaveDraft" tabindex="6" type="checkbox" value="true">
                        <label class="form-check-label">@Localizer["cbxDraft"]</label>
                    </div>
                </div>
            </div>
            <div id="errDiv" class="invalid-feedback error-div"></div>
            <partial name="FormButtons"/>
        </form>
        @if (addPoll.Count > 0 || (TempData["HasPoll"] != null && (bool)TempData["HasPoll"]!))
        {
            @await Component.InvokeAsync("Polls", new { template = "AddPoll", catid = Model.CatId, forumid = Model.ForumId })

        }
        @if (addEvent.Count > 0 || eventservice!.EnabledForTopic(Model.Id))
        {
            <div class="mt-3 mb-3 col col-md-8 offset-md-2 bg-form p-4 rounded" id="event-form">
                @await Component.InvokeAsync("Events", new { template = "AddEvent", id = MemberService.Current()!.Id, topicid=Model.Id })
            </div>
        }
    </div>
    @if(controller == "Reply" && Model.TopicId > 0)
    {
        <div class="row mt-3 mb-3">
            <div class="col col-md-10 offset-md-1 bg-form p-2 rounded">
                <div class="accordion" id="previewaccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @Localizer["lblTopicReview"]
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
                            <div class="d-flex justify-content-center m-4">
                              <div class="spinner-border" role="status">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    }

</div>
<partial name="Modal\UploadModal" />
<modal id="previewModal" title="@Localizer["tipPreview"].Value" size="Large">
    <modal-body>
        <div id="preview-content"></div>
    </modal-body>
    <modal-footer dismiss-text="@Localizer["lblClose"].Value">
    </modal-footer>
</modal>
@section Scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="~/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/js/prism.min.js" data-manual></script>
    <script type="text/javascript" src="~/js/initPostForm.js"></script>
    <script type="text/javascript" src="~/js/addpostform.min.js"></script>
    <renderstoredcontent asp-key="topic-post"></renderstoredcontent>
<script>
    $('#previewaccordion').on('show.bs.collapse', function () {
          console.log("expanded");
          $('#collapseOne').load('@Url.Action("TopicPreview", "Topic", new { id = Model.TopicId })' );
    });
</script>
}
