@using SmartBreadcrumbs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BbCodeFormatter
@model MVCForum.ViewModels.Post.NewPostModel
@inject ICodeProcessor BbCodeProcessor
@{
    var formaction = "AddPost";
    if (!Model.IsPost)
    {
        formaction = "AddReply";
    }
    Model.Content = BbCodeProcessor.Format(Model.Content)!;
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <div class="row">
        <form asp-controller="Topic" asp-action="@formaction" method="post" id="addPostForm" class="needs-validation col col-md-8 offset-md-2 bg-form p-4 rounded" novalidate>
            @if (Model.IsPost)
            {
                <div class="mb-3 row">
                    <label asp-for="Title" class="form-label col-2"></label>
                    <div class="col-10">
                        <input asp-for="Title" class="form-control"/>
                        <div class="invalid-feedback">You must provide a title.</div>
                    </div>
                </div>
            }
            <input asp-for="ForumId" type="hidden" />
            <input asp-for="CatId" type="hidden" />
            <input snitz-if="@Model.Id > 0" asp-for="Id" type="hidden" />
            <input asp-for="TopicId" type="hidden" />
            <input asp-for="IsPost" type="hidden" />            
            <input asp-for="Created" type="hidden"/>
            <div class="mb-3 row">
                <div class="col">
                    <textarea asp-for="Content" class="form-control" id="msg-text" rows="6" required="required"></textarea>
                    <div class="invalid-feedback">@Localizer["MessageRequired"]</div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col row">
                    @if (SnitzConfig.GetIntValue("STRSIGNATURES") == 1)
                    {
                        <div class="pl-3 col-6">
                            <input id="show-sig" name="UseSignature" tabindex="5" type="checkbox" value="true">
                            <input name="UseSignature" type="hidden" value="false">
                            <label>@Localizer["cbxShowSig"]</label>
                        </div>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="pl-3 col-6">
                            <input asp-for="Lock" tabindex="5" type="checkbox" checked="@Model.Lock">
                            <label>@Localizer["cbxLockTopic"]</label>
                        </div>
                        @if (SnitzConfig.GetIntValue("STRSTICKYTOPIC") == 1)
                        {
                            <div class="pl-3 col-6">
                                <input asp-for="Sticky" tabindex="5" type="checkbox" checked="@Model.Sticky">
                                <label>@Localizer["cbxMakeSticky"]</label>
                            </div>
                        }
                        @if (SnitzConfig.GetIntValue("STRARCHIVESTATE") == 1)
                        {
                            <div class="pl-3 col-6">
                                <input asp-for="DoNotArchive" tabindex="5" type="checkbox" checked="@Model.DoNotArchive">
                                <label>@Localizer["cbxNoArchive"]</label>
                            </div>
                        }
                    }
                    <div class="pl-3 col-6" style="display: none;">
                        <input id="SaveDraft" name="SaveDraft" tabindex="5" type="checkbox" value="true"><input name="SaveDraft" type="hidden" value="false">
                        <label>@Localizer["cbxDraft"]</label>
                    </div>
                </div>
            </div>
            <partial name="FormButtons"/>
        </form>
    </div>
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">
                    @Localizer["lblFileUpload"]
                </h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="upload-content">
                    
                </div>
            </div>
            <div class="modal-footer">
                <p class="footer-title">
                    If you're having problems uploading, try choosing a smaller image.
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/initPostForm.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fig-caption").each(function () {
                var test = $(this);
                $.ajax({
                    url: "/PhotoAlbum/GetCaption/" + $(this).data("id"),
                    type: "GET",
                    success: function (data) {
                        //alert(data); // the View
                        test.html(data);
                    }
                });
            });
        });
        $(document).on('click',
            '#submitUpload',
            function (e) {
                e.preventDefault();
                var form = $("#upload-form");
                var formData = new FormData(form[0]);
                $.ajax({
                    url: $("#upload-form").attr("action"),
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.result) {
                            if (!data.type) {
                                var img = "[image=" + data.id + "]";
                                if (data.caption) {
                                    img = "[cimage=" + data.id + "]";
                                }
                                tinymce.activeEditor.execCommand('mceInsertContent', false, img);
                            } else {
                                alert(data.type);
                                var file = "[file " + data.filesize + "]" + data.data + "[/file]";
                                if (data.type === ".pdf") {
                                    file = "[pdf]" + data.data + "[/pdf]";
                                } else if (data.type === ".jpg" || data.type === ".png" || data.type === ".jpeg" || data.type === ".webp") {
                                    file = "[img]" + data.data + "[/img]";
                                }

                                tinymce.activeEditor.execCommand('mceInsertContent', false, file);
                            }

                            $('#uploadModal').modal('hide');
                        }

                    },
                    error: function (data) {
                        alert("error");
                        $('#upload-content').html(data);
                    },
                    complete: function (data) {
                        $('#uploadModal').modal('hide');
                    }

                });
                return false;
            });
        $("#aFile_upload").on("change",
            function(e) {
                var filesize = ((this.files[0].size / 1024) / 1024).toFixed(4); // MB
                var maxsize = parseInt('@SnitzConfig.GetValue("INTMAXFILESIZE", "5")');
                if (filesize > maxsize) {
                    alert("File is too big!");
                    this.value = "";
                }

            });
    </script>
}
