@using System.Globalization
@using BbCodeFormatter
@inject ICodeProcessor BbCodeProcessor
@model MVCForum.ViewModels.Post.PostIndexModel
@{
    //check the culture so we can set the page direction and language
    CultureInfo ci = CultureInfo.CurrentUICulture; 
    string clang = ci.TwoLetterISOLanguageName;

    string[] rtlLangs = new string[] { "ar", "arc", "dv", "fa", "ha", "khw", "ks", "ku", "ps", "ur", "yi", "he" };
    // string[] arabic = new string[] { "ar", "arc", "dv", "fa", "ha", "khw", "ks", "ku", "ps", "ur" }; //Cairo
    // string[] aramaic = new string[] { "yi", "he" }; //Tinos

    bool isRighToLeft = rtlLangs.Contains(clang);

    Layout = null;
    ViewBag.Title = Localizer["pagePrint"] + Model.Title;
}

<!DOCTYPE html>

<html lang="@clang" dir="@(isRighToLeft ?  "rtl" : "ltr" )">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.min.css">
    <link rel="stylesheet" href="~/css/print.min.css">

</head>
<body>
    <span class="button pull-right flip"><button class="btn btn-sm btn-primary" onclick="javascript:window.print();">@Localizer["lblPrint"]</button><button class="btn btn-sm btn-default" onclick="javascript:window.close();">@Localizer["lblClose"]</button></span>
    <div class="title">
        <h4>@Html.Raw(BbCodeProcessor.Format(Model.Title))</h4>
        <label>@Localizer["lblPrintedFrom"]:</label> @SnitzConfig.ForumTitle<br />
        <label>URL:</label> @string.Format("{0}Topic/Posts/{1}?pagenum=1", SnitzConfig.ForumUrl, Model.Id) <br />
        <label>@Localizer["lblPrinted"]:</label> @DateTime.Now.ToShortDateString()<br />
        <div class="title">
            <h4>@Localizer["lblTopic"] </h4>
            <hr />
        </div>

        <div class="message-reply">
            <label>@Localizer["lblAuthor"] :</label> @Model.AuthorName <br />
            <label>@Localizer["lblSubject"] :</label> @Model.Title <br />
            <label>@Localizer["lblPosted"] :</label> @Model.Created.ToShortDateString() <br />
            <label>@Localizer["Message"] :</label> <br /><br />
            <div class="message clearfix">
                @Html.Raw(BbCodeProcessor.Format(Model.Content))
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="title">
            <h4>@Localizer["lblReplies"] ... </h4>
            <hr />
        </div>
        @{
            int counter = 1;
        }
        @if (Model.Replies != null)
        {
            foreach (var item in Model.Replies)
            {
                <i class="fa fa-hashtag"></i><label>@counter</label>

                <div class="message-reply">
                    <label>@Localizer["lblReplyAuthor"]</label> @item.Author.Name <br />
                    <label>@Localizer["lblRepliedOn"]</label> @item.Created.ToShortDateString() <br />
                    <label>@Localizer["Message"]:</label> <br /><br />
                    <div class="message clearfix">
                        @Html.Raw(BbCodeProcessor.Format(item.Content))
                    </div>
                </div>
                counter++;
            }
        }

    </div>
    <span class="small pull-right flip">&copy; @Html.Raw(string.Format(SnitzConfig.GetValue("STRCOPYRIGHT"), DateTime.UtcNow.Year))</span>

    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/lib/jquery/jquery.timeago.min.js" type="text/javascript"></script>
    <partial name="ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
    <script snitz-if="@(clang == "fa")" type="text/javascript" src="~/bundles/Persian"></script>
    <script snitz-if="@(clang is "nb" or "nn" or "no")" type="text/javascript" src="~/js/timeago/timeago.no.js"></script>

    @if (!clang.Contains("en"))
    {
        var src = $"{SnitzConfig.RootFolder}/js/timeago/timeago.{clang}.js";
        <script type="text/javascript" src="@src"></script>
    }
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script>
    $(document).ready(function() {
        lazyload();
    });
</script>
</body >
</html >