@model MVCForum.ViewModels.Member.MemberDetailModel
@using System.Reflection
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SnitzCore.Data.Extensions
@using SnitzCore.Data
@using SnitzCore.Service
@using SnitzCore.Service.Extensions
@inject IMember _memberService
@{
    var _ranking = MemberService.GetRankings();
    var canedit = Model.CanEdit || User.IsInRole("Administrator");
    var memberproperties = Model.Member!.GetType().GetProperties().Where(p => !p.SystemProperty()); 
    var systemproperties = Model.Member!.GetType().GetProperties().Where(p => p.SystemProperty());
}
@section Styles
{
    if(canedit){
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css">
    }
}
<div class="container pt-0">
    <snitz-breadcrumb show-filter="false"></snitz-breadcrumb>
    <h1 snitz-if="@canedit" class="bg-dark text-dark p-2">@Localizer["Profile"]</h1>
    <h1 snitz-if="@(!canedit)" class="bg-dark text-dark p-2">@Localizer["ProfileDetails", Model.Name] </h1>
    <div id="member-profile">
        @if (canedit)
        {
            @await Component.InvokeAsync("Members", new { template = "Edit", Member = Model })
        }
        else
        {
            @await Component.InvokeAsync("Members", new { template = "Public", Member = Model })
        }
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

<partial name="Modal\UploadModal" />
@section Scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/js/initPostForm.js"></script>
    <script type="text/javascript">
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ValidateForms();
            }, false);
        })();
        if ($('.img-fluid').attr("src") == "/images/ninja-1027877_960_720.webp") {
            $(".icon").attr("title", "Add avatar");
            var el = document.querySelector('.fa-trash');
            el.classList.remove('fa-trash');
            el.classList.add('fa-upload');
        }
        $('.icon').on("click",
            function(e) {
                e.preventDefault();
                if ($(".icon > i").hasClass("fa-trash")) {
                    $.get(SnitzVars.baseUrl + $(this).data("url") + $(this).data("id"),
                        function(data) {
                            $(".img-fluid").attr('src', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==');
                            $(".img-fluid").attr("width","100");
                            $(".img-fluid").attr("height", "100");
                            $(".icon").attr("title", "Add avatar");
                            var el = document.querySelector('.fa-trash');
                            el.classList.remove('fa-trash');
                            el.classList.add('fa-upload');
                            location.href = SnitzVars.baseUrl + "/Account/Detail";
                        });
                } else {

                    $('#upload-content').html('');
                    $('#upload-content').load(SnitzVars.baseUrl + "/Account/UploadForm/",function() {
                        $('#uploadModal').modal('show');
                    });
                }
            });
        $(".parent").each(function()
        {
            if($(this).children(".form-label").length == 0)
            {
                $(this).hide();
            }
        });
        $(function () {
            $('.date').datepicker({
                autoclose: true,
                format: {
                    /*
                     * Say our UI should display a week ahead,
                     * but textbox should store the actual date.
                     * This is useful if we need UI to select local dates,
                     * but store in UTC
                     */
                    
                    toDisplay: function (date, format, language) {
                        var d = new Date(date);
                        d.setDate(d.getDate());
                        return d.toLocaleDateString();
                    },
                    toValue: function (date, format, language) {
                        let re = /([0-9]{4})([0-9]{2})([0-9]{2})/;
                        let lastFirst = date.replace(re, '$1-$2-$3');
                        var d = new Date(lastFirst);
                        d.setDate(d.getDate());
                        return new Date(d);
                    }
                }
            });

            $('.date').datepicker('setDate', '@Model.Member?.Dob');
            revalidate();
        });
        function revalidate() {
            var container = document.getElementById("member-profile");
            var forms = container.getElementsByTagName("form");
            var newForm = forms[forms.length - 1];
            $.validator.unobtrusive.parse(newForm);
        }
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $('#submitUpload').on('click', function (e) {
            e.preventDefault();
            var form = $("#upload-form");
            var formData = new FormData(form[0]);
            $.ajax({
                url: SnitzVars.baseUrl + $("#upload-form").attr("action"),
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.result) {
                        //alert(data.data);
                        $(".img-fluid").attr('src', data.data);
                        location.href = SnitzVars.baseUrl + "/Account/Detail";
                    }
                },
                error: function (data) {
                    appendAlert('Error uploading file', 'error');
                },
                complete: function (data) {
                    $('#uploadModal').modal('hide');
                }
            });
            return false;
        });
    </script>
}
