@model MVCForum.ViewModels.Member.MemberDetailModel
@using System.Reflection
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.TagHelpers
@using SnitzCore.Data.Extensions
@using SnitzCore.Data
@using SnitzCore.Service
@using SnitzCore.Service.Extensions
@using SnitzCore.Service.TagHelpers

@{
    var _ranking = MemberService.GetRankings();
    var canedit = Model.CanEdit || User.IsInRole("Administrator");
}
@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.min.css">
}
<div class="container pt-0">
    <h1 snitz-if="@canedit" class="bg-dark text-dark p-2">@Localizer["Profile"]</h1>
    <h1 snitz-if="@(!canedit)" class="bg-dark text-dark p-2">@Localizer["ProfileDetails", Model.Name] </h1>
    <div id="member-profile">
        <form asp-action="Update" method="post" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-6 col-md-2 avatar-container">
                    <snitz-avatar src="~/Content/Avatar/@Model.Member!.PhotoUrl" def-src="~/images/ninja-1027877_960_720.webp" class="img-fluid"/>
                    <div class="overlay-delete" snitz-if="@canedit">
                        <a href="#" class="icon" title="Delete Avatar" data-url="~/Account/DeleteAvatar/" data-id="@Model.Member.Id">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <input asp-for="Id" class="form-control" type="hidden"/>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">@Localizer["Username"]</label>
                        <input asp-for="Name" class="form-control" disabled="disabled"/>
                    </div>
                    <div snitz-if="@canedit || (@Model.Member?.HideEmail != 1 && @Model.Member?.Privateprofile != 1 && @User.Identity!.IsAuthenticated)" class="mb-3">
                        <label asp-for="Email" class="form-label">@Localizer["Email"]</label>
                        <input asp-for="Email" type="hidden"  />
                        <input asp-for="Newemail" class="form-control" value="@Model.Member?.Email" disabled="disabled" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">@Localizer["ProfileTitle"]</label>
                        <input name="Title" class="form-control" disabled="@(!User.IsInRole("Administrator"))" value="@MemberRankTitle(Model.Member!, _ranking)" />
                    </div>
                    <div class="mb-3" snitz-if="@canedit">
                        <a asp-action="Index" class="btn btn-danger">@Localizer["btnCancel"]</a>
                        <button type="reset" class="btn btn-warning">@Localizer["btnReset"]</button>
                        <button type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="mb-3">
                        <label asp-for="Member!.Created" class="col-sm-3 form-label">@Localizer["ProfileDate"]</label>
                        <div class="col-sm-9">
                            <label class="form-label">@Model.Member?.Created.FromForumDateStr().ToForumDisplay()</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Member!.Posts" class="col-sm-3 col-form-label">@Localizer["ProfilePosts"]</label>
                        <div class="col-sm-9">
                            <label class="form-label">@Model.Member?.Posts</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Member!.Lastpostdate" class="col-sm-3 col-form-label">@Localizer["ProfileLastPost"]</label>
                        <div class="col-sm-9">
                            <label class="form-label">@Model.Member?.Lastpostdate.FromForumDateStr().ToForumDisplay()</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Member!.LastLogin" class="col-sm-3 col-form-label">@Localizer["ProfileLastVisit"]</label>
                        <div class="col-sm-9">
                            <label class="form-label">@Model.Member?.LastLogin.FromForumDateStr().ToForumDisplay()</label>
                        </div>
                    </div>
                    <input asp-for="Member!.Id" type="hidden"/>
                </div>
            </div>
            <input name="PhotoUrl" type="hidden" value="@Model.Member?.PhotoUrl" />
            <div snitz-if="@(Model.Member?.Privateprofile != 1 || canedit) && @User.Identity!.IsAuthenticated">
                <div class="row  bg-form p-2 rounded mb-2">
                    <legend>@Localizer["Profile"]</legend>
                    <hr />
                    @{
                        var memberproperties = Model.Member!.GetType().GetProperties().Where(p => !p.SystemProperty());
                        memberproperties = memberproperties.Where(p =>  p.PropertyFieldType() != "checkbox" && p.PropertyLayoutSection() == MemberLayout.Profile);

                        foreach (PropertyInfo property in memberproperties.OrderBy(p => p.PropertyOrder()))
                        {
                            var showme = SnitzConfig.GetIntValue(property.GetPropertyDisplayCheck<Member>()!, 1) == 1 && (!property.PropertyIsPrivate() || Model.CanEdit) && !(property.Name == "PhotoUrl");
                            <div class="col-6 form-label" snitz-if="@showme && !(property.SystemProperty() && property.PropertyReadOnly())">
                                <snitz-config can-edit="@canedit" property-info="@property" property-val="@property.GetValue(Model.Member, null)" property-req="@(SnitzConfig.GetIntValue(property.GetPropertyRequiredCheck<Member>()) == 1)" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></snitz-config>
                            </div>
                        }
                    }
                    <div class="mb-3" snitz-if="@canedit">
                        <a asp-action="Index" class="btn btn-danger">@Localizer["btnCancel"]</a>
                        <button type="reset" class="btn btn-warning">@Localizer["btnReset"]</button>
                        <button type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
                    </div>
                    <legend>@Localizer["mnuAbout"]</legend>
                    <hr />
                    @{
                        foreach (PropertyInfo property in Model.Member.GetType().GetProperties().Where(p => !p.SystemProperty() && p.PropertyFieldType() != "checkbox" && p.PropertyLayoutSection() == MemberLayout.Bio).OrderBy(p => p.PropertyOrder()))
                        {
                            var showme = SnitzConfig.GetIntValue(property.GetPropertyDisplayCheck<Member>()!) == 1 && (!property.PropertyIsPrivate() || Model.CanEdit);
                            <div class="col-6 form-label" snitz-if="@showme && !(property.SystemProperty() && property.PropertyReadOnly())">
                                <snitz-config can-edit="@canedit" property-info="@property" property-val="@property.GetValue(Model.Member, null)" property-req="@(SnitzConfig.GetIntValue(property.GetPropertyRequiredCheck<Member>()) == 1)" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></snitz-config>
                            </div>
                        }
                        <div class="mb-3" snitz-if="@canedit">
                            <a asp-action="Index" class="btn btn-danger">@Localizer["btnCancel"]</a>
                            <button type="reset" class="btn btn-warning">@Localizer["btnReset"]</button>
                            <button type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
                        </div>
                    }
                    @{

                        <div class="parent">
                            <legend>@Localizer["SocialMedia"]</legend>
                            <hr />
                            @foreach (PropertyInfo property in Model.Member.GetType().GetProperties().Where(p => !p.SystemProperty() && p.PropertyFieldType() != "checkbox" && p.PropertyLayoutSection() == MemberLayout.SocialMedia).OrderBy(p => p.PropertyOrder()))
                            {
                                var showme = SnitzConfig.GetIntValue(property.GetPropertyDisplayCheck<Member>()!) == 1 && (!property.PropertyIsPrivate() || Model.CanEdit);
                                <div class="col-6 form-label" snitz-if="@showme && !(property.SystemProperty() && property.PropertyReadOnly())">
                                    <snitz-config can-edit="@canedit" property-info="@property" property-val="@property.GetValue(Model.Member, null)" property-req="@(SnitzConfig.GetIntValue(property.GetPropertyRequiredCheck<Member>()) == 1)" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></snitz-config>
                                </div>
                            }
                            <div class="mb-3" snitz-if="@canedit">
                                <a asp-action="Index" class="btn btn-danger">@Localizer["btnCancel"]</a>
                                <button type="reset" class="btn btn-warning">@Localizer["btnReset"]</button>
                                <button type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
                            </div>
                        </div>

                    }
                </div>
                <div class="row bg-form p-3 rounded mb-2" snitz-if="@canedit">
                    <legend>@Localizer["Options"]</legend>
                    <hr />
                    @{
                        foreach (PropertyInfo prop in Model.Member.GetType().GetProperties().Where(p => p.SystemProperty() && p.Name != "Newemail").OrderBy(p => p.PropertyOrder()))
                        {
                            <snitz-config can-edit="@canedit" property-info="@prop" property-val="@prop.GetValue(Model.Member, null)" property-req="@(SnitzConfig.GetIntValue(prop.GetPropertyRequiredCheck<Member>()) == 1)" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></snitz-config>
                        }
                    }
                </div>
                <div class="row bg-form p-3 rounded mb-2" snitz-if="@canedit">
                    @{
                        foreach (PropertyInfo property in Model.Member.GetType().GetProperties().Where(p => !p.SystemProperty() && p.PropertyFieldType() == "checkbox" && !p.PropertyIsPrivate()).OrderBy(p => p.PropertyOrder()))
                        {
                            var showme = SnitzConfig.GetIntValue(property.GetPropertyDisplayCheck<Member>()!, 1) == 1 && !property.PropertyIsPrivate();
                            <div class="col-6 form-label" snitz-if="@showme && !(property.SystemProperty() && property.PropertyReadOnly())">
                                <snitz-config config-type="checkbox" can-edit="@canedit" property-info="@property" property-val="@property.GetValue(Model.Member, null)" property-req="@(SnitzConfig.GetIntValue(property.GetPropertyRequiredCheck<Member>()) == 1)" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></snitz-config>
                            </div>
                        }
                    }
                    <div class="mb-3" snitz-if="@canedit">
                        <a asp-action="Index" class="btn btn-danger">@Localizer["btnCancel"]</a>
                        <button type="reset" class="btn btn-warning">@Localizer["btnReset"]</button>
                        <button type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
                    </div>
                </div>
            </div>
            <input name="Name" type="hidden" value="@Model.Member?.Name"/>
        </form>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

@functions
{
    private string? MemberRankTitle(Member author,Dictionary<int, MemberRanking>? ranking )
    {

        string? mTitle = author.Title ?? "";
        if (author.Status == 0 || author.Name == "n/a")
        {
            mTitle = Localizer.GetString("tipMemberLocked");
        }
        if (author.Name == "zapped")
        {
            mTitle = Localizer.GetString("tipZapped");
        }

        var unused = new RankInfoHelper(author, ref mTitle, author.Posts, ranking);

        return mTitle;
    }
}
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">
                    @Localizer["lblFileUpload"]
                </h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="upload-content">
                </div>
            </div>
            <div class="modal-footer">
                <p class="footer-title">
                    If you're having problems uploading, try choosing a smaller image.
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ValidateForms();
            }, false);
        })();
        if ($('.img-fluid').attr("src") == "~/images/ninja-1027877_960_720.webp") {
            $(".icon").attr("title", "Add avatar");
            var el = document.querySelector('.fa-trash');
            el.classList.remove('fa-trash');
            el.classList.add('fa-upload');
        }
        $('.icon').on("click",
            function(e) {
                e.preventDefault();
                if ($(".icon > i").hasClass("fa-trash")) {
                    $.get($(this).data("url") + $(this).data("id"),
                        function(data) {
                            $(".img-fluid").attr('src', 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==');
                            $(".img-fluid").attr("width","100");
                            $(".img-fluid").attr("height", "100");
                            $(".icon").attr("title", "Add avatar");
                            var el = document.querySelector('.fa-trash');
                            el.classList.remove('fa-trash');
                            el.classList.add('fa-upload');
                            location.href = "~/Account/Detail";
                        });
                } else {

                    $('#upload-content').html('');
                    $('#upload-content').load("~/Account/UploadForm/",function() {
                        $('#uploadModal').modal('show');
                    });
                }
            });
        $(".parent").each(function()
        {
            if($(this).children(".form-label").length == 0)
            {
                $(this).hide();
            }
        });
        $(function () {
            $('.date').datepicker({
                autoclose: true,
                format: {
                    /*
                     * Say our UI should display a week ahead,
                     * but textbox should store the actual date.
                     * This is useful if we need UI to select local dates,
                     * but store in UTC
                     */
                    
                    toDisplay: function (date, format, language) {
                        var d = new Date(date);
                        d.setDate(d.getDate());
                        return d.toLocaleDateString();
                    },
                    toValue: function (date, format, language) {
                        let re = /([0-9]{4})([0-9]{2})([0-9]{2})/;
                        let lastFirst = date.replace(re, '$1-$2-$3');
                        var d = new Date(lastFirst);
                        d.setDate(d.getDate());
                        return new Date(d);
                    }
                }
            });

            $('.date').datepicker('setDate', '@Model.Member?.Dob');
            revalidate();
        });
        function revalidate() {
            var container = document.getElementById("member-profile");
            var forms = container.getElementsByTagName("form");
            var newForm = forms[forms.length - 1];
            $.validator.unobtrusive.parse(newForm);
        }
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).on('click', '#submitUpload', function (e) {
            e.preventDefault();
            var form = $("#upload-form");
            var formData = new FormData(form[0]);
            $.ajax({
                url: $("#upload-form").attr("action"),
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.result) {
                        alert(data.data);
                        $(".img-fluid").attr('src', data.data);
                        location.href = "~/Account/Detail";
                    }
                },
                error: function (data) {
                    alert("error");
                },
                complete: function (data) {
                    $('#uploadModal').modal('hide');
                }
            });
            return false;
        });
    </script>
}
