@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.Extensions
@using MVCForum.TagHelpers
@using Microsoft.AspNetCore.Identity
@using MVCForum.ViewModels.User
@using SnitzCore.Data
@using SnitzCore.Service.TagHelpers
@model MVCForum.ViewModels.User.MemberIndexModel
@inject UserManager<ForumUser> UserManager

@{
    var ranking = MemberService.GetRankings();
    ViewBag.PageCount = Model.PageCount;
    IList<string>? userroles = null;
    if (User.Identity!.IsAuthenticated)
    {
        var curruser = UserManager.GetUserAsync(User).Result;
        userroles = UserManager.GetRolesAsync(curruser!).Result;
    }
    int colspan = 9;
    if (userroles != null && userroles.Contains("Administrator"))
    {
        colspan = 10;
    }
    var initials = Localizer["memberSearchInitials"].Value.ToCharArray();

}
<div class="container pt-0">
    <div class="row">
        <div class="col">
            <snitz-breadcrumb></snitz-breadcrumb>
            <form asp-action="Search" method="post" class="needs-validation" novalidate id="member-search">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect04" name="SearchIn" required="required">
                        <option value="" selected>@Localizer["SearchIn"]...</option>
                        <option value="1">@Localizer["UserName"]</option>
                        <option value="2">@Localizer["ProfileFirstname"]</option>
                        <option value="3">@Localizer["ProfileLastname"]</option>
                        <option value="4">@Localizer["ProfileTitle"]</option>
                        <option value="5">@Localizer["Email"]</option>
                    </select>                        
                    <input type="text" placeholder="@Localizer["Search_Term"] ..." class="form-control" name="SearchFor" required="required" />
                    <button class="btn btn-secondary" type="submit">@Localizer["mnuForumSearch"]</button>
                     
                    <a snitz-if="@userroles != null && @userroles.Contains("Administrator")" asp-action="Register" class="btn btn-outline-secondary" title="@Localizer["createAccount"]">@Localizer["createAccount"]</a>
                </div>
            </form>
            <div class="invalid-feedback ml-2">No values entered for search.</div>
            
            @if (SnitzConfig.GetValue("STRACCOUNTPAGESIZES", "") != "")
            {
                var sizes = SnitzConfig.GetValue("STRACCOUNTPAGESIZES", "").Split(",");
                if (sizes.Length > 1)
                {
                    <form asp-action="Index" id="pagesize-form">

                    <span class="form-text mb-2">&nbsp;@Localizer["lblPageSize"]&nbsp;</span>
                    <div class="radioBtn btn-group" role="group" aria-label="Select page size" title="Select page size">
                            @foreach (var size in sizes)
                        {
                                <input type="radio" class="btn-check" name="pagesize" id="option_@size" autocomplete="off" value="@size" @if (Model.PageSize == Convert.ToInt32(size))
                                {
                                    @Html.Raw("checked")
                                } />
                            <label class="btn btn-outline-secondary mb-2" for="option_@size">@size</label>
                        }
                    </div>
                    </form>
                }

            }
            <table class="table table-sm table-bordered table-hover table-striped">
                <thead>
                <tr class="bg-dark">
                    <th>&nbsp;</th>
                    <th>@Localizer["UserName"]</th>
                    <th>@Localizer["ProfileTitle"]</th>
                    <th>@Localizer["ProfilePosts"]</th>
                    <th>@Localizer["ProfileLastPost"]</th>
                    <th class="d-none d-md-table-cell">@Localizer["ProfileDate"]</th>
                    <th class="d-none d-md-table-cell">@Localizer["ProfileLastVisit"]</th>
                    <th snitz-if="@userroles != null && @userroles.Contains("Administrator")" class="d-none d-md-table-cell">@Localizer["Email"]</th>
                    <th class="d-none d-md-table-cell">@Localizer["ProfileCountry"]</th>
                    <th snitz-if="@userroles != null && @userroles.Contains("Administrator")" class="d-none d-md-table-cell"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (MemberListingModel member in Model.MemberList!)
                {
                    var showlink = member.Member.Name != "n/a" && member.Member.Name != "zapped";
                    <tr>
                        <td class="user-icon">
                            @if (member.LastHereDate != null && member.LastHereDate > DateTime.UtcNow.AddMinutes(-15))
                            {
                                <div class="center text-success"><snitz-status-icon status="@member.Member.Status" title="@member.Title"></snitz-status-icon></div>
                            }
                            else
                            {
                                <div class="center"><snitz-status-icon status="@member.Member.Status" title="@member.Title"></snitz-status-icon></div>
                            }
                        </td>
                        <td snitz-if="!showlink">@member.Member.Name</td>
                        <td snitz-if="showlink"><a href="/Account/Detail/@Flurl.Url.Encode(member.Member.Name)" title="@Localizer["tipViewProfile"]">@member.Member.Name</a></td>
                        <td>@member.Title<br />@Html.MemberRankStars(member, ranking, Localizer)</td>
                        <td>@member.Member.Posts</td>
                        <td><snitz-datetime datetime="@member.LastPost"></snitz-datetime></td>
                        <td class="d-none d-md-table-cell">@member.MemberSince?.Year</td>
                        <td class="d-none d-md-table-cell">@member.LastHereDate?.ToShortDateString()</td>
                        <td snitz-if="@userroles != null && @userroles.Contains("Administrator")" class="d-none d-md-table-cell">@member.Member.Email</td>
                        <td class="d-none d-md-table-cell">@member.Member.Country</td>
                        <td snitz-if="@userroles != null && @userroles.Contains("Administrator") "class="d-none d-md-table-cell user-icon">
                            <link-confirm title="@Localizer["tipAuthorUnlock"].Value" jq-selector="confirm-unlock" snitz-if="(member.Member.Status == 0 && showlink)" href="/Account/LockMember/" config-class="fa fa-unlock" config-key="@member.Id"></link-confirm>
                            <link-confirm title="@Localizer["tipAuthorLock"].Value" jq-selector="confirm-lock" snitz-if="(member.Member.Status != 0 && showlink)" href="/Account/LockMember/" config-class="fa fa-lock" config-key="@member.Id"></link-confirm>
                            <link-confirm title="@Localizer["tipDelMember"].Value" jq-selector="confirm-delete" snitz-if="(member.Member.Posts < 1 && showlink)" href="/Account/Delete/" config-class="fa fa-trash" config-key="@member.Id"></link-confirm>
                            <link-confirm title="@Localizer["tipZapMember"].Value" jq-selector="confirm-zap" snitz-if='@showlink' href="/Account/ZapMember/" config-class="fa fa-bolt" config-key="@member.Id"></link-confirm>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="@colspan" class="text-center d-none d-md-table-cell">
                        <ul class="list-inline list-unstyled h4 initial">
                            <li class="list-inline-item"><a href="?initial=">@Localizer["Search_All"]</a></li>
                            @foreach (var letter in initials)
                            {
                                <li class="list-inline-item"><a href="?initial=@letter">@letter</a></li>
                            }
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
            @if (Model.PageCount > 1)
            {
                var paging = new PagingModel
                {
                    PageCount = Model.PageCount,
                    PageSize = Model.PageSize,
                    Page = Model.PageNum
                };
                <partial name="ListPaging" model="paging" />
            }
        </div>
    </div>
</div>
@if (User.IsInRole("Administrator"))
{
    var confModel = new ConfirmDialogViewModel()
    {
        Title = "Manage Member",
        Message = @"<p></p>"
    };
    <partial name="ConfirmDialog" model="@confModel"/>
}

@section Scripts
    {
        <script type="text/javascript">

            $(document).on("change", "input[type=radio][name=pagesize]", function() {
                $("#pagesize-form").submit();
            });

            $(document).on('click', '.confirm-lock', function (e) {
                e.preventDefault();
                var postid = $(this).data('id');
                var href = $(this).attr('href');
                $('#confirmModal #confirm-body').html('<p>You are about to lock this Member.</p><p>Do you wish to proceed?</p>');
                $('#confirmModal').data('id', postid).data('url', href).modal('show');

                $('#confirmModal').on('click','#btnYes',function(e) {
                    // handle deletion here
                    e.preventDefault();
                    $.post(href,
                        {
                            id: postid
                        },
                        function(data, status) {
                            if (!data.result) {
                                alert(data.error);
                            } else {
                                location.reload();
                            }
                        });
                });
            });
            $(document).on('click', '.confirm-unlock', function (e) {
                e.preventDefault();
                var postid = $(this).data('id');
                var href = $(this).attr('href');
                $('#confirmModal #confirm-body').html('<p>You are about to unlock this Member.</p><p>Do you wish to proceed?</p>');
                $('#confirmModal').data('id', postid).data('url', href).modal('show');

                $('#confirmModal').on('click','#btnYes',function(e) {
                    // handle deletion here
                    e.preventDefault();
                    $.post(href,
                        {
                            id: postid
                        },
                        function(data, status){
                    
                            if (!data.result) {
                                alert(data.error);
                            } else {
                            location.reload();
                            }
                        });
                });
            });

            $(document).on('click', '.confirm-zap', function (e) {
                e.preventDefault();
                var postid = $(this).data('id');
                var href = $(this).attr('href');
                $('#confirmModal #confirm-body').html('<p>You are about to Zap this Member\'s account.</p><p>Do you wish to proceed?</p>');
                $('#confirmModal').data('id', postid).data('url', href).modal('show');

                $('#confirmModal').on('click','#btnYes',function(e) {
                    // handle deletion here
                    e.preventDefault();
                    $.post(href,
                        {
                            id: postid
                        },
                        function(data, status){
                    
                            if (!data.result) {
                                alert(data);
                            } else {
                            location.reload();
                            }
                        });
                });
            });
        </script>

}

