@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.FileProviders
@using SnitzCore.Data.Extensions
@using SnitzCore.Service

@{
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}
@section MetaData
{
    <title>@Localizer["mnuAbout"] @Config.Value.strForumTitle</title>
    <meta name="title" content="@Localizer["mnuAbout"] @Config.Value.strForumTitle" />
    <meta name="description" content="@Config.Value.strForumDescription" />
    <meta name="robots" content="index,follow" />

}

@section Styles{
<style>
    .nav-tabs {
        border: 0;
    }
    .nav-tabs .nav-item {
        border: 0;
    }
    .nav-tabs .nav-item .nav-link.active {
        background-color: transparent;
        color: #000;
        border: 0;
        border-bottom: 2px solid black;
    }
    .avatarlarge{
        max-height:100px;
        max-width:100px;
    }
    .modal-content{
        background-color: rgba(255, 255, 255, 0.85);
        width:640px;
    }
    .user-info .user-detail .name-line .name, .user-info .user-detail .name-line .username {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .user-card .names__primary, .group-card .names__primary {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.2;
        font-size: 2em;
        font-weight: bold;
    }
    .public-user-fields .user-field-name {
        font-weight: bold;
        display:block;
    }
    .user-info .user-detail .name-line span:first-child {
    font-weight: bold;
    display:block;
    }

</style>

}

<div class="container my-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true">About</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="privacy-tab" data-bs-toggle="tab" data-bs-target="#privacy" type="button" role="tab" aria-controls="privacy" aria-selected="false">Privacy</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="cookie-tab" data-bs-toggle="tab" data-bs-target="#cookie" type="button" role="tab" aria-controls="cookie" aria-selected="false">Cookies</button>
        </li> 
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact Us</button>
        </li> 
    </ul>

    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <partial name="Lang/@lang/_About" fallback-name="Lang/en/_About" />
        </div>
        <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
            <partial name="Lang/@lang/_PrivacyPolicy" fallback-name="Lang/en/_PrivacyPolicy" />
        </div>
        <div class="tab-pane fade" id="cookie" role="tabpanel" aria-labelledby="cookie-tab">
            <partial name="Lang/@lang/_CookiePolicy" fallback-name="Lang/en/_CookiePolicy" />
        </div>  
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card contact-card" id="contact-sendemail">
                <div class="card-body text-dark">
                    <form id="contact-sendemail-form" method="post" asp-controller="Account" asp-action="ContactUs" class="needs-validation p-2" novalidate data-ajax="true" data-ajax-update="#contact-sendemail" data-ajax-complete="emailcompleted">
                        <input name="To" type="hidden" value="@SnitzConfig.GetValueWithDefault("STRCONTACTEMAIL", "")" />
                        <div class="mb-3">
                            <label for="Subject">@Localizer["EmailReason"]</label>
                            <input name="Subject" class="form-control" required="required" placeholder="Please provide a reason for contacting us ..." />
                            <span validation-for="Subject"></span>
                            <div class="invalid-feedback text-danger-emphasis">@Localizer["PropertyRequired","Reason for Email"]</div>
                        </div>
                        <div class="mb-3">
                            <label for="email-text">@Localizer["Message"]</label>
                            <textarea name="Message" class="form-control email-text" id="email-text" rows="5" required="required"></textarea>
                            <span validation-for="Message"></span>
                            <div class="invalid-feedback text-danger-emphasis">@Localizer["MessageRequired"]</div>
                        </div>
                        <div class="mb-3 p-2">
                            <button type="reset" class="btn btn-warning ">@Localizer["btnReset"]</button>
                            <button id="send-email" type="submit" class="btn btn-success" aria-label="Send Email"><i class="fa fa-paper-plane" aria-hidden="true"></i> @Localizer["btnSend"] </button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>

<div id="memberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-bg-dark">
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-outline-light">X</a>
                <h4 class="bg-dark text-bg-dark" id="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="member-modal"></div>
            </div>
            <div class="modal-footer">
                <a href="#" id="btnOk" class="btn btn-danger">@Localizer["btnOk"]</a>
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-secondary">@Localizer["btnCancel"]</a>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                ValidateForms();
            }, false);
        })();
        emailcompleted = function (xhr) {

            $('#contact-sendemail').html(xhr.responseJSON.viewString);
            if(xhr.responseJSON.status == 200){
                $('#send-email').prop("disabled", true);
            }
        };
        window.addEventListener
        (
            'popstate',
            function( event )
            {
                tab_change();
            }
        );
        tab_change();
        function tab_change(){           
            var anchorHash = window.location.href.toString();
            if( anchorHash.lastIndexOf('#') != -1 ) {
                anchorHash = anchorHash.substr(anchorHash.lastIndexOf('#'));
                var activeTab = anchorHash.replace("#","");
                $("#myTab .nav-link.active").removeClass("active");
                $("#myTabContent .tab-pane.active").removeClass("active").removeClass("show");
                $("#myTab #" + activeTab+ "-tab").addClass("active");
                $("#myTabContent #" + activeTab ).addClass("active").addClass("show");
                $('html, body').animate({scrollTop: '0px'}, 300);
            }
        }

        $(document).on("click", ".email-link", function(e) {
            e.preventDefault();
            var memberid = $(this).data("id");
            var href = $(this).data("url");
            $('#modal-title').html('Send Email');
            $('#member-modal').load(href + "/" + memberid, function() {});
            $('#memberModal #btnOk').hide();

            $(document).on("click",
                "#send-email",
                function(e) {
                    e.preventDefault();
                    $(this).prop('disabled', true);
                    var post_url = $('#sendemail-form').attr("action");
                    var form_data = $('#sendemail-form').serialize();
                    $.ajax({
                        url: post_url,
                        type: "POST",
                        data: form_data
                    }).done(function(response) {
                        if (response.result) {
                            $('#memberModal').modal('hide');
                        } else {
                            //Dont close the modal, display the error
                            $('#member-modal').html(response);
                        }
                    });
                });
            $('#memberModal').data('id', memberid).modal('show');
        });


    </script>
}
