@model SnitzCore.BackOffice.ViewModels.AdminEmailServer

@{
    Layout = "_MasterLayout";
}

    <div class="m-3">
        <div class="nav nav-tabs me-3" role="tablist" id="emailTab">
            <button class="nav-link active" data-bs-target="#email-server" role="tab" data-bs-toggle="pill">Email server settings</button>
            <button class="nav-link" data-bs-target="#email-spam" role="tab" data-bs-toggle="pill">Spam domains</button>
        </div>

        <div class="tab-content bg-white p-4">
            <div class="tab-pane fade w-100 active show" id="email-server" role="tabpanel" aria-labelledby="server-tab">
            <form asp-action="EmailConfigUpdate" asp-controller="Admin" method="POST" data-ajax="true" data-ajax-update="#ResultsDiv" class="form-inline row">


                    <div class="col-sm-5 text-left">
                        <fieldset>
                            <legend>Email Server</legend>
                            <hr/>
                            <div class="mb-3">
                                <label class="form-label">Server address</label>
                                @Html.TextBoxFor(model => model.Server, new { @class = "form-control" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Server port</label>
                                @Html.TextBoxFor(model => model.Port, new { @class = "form-control" })
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="Auth" type="checkbox" value="" id="checkbox-auth">
                                    <label class="form-check-label" for="checkbox-auth">
                                    Requires Authentication
                                    </label>
                                </div>
                            </div>
                            <div id="smtp-auth"
                                 @if (!Model.Auth)
                                 {
                                     @Html.Raw("style='display:none'")
                                 }>

                                <div class="mb-3 user-cred">
                                    <label class="form-label">Username</label>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                </div>
                                <div class="mb-3 user-cred">
                                    <label class="form-label">Password</label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ssl method</label>
                                @Html.TextBoxFor(model => model.SslMode, new { @class = "form-control", @type = "text" })
                            </div>
                            <div class="mb-3">
                                <p>@Html.ValidationSummary(false, "", new { @class = "list-group-item-info" })</p>
                                <div class="form-text">
                                    <p>
                                        Which port should I use?<br/>
                                        Use port 587 if you can, 465 if you can’t, 25 if you must.<br/>
                                        <br/>
                                        Port 587 is technically correct, the best kind of correct. However, many ESPs have adopted implicit TLS on port 465. While you can send email over port 25 and 2525, it’s much more secure to have the messages encrypted. This makes port 587 the preferred option for sending, with port 465 as a close second.
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 flip text-left">
                        <fieldset>
                            <legend>Forum email settings</legend>
                            <hr/>
                            <div class="mb-3">
                                <label class="form-label">Contact Email:</label>
                                @Html.TextBoxFor(model => model.ContactEmail, new { @class = "form-control inline" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">From Email:</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control resource-edit" placeholder="Resource string" value="@Model.From" name="From"/>
                                    <span class="input-group-btn">
                                        <button data-toggle="tooltip" type="button" class="btn btn-default send-email" title="Send test email" data-id="@User.Identity!.Name"><i class="fa fa-envelope"></i></button>
                                    </span>
                                </div>
                            </div>

                            <legend>Member email settings</legend>
                            <hr/>
                            <div class="mb-3">
                                <admin-config config-key="STRUNIQUEEMAIL" config-label="Require Unique Email" config-val="@SnitzConfig.GetIntValue("STRUNIQUEEMAIL")"></admin-config>
                                <admin-config config-key="STREMAILVAL" config-label="Validate email addresses" config-val="@SnitzConfig.GetIntValue("STREMAILVAL")"></admin-config>
                                <admin-config config-key="STRLOGONFORMAIL" config-label="Logon to send email" config-val="@SnitzConfig.GetIntValue("STRLOGONFORMAIL")"></admin-config>
                            </div>

                            <div class="mb-3">
                                <label for="emailpostcount" class="form-label">Number of posts to allow sending email:</label>
                                <input id="emailpostcount" class="form-control" type="number" name="INTMAXPOSTSTOEMAIL" value="@(SnitzConfig.GetIntValue("INTMAXPOSTSTOEMAIL"))"/>
                                <input type="text" id="emailadmin" name="emailadmin" value="1" style="display: none;"/>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" name="STRNOMAXPOSTSTOEMAIL" rows="4">@(SnitzConfig.GetValue("STRNOMAXPOSTSTOEMAIL"))</textarea>
                            </div>
                        </fieldset>
                    </div>
                    <div class="mb-3"><partial name="_FormButtons"/></div>

                </form>
                <div id="ResultsDiv"></div>
            </div>

            <div class="tab-pane fade w-100" id="email-spam" role="tabpanel" aria-labelledby="spam-tab">
                <form method="POST" class="banned-add" id="form-adddom" data-ajax="true" data-ajax-update="#result-spamdomain" data-ajax-mode="replace">
                    <div class="mb-3">
                        <admin-config config-key="STRFILTEREMAILADDRESSES" config-label="Filter known spam domains" config-val="@SnitzConfig.GetIntValue("STRFILTEREMAILADDRESSES")"></admin-config>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" name="EmailDomain" class="form-control" placeholder="New Spam domain, example @@test.com" aria-label="domain to ban" aria-describedby="button-addon2" required>
                            @Html.ActionLink(" ", "AddSpamDomain", "Admin", new { }, new { @class = "fa fa-save fa-2x p-2 add-lnk", @id = "button-addon2", title = "Add Domain", data_toggle = "tooltip" })
                        </div>
                    </div>
                    <div id="result-spamdomain" class="mb-3"></div>
                    <hr/>
                </form>
                <div class="container-fluid" style="max-height: 500px; overflow-y: scroll;">
                    <legend>Banned Domains</legend>
                    <hr/>
                    @for (int i = 0; i < Model.BannedDomains?.Length; i++)
                    {
                        <form method="POST" class="banned-doms" id="form-banned_@Model.BannedDomains[i].Id" data-ajax="true" data-ajax-update="#result-spamfilter" data-ajax-mode="replace">
                            <div class="input-group">
                                @Html.TextBoxFor(m => Model.BannedDomains[i].Server, new { @class = "form-control" })
                                <button class="btn btn-light delete-dom" type="button" title="Delete Domain" data-id="@Model.BannedDomains[i].Id"><i class='fa fa-trash fa-2x'></i></button>
                                <button class="btn btn-light save-dom" type="button" title="Save Changes" data-id="@Model.BannedDomains[i].Id"><i class='fa fa-save fa-2x'></i></button>
                                <input type="hidden" asp-for="@Model.BannedDomains[i].Id"/>
                                <input type="hidden" name="counter" value="@i"/>
                            </div>
                        </form>
                    }
                </div>
                <div id="result-spamfilter" class="mb-3"></div>
                <hr/>
                <div class="mb-3">
                    <button type="button" href="@Url.Action("Import", "Admin")" class="btn btn-primary" data-bs-target="#modal-container" data-bs-toggle="modal">Import Domain Data</button>
                </div>
            </div>
        </div>

    </div>

<div id='emailModal' class='modal fade in' data-url='@Url.Action("TestEmail", "Account")' aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title" id="myModalLabel">Member</h4>
            </div>
            <div id='emailContainer' class="modal-body">
                <div class="container text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js" ></script>
    <script type="text/javascript">
        failed = function (xhr) {
            alert('Status: {xhr.status}, Status text: {xhr.statusText}');
        }
        $(".delete-dom").on("click", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-banned_" + id).attr("data-ajax-url", "~/Admin/DeleteSpamDomain");
            $("#form-banned_" + id).submit();
        });
        $("#button-addon2").on("click", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-adddom").attr("data-ajax-url", "~/Admin/AddSpamDomain");
            $("#form-adddom").submit();
        });
        $("#STRFILTEREMAILADDRESSES").on("change", function (e) {
            e.preventDefault();
            alert("change");
            var id = $(this).data("id");
            $("#form-adddom").attr("data-ajax-url", "~/Admin/AddSpamDomain");
            $("#form-adddom").submit();
        });
        $(".save-dom").on("click", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-banned_" + id).attr("data-ajax-url", "~/Admin/SaveSpamDomain");
            $("#form-banned_" + id).submit();

        });
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#email-setup").addClass("active");
        $('#checkbox-auth').on('change',function() {
            $('#smtp-auth').toggle();
        })

    </script>}