@model SnitzCore.BackOffice.ViewModels.AdminEmailServer

@{
    Layout = "AdminLayout";
    string disableme = "";
    if (!User.IsInRole("SuperAdmin"))
    {
        disableme = "disabled";
    }
}

    <div class="m-3">
        <div class="nav nav-tabs me-3" role="tablist" id="emailTab">
            <button class="nav-link active" data-bs-target="#email-server" role="tab" data-bs-toggle="pill">Email server settings</button>
            <button class="nav-link" data-bs-target="#email-spam" role="tab" data-bs-toggle="pill">Spam domains</button>
        </div>

        <div class="tab-content bg-white p-4">
            <div class="tab-pane fade active show" id="email-server" role="tabpanel" aria-labelledby="server-tab">
            <form asp-action="EmailConfigUpdate" asp-controller="Admin" method="POST" data-ajax="true" data-ajax-update="#ResultsDiv" class="form-inline row">


                    <div class="col-sm-5 text-left">
                        <fieldset @disableme>
                            <legend>Email Server</legend>
                            <hr/>
                            <div class="mb-3">
                                <label class="form-label">Server address</label>
                                @Html.TextBoxFor(model => model.Server, new { @class = "form-control" })
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Server port</label>
                                @Html.TextBoxFor(model => model.Port, new { @class = "form-control" })
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="Auth" type="checkbox" value="" id="checkbox-auth">
                                    <label class="form-check-label" for="checkbox-auth">
                                    Requires Authentication
                                    </label>
                                </div>
                            </div>
                            <div id="smtp-auth"
                                 @if (!Model.Auth)
                                 {
                                     @Html.Raw("style='display:none'")
                                 }>

                                <div class="mb-3 user-cred">
                                    <label class="form-label">Username</label>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                </div>
                                <div class="mb-3 user-cred">
                                    <label class="form-label">Password</label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ssl method</label>
                                @Html.TextBoxFor(model => model.SslMode, new { @class = "form-control", @type = "text" })
                            </div>
                            <div class="mb-3">
                                <p>@Html.ValidationSummary(false, "", new { @class = "list-group-item-info" })</p>
                                <div class="form-text">
                                    <p>
                                        Which port should I use?<br/>
                                        Use port 587 if you can, 465 if you can’t, 25 if you must.<br/>
                                        <br/>
                                        Port 587 is technically correct, the best kind of correct. However, many ESPs have adopted implicit TLS on port 465. While you can send email over port 25 and 2525, it’s much more secure to have the messages encrypted. This makes port 587 the preferred option for sending, with port 465 as a close second.
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 flip text-left">
                    <fieldset @disableme>
                            <legend>Forum email settings</legend>
                            <hr/>
                            <div class="mb-3">
                                <label class="form-label">Contact Email:</label>
                                <i class="fa fa-question-circle fs-4" data-bs-toggle="tooltip" title="@Localizer["STRCONTACTEMAIL"]"></i>
                            <input type="text" class="form-control inline" placeholder="Reply To address" value="@Model.ContactEmail" name="ContactEmail"  />
                            </div>
                            <div class="mb-3">
                            <label class="form-label">From Email:</label><i class="fa fa-question-circle fs-4" data-bs-toggle="tooltip" title="@Localizer["STRFROMEMAIL"]"></i>
                                <div class="input-group col-xs-12">
                                <input type="text" class="form-control resource-edit" placeholder="Resource string" value="@Model.From" name="From" />
                                <span snitz-if="@(SnitzConfig.GetValueWithDefault("STRADMINUSER",null) != null)" class="input-group-btn">
                                        <button data-toggle="tooltip" type="button" class="btn btn-default send-emailtest" title="Send test email" data-id="-1" ><i class="fa fa-envelope"></i></button>
                                    </span>
                                </div>
                            </div>
                            <legend>Member email settings</legend>
                            <hr/>
                            <div class="mb-3">
                                <admin-config config-key="STRUNIQUEEMAIL" config-label="Require Unique Email" config-val="@SnitzConfig.GetIntValue("STRUNIQUEEMAIL")" help-text="@Localizer["STRUNIQUEEMAIL"].Value"></admin-config>
                                <admin-config config-key="STREMAILVAL" config-label="Validate email addresses" config-val="@SnitzConfig.GetIntValue("STREMAILVAL")" help-text="@Localizer["STREMAILVAL"].Value"></admin-config>
                                <admin-config config-key="STRLOGONFORMAIL" config-label="Logon to send email" config-val="@SnitzConfig.GetIntValue("STRLOGONFORMAIL")" help-text="@Localizer["STRLOGONFORMAIL"].Value"></admin-config>
                            </div>
                            <div class="mb-3">
                                <admin-config config-type="number" config-key="INTMAXPOSTSTOEMAIL" config-label="Number of posts to allow sending email" config-val="@SnitzConfig.GetIntValue("INTMAXPOSTSTOEMAIL")" help-text="@Localizer["INTMAXPOSTSTOEMAIL"].Value"></admin-config>
                                <input type="text" id="emailadmin" name="emailadmin" value="1" style="display: none;"/>
                            </div>
                            <div class="mb-3">
                                <admin-config config-type="textarea" config-key="STRNOMAXPOSTSTOEMAIL" config-label="" config-val="@SnitzConfig.GetValue("STRNOMAXPOSTSTOEMAIL")"></admin-config>
                            </div>
                        </fieldset>
                    </div>
                    <div class="mb-3"><partial name="_FormButtons"/></div>
                </form>
                <div id="ResultsDiv"></div>
            </div>
            <div class="tab-pane fade" id="email-spam" role="tabpanel" aria-labelledby="spam-tab">
                <form method="POST" class="banned-add" id="form-adddom" data-ajax="true" data-ajax-update="#result-spamdomain" data-ajax-mode="replace">
                    <div class="mb-3">
                        <admin-config config-key="STRFILTEREMAILADDRESSES" config-label="Filter known spam domains" config-val="@SnitzConfig.GetIntValue("STRFILTEREMAILADDRESSES")" help-text="@Localizer["STRFILTEREMAILADDRESSES"].Value"></admin-config>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="text" name="EmailDomain" class="form-control" placeholder="New Spam domain, example @@test.com" aria-label="domain to ban" aria-describedby="button-addon2" required>
                            @Html.ActionLink(" ", "AddSpamDomain", "Admin", new { }, new { @class = "fa fa-save fa-2x p-2 add-lnk", @id = "button-addon2", title = "Add Domain", data_bs_toggle = "tooltip" })
                        </div>
                    </div>
                    <div id="result-spamdomain" class="mb-3"></div>
                    <hr/>
                </form>
                <div class="container-fluid" style="max-height: 500px; overflow-y: scroll;">
                    <h5>Banned Domains</h5>
                    <hr/>
                    @for (int i = 0; i < Model.BannedDomains?.Length; i++)
                    {
                        <form method="POST" class="banned-doms" id="form-banned_@Model.BannedDomains[i].Id" data-ajax="true" data-ajax-update="#result-spamfilter" data-ajax-mode="replace">
                            <div class="input-group">
                                @Html.TextBoxFor(m => Model.BannedDomains[i].Server, new { @class = "form-control" })
                            <button class="btn btn-light delete-dom" type="button" title="Delete Domain" data-bs-toggle="tooltip" data-id="@Model.BannedDomains[i].Id"><i class='fa fa-trash fa-2x'></i></button>
                            <button class="btn btn-light save-dom" type="button" title="Save Changes" data-bs-toggle="tooltip" data-id="@Model.BannedDomains[i].Id"><i class='fa fa-save fa-2x'></i></button>
                                <input type="hidden" asp-for="@Model.BannedDomains[i].Id"/>
                                <input type="hidden" name="counter" value="@i"/>
                            </div>
                        </form>
                    }
                </div>
                <div id="result-spamfilter" class="mb-3"></div>
                <hr/>
                <div class="mb-3">
                    <button type="button" disabled href="@Url.Action("Import", "Admin")" class="btn btn-primary" data-bs-target="#modal-container" data-bs-toggle="modal">Import Domain Data</button>
                </div>
            </div>
        </div>

    </div>

<modal id="emailModal" title="Email Admin" data-url='@Url.Action("EmailMember", "Account")'>
    <modal-body>
        <div id='emailContainer'>
            <div class="text-center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
        <button id="send-email" form="sendemail-form" type="submit" class="btn btn-success">@Localizer["btnSend"] <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button type="reset" form="sendemail-form" class="btn btn-warning ">@Localizer["btnReset"]</button>
    </modal-footer>
</modal>
@section Scripts
{
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js" ></script>
    <script type="text/javascript">
        failed = function (xhr) {
            alert('Status: {xhr.status}, Status text: {xhr.statusText}');
        }
            $(document).on('click', '.send-emailtest',function () {
                console.log("send email");
                var userid = $(this).data('id');
                $.get(SnitzVars.baseUrl + '/Account/EmailMember/' + userid, function (data) {
                    $('#emailContainer').html(data);
                    $.validator.unobtrusive.parse($("#sendemail-form"));
                    $('#emailModal').modal('show');
                });
            });
        $(document).on("click", ".delete-dom", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-banned_" + id).attr("data-ajax-url", SnitzVars.baseUrl + "/Admin/DeleteSpamDomain");
            $("#form-banned_" + id).submit();
        });
        $(document).on("click", "#button-addon2", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-adddom").attr("data-ajax-url", SnitzVars.baseUrl + "/Admin/AddSpamDomain");
            $("#form-adddom").submit();
        });
        $(document).on("change", "#STRFILTEREMAILADDRESSES", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-adddom").attr("data-ajax-url", SnitzVars.baseUrl + "/Admin/AddSpamDomain");
            $("#form-adddom").submit();
        });
        $(document).on("click", ".save-dom", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $("#form-banned_" + id).attr("data-ajax-url", SnitzVars.baseUrl + "/Admin/SaveSpamDomain");
            $("#form-banned_" + id).submit();

        });
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#email-setup").addClass("active");
        $('#checkbox-auth').on('change',function() {
            $('#smtp-auth').toggle();
        })

    </script>}