@using SnitzCore.Data.Interfaces
@using SnitzCore.Data.Models
@{
    Layout = "_MasterLayout";
    ViewBag.PageTitle = "Feature Configuration";
}
<div class="mt-3">
<legend>Features</legend>
<hr/>
<div class="">
<div class="nav nav-tabs me-3" id="v-pills-tab" role="tablist">
    <button class="nav-link active" id="v-pills-general-tab" data-bs-toggle="pill" data-bs-target="#v-pills-general" type="button" role="tab" aria-controls="v-pills-general" aria-selected="true">General</button>
    <button class="nav-link" id="v-pills-moderation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-moderation" type="button" role="tab" aria-controls="v-pills-moderation" aria-selected="false">Moderation</button>
    <button class="nav-link" id="v-pills-forum-tab" data-bs-toggle="pill" data-bs-target="#v-pills-forum" type="button" role="tab" aria-controls="v-pills-forum" aria-selected="false">Forum</button>
    <button class="nav-link" id="v-pills-topic-tab" data-bs-toggle="pill" data-bs-target="#v-pills-topic" type="button" role="tab" aria-controls="v-pills-topic" aria-selected="false">Topic</button>
    <button class="nav-link" id="v-pills-posting-tab" data-bs-toggle="pill" data-bs-target="#v-pills-posting" type="button" role="tab" aria-controls="v-pills-posting" aria-selected="false">Posting</button>
    <button class="nav-link" id="v-pills-spam-tab" data-bs-toggle="pill" data-bs-target="#v-pills-spam" type="button" role="tab" aria-controls="v-pills-spam" aria-selected="false">Anti-Spam</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Private Messaging</button>
    <button class="nav-link" id="v-pills-announce-tab" data-bs-toggle="pill" data-bs-target="#v-pills-announce" type="button" role="tab" aria-controls="v-pills-announce" aria-selected="false">Announcement</button>
    <button class="nav-link" id="v-pills-plugin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-plugin" type="button" role="tab" aria-controls="v-pills-plugin" aria-selected="false">Plugins</button>
</div>
<div class="tab-content bg-white p-4" id="v-pills-tabContent">
<div class="tab-pane fade show active w-100" id="v-pills-general" role="tabpanel" aria-labelledby="feature-tab">
    <legend>General</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <admin-config config-key="STRIPLOGGING" config-label="IP Logging" config-val="@SnitzConfig.GetIntValue("STRIPLOGGING")"></admin-config>
        <fieldset @(SnitzConfig.GetIntValue("STRIPLOGGING") == 0 ? "disabled" : "") id="IPLOGENABLED">
            <div class="row">
                <div class="col">
                    <admin-config config-key="STRIPLOOKUP" config-label="third party service" config-val="@SnitzConfig.GetValue("STRIPLOOKUP")" placeholder="URL to third party lookup service"></admin-config>
                </div>
                <div class="col"></div>
            </div>
            <div class="form-text mb-3">use [IP] to indicate where the IP should be passed in the url<br/>e.g. http://www.ripe.net/whois?form_type=simple&full_query_string=&searchtext=[IP]</div>
        </fieldset>
        <admin-config config-key="INTFULLTEXT" config-label="Use Fulltext search" config-val="@SnitzConfig.GetIntValue("INTFULLTEXT")"></admin-config>
        <admin-config config-key="STRGROUPCATEGORIES" config-label="Group Categories" config-val="@SnitzConfig.GetIntValue("STRGROUPCATEGORIES")"></admin-config>
        @*             <div class="form-group">
        <label for="" class="control-label col-xs-12 col-sm-3">Highest level of Subscription:</label>
        <div class="col-xs-12 col-sm-4">
        @Html.EnumDropDownListFor(m => m.SubscriptionLevel, new { @class = "form-control inline" }, "")
        </div>
        </div> *@
        <admin-config config-key="INTPROTECTCONTENT" config-label="Protected Content" config-val="@SnitzConfig.GetIntValue("INTPROTECTCONTENT")"></admin-config>
        <admin-config config-key="INTALLOWHIDEONLINE" config-label="Allow members to hide from Online" config-val="@SnitzConfig.GetIntValue("INTALLOWHIDEONLINE")"></admin-config>
        <hr class="title"/>
        <div class="row mb-3">
            <div class="col">
                <admin-config config-key="STRPAGESIZE" config-label="Default page size" config-val="@SnitzConfig.GetValue("STRPAGESIZE")"></admin-config>
            </div>
            <div class="col">
                <admin-config config-key="STRACCOUNTPAGESIZES" config-label="Members Page size" config-val="@SnitzConfig.GetValue("STRACCOUNTPAGESIZES", "20")"></admin-config>
            </div>
        </div>
        <partial name="_FormButtons"/>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-moderation" role="tabpanel" aria-labelledby="moderation-tab">
    <legend>Moderation</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <div class="mb-3">
            <admin-config config-key="STRMODERATION" config-label="Allow Topic Moderation" config-val="@SnitzConfig.GetIntValue("STRMODERATION")"></admin-config>
            <admin-config config-key="STRSHOWMODERATORS" config-label="Show Moderators" config-val="@SnitzConfig.GetIntValue("STRSHOWMODERATORS")"></admin-config>
            <admin-config config-key="STRMOVETOPICMODE" config-label="Restrict Topic move" config-val="@SnitzConfig.GetIntValue("STRMOVETOPICMODE")"></admin-config>
            <admin-config config-key="STRMOVENOTIFY" config-label="Email author when moving topics" config-val="@SnitzConfig.GetIntValue("STRMOVENOTIFY")"></admin-config>
        </div>
        <partial name="_FormButtons"/>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-forum" role="tabpanel" aria-labelledby="forum-tab">
    <legend>Forum Settings</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <div class="mb-3">
            <admin-config config-key="STRPRIVATEFORUMS" config-label="Private Forums" config-val="@SnitzConfig.GetIntValue("STRPRIVATEFORUMS")"></admin-config>
            <admin-config config-key="STRARCHIVESTATE" config-label="Archive functions" config-val="@SnitzConfig.GetIntValue("STRARCHIVESTATE")"></admin-config>
            <admin-config config-key="INTTOPICRATING" config-label="Allow Topic rating" config-val="@SnitzConfig.GetIntValue("INTTOPICRATING")"></admin-config>
            <admin-config config-key="STRSHOWSTATISTICS" config-label="Show detailed statistics" config-val="@SnitzConfig.GetIntValue("")"></admin-config>
            <admin-config config-key="STRJUMPLASTPOST" config-label="Show Jump To Last post link" config-val="@SnitzConfig.GetIntValue("STRJUMPLASTPOST")"></admin-config>
            <admin-config config-key="INTFORUMRSS" config-label="Show RSS Link" config-val="@SnitzConfig.GetIntValue("INTFORUMRSS")"></admin-config>
            <admin-config config-key="STRSHOWPAGING" config-label="Show quick paging" config-val="@SnitzConfig.GetIntValue("STRSHOWPAGING")"></admin-config>
            <fieldset @(SnitzConfig.GetIntValue("STRSHOWPAGING") == 0 ? "disabled" : "") id="PAGINGENABLED">
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRPAGENUMBERSIZE" config-label="Page numbers per row" config-val="@SnitzConfig.GetIntValue("STRPAGENUMBERSIZE")"></admin-config>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRFORUMPAGESIZES" config-label="Page sizes" config-val="@SnitzConfig.GetValue("STRFORUMPAGESIZES", "10,25,50,100")"></admin-config>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRSEARCHPAGESIZES" config-label="Search results page size" config-val="@SnitzConfig.GetValue("STRSEARCHPAGESIZES", "10")"></admin-config>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </fieldset>
        </div>
        <partial name="_FormButtons"/>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-topic" role="tabpanel" aria-labelledby="topic-tab">
    <legend>Topic settings</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <div class="mb-3">
            @if (SnitzConfig.TableExists("FORUM_BOOKMARKS"))
            {
                <admin-config config-key="STRBOOKMARK" config-label="Allow Bookmarks" config-val="@SnitzConfig.GetIntValue("STRBOOKMARK", 0)"></admin-config>
            }
            <admin-config config-key="STRSTICKYTOPIC" config-label="Allow Sticky Topics" config-val="@SnitzConfig.GetIntValue("STRSTICKYTOPIC")"></admin-config>
            <admin-config config-key="STRHOTTOPIC" config-label="Hot Topics" config-val="@SnitzConfig.GetIntValue("STRHOTTOPIC")"></admin-config>
            <fieldset @(SnitzConfig.GetIntValue("STRHOTTOPIC") == 0 ? "disabled" : "") id="HOTTOPICSENABLED">
                <div class="row">
                    <div class="col">
                        <admin-config config-key="INTHOTTOPICNUM" config-label="Hot Topic Count" config-val="@SnitzConfig.GetValue("INTHOTTOPICNUM")"></admin-config>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </fieldset>
            <admin-config config-key="STREDITEDBYDATE" config-label="Show edited by on Date" config-val="@SnitzConfig.GetIntValue("STREDITEDBYDATE")"></admin-config>
            <admin-config config-key="STRSHOWTOPICNAV" config-label="Show Prev / Next Topic" config-val="@SnitzConfig.GetIntValue("STRSHOWTOPICNAV")"></admin-config>
            <admin-config config-key="STRSHOWSENDTOFRIEND" config-label="Show send Topic to a friend link" config-val="@SnitzConfig.GetIntValue("STRSHOWSENDTOFRIEND")"></admin-config>
            <admin-config config-key="STRSHOWPRINTERFRIENDLY" config-label="Show printer friendly link" config-val="@SnitzConfig.GetIntValue("STRSHOWPRINTERFRIENDLY")"></admin-config>
            <admin-config config-key="STRSOCIALSHARE" config-label="Social Media links" config-val="@SnitzConfig.GetIntValue("STRSOCIALSHARE")"></admin-config>
            <admin-config config-key="INTTOPICDISPLAY" config-label="Show Topic on all pages" config-val="@SnitzConfig.GetIntValue("INTTOPICDISPLAY")"></admin-config>
            <div class="row">
                <div class="col">
                    <admin-config config-key="STRTOPICPAGESIZES" config-label="Page size" config-val="@SnitzConfig.GetValue("STRTOPICPAGESIZES", "10,25,50,100")"></admin-config>
                </div>
                <div class="col">
                    <admin-config config-key="STRACTIVEPAGESIZES" config-label="Active Topics page size" config-val="@SnitzConfig.GetValue("STRACTIVEPAGESIZES", "10,20,50")"></admin-config>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <admin-config config-key="INTRECENTCOUNT" config-label="Recent Topics list" config-val="@SnitzConfig.GetValue("INTRECENTCOUNT", "5")"></admin-config>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <button type="reset" class="btn btn-outline-warning">Cancel</button>
        <button type="submit" class="btn btn-outline-success">Save</button>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-posting" role="tabpanel" aria-labelledby="posting-tab">
    <legend>Posting Options</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <div class="mb-3">
            @Html.ValidationSummary(false)
            <div class="row">
                <div class="col">
                    <admin-config config-key="STRFLOODCHECK" config-label="Enable flood Control" config-val="@SnitzConfig.GetIntValue("STRFLOODCHECK")"></admin-config>
                </div>
                <div class="col">
                    <fieldset @(SnitzConfig.GetIntValue("STRFLOODCHECK") == 0 ? "disabled" : "") id="FLOODCHECKENABLED">
                        <admin-config config-key="STRFLOODCHECKTIME" config-label="Flood lockout (seconds)" config-val="@SnitzConfig.GetValue("STRFLOODCHECKTIME", "30")"></admin-config>
                    </fieldset>
                </div>
            </div>
            <admin-config config-key="STRBADWORDFILTER" config-label="Filter out bad words" config-val="@SnitzConfig.GetIntValue("STRBADWORDFILTER")"></admin-config>
            <admin-config config-key="STRALLOWFORUMCODE" config-label="Allow Forum Code" config-val="@SnitzConfig.GetIntValue("STRALLOWFORUMCODE")"></admin-config>
            <admin-config config-key="STRIMGINPOSTS" config-label="Allow images" config-val="@SnitzConfig.GetIntValue("STRIMGINPOSTS")"></admin-config>
            <admin-config disabled="true" config-key="STRICONS" config-label="Allow icons" config-type="" config-val="@SnitzConfig.GetIntValue("STRICONS")"></admin-config>
            <admin-config config-key="STRALLOWUPLOADS" config-label="Allow File Attachments" config-val="@SnitzConfig.GetIntValue("STRALLOWUPLOADS")"></admin-config>
            <fieldset @(SnitzConfig.GetIntValue("STRALLOWUPLOADS") == 0 ? "disabled" : "") id="UPLOADSENABLED">
                <div class="row">
                    <div class="col">
                        <admin-config config-key="INTMAXFILESIZE" config-label="Max File size (Mb)" config-val="@SnitzConfig.GetValue("INTMAXFILESIZE", "10")"></admin-config>
                    </div>
                    <div class="col">
                        <admin-config config-key="STRFILETYPES" config-label="Allowed Extensions" config-val="@SnitzConfig.GetValue("STRFILETYPES", ".txt,.pdf,.zip,.png,.jpg")"></admin-config>
                    </div>
                </div>
            </fieldset>
            @if (SnitzConfig.TableExists("FORUM_IMAGES") && SnitzConfig.GetIntValue("STRALLOWUPLOADS") == 1)
            {
                if (SnitzConfig.TableExists("FORUM_IMAGES"))
                {
                    <admin-config config-key="STRPHOTOALBUM" config-label="Enable Albums" config-val="@SnitzConfig.GetIntValue("STRPHOTOALBUM")"></admin-config>
                }
                <fieldset  @(SnitzConfig.GetIntValue("STRALLOWUPLOADS") == 0 ? "disabled" : "") id="ALBUMENABLED">
                    <div class="row">
                        <div class="col">
                            <admin-config config-key="INTMAXIMAGESIZE" config-label="Max File size (Mb)" config-val="@SnitzConfig.GetValue("INTMAXIMAGESIZE", "5")"></admin-config>
                        </div>
                        <div class="col">
                            <admin-config config-key="STRIMAGETYPES" config-label="Allowed Extensions" config-val="@SnitzConfig.GetValue("STRIMAGETYPES", ".png,.jpg")"></admin-config>
                        </div>
                    </div>
                </fieldset>
            }

            <div class="row">
                <div class="col">
                    <admin-config config-key="STRSIGNATURES" config-label="Allow Signatures" config-val="@SnitzConfig.GetIntValue("STRSIGNATURES")"></admin-config>
                </div>
                <div class="col">
                    <admin-config config-key="STRDSIGNATURES" config-label="Dynamic Signatures" config-val="@SnitzConfig.GetIntValue("STRDSIGNATURES")"></admin-config>
                </div>
            </div>
            <admin-config config-key="STRSHOWQUICKREPLY" config-label="Show Quick Reply" config-val="@SnitzConfig.GetIntValue("STRSHOWQUICKREPLY")"></admin-config>
        </div>
        <partial name="_FormButtons"/>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-spam" role="tabpanel" aria-labelledby="spam-tab">
    <legend>Anti-Spam Settings</legend>
    <hr/>
    <form asp-action="SaveCaptcha" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <admin-config config-key="STRUSECAPTCHA" config-label="Use Captcha for Registration" config-val="@SnitzConfig.GetIntValue("STRUSECAPTCHA")"></admin-config>
        <admin-config config-key="INTEMAILCAPTCHA" config-label="Use Captcha when Emailing" config-val="@SnitzConfig.GetIntValue("INTEMAILCAPTCHA")"></admin-config>
        <div class="mb-3">
            <div class="form-text">
                <p>
                    The captcha automatically generates an image containing a simple maths question,
                    You can choose which operators to use below
                </p>
            </div>
            <div class="mb-3">
                <div class="col-5 col-sm-3 mb-3">

                    <select asp-for="@SnitzConfig.CaptchaOperators"
                            asp-items="@Html.GetEnumSelectList<CaptchaOperator>()" class="form-select">
                    </select>
                </div>
                <partial name="_FormButtons"/>
            </div>
            <span class="form-text">
                <legend>Example Captcha</legend><hr/>
                <span class="border-1 rounded w-50">
                    @await Component.InvokeAsync("Captcha")
                </span>
            </span>
        </div>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-messages" role="tabpanel" aria-labelledby="messages-tab">
    <legend>Private messaging</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <admin-config config-key="STRPMSTATUS" config-label="Enable Private Messages" config-val="@SnitzConfig.GetIntValue("STRPMSTATUS")"></admin-config>
        <fieldset @(SnitzConfig.GetIntValue("STRPMSTATUS") == 0 ? "disabled" : "") id="PMENABLED" class="mb-3">
            <admin-config config-key="STRPMSOUND" config-label="Play notification sound" config-val="@SnitzConfig.GetIntValue("STRPMSOUND")"></admin-config>
            <admin-config config-key="STRPMATTACH" config-label="Allow attachments" config-val="@SnitzConfig.GetIntValue("STRPMATTACH")"></admin-config>
            <admin-config config-key="STRPMSIG" config-label="Allow signatures" config-val="@SnitzConfig.GetIntValue("STRPMSIG")"></admin-config>
            <div class="row">
                <div class="col">
                    <admin-config config-key="INTMAXPMRECIPIENTS" config-label="Max PM recipients" config-val="@SnitzConfig.GetValue("INTMAXPMRECIPIENTS", "50")"></admin-config>
                </div>
                <div class="col">
                    <admin-config config-key="STRPMLIMIT" config-label="Message Limit" config-val="@SnitzConfig.GetValue("STRPMLIMIT", "500")"></admin-config>
                </div>
            </div>
        </fieldset>
        <partial name="_FormButtons"/>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-announce" role="tabpanel" aria-labelledby="announce-tab">
    <legend>Forum Announcement</legend>
    <hr/>
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <admin-config config-key="STRSHOWANNOUNCE" config-label="Show Announcement" config-val="@SnitzConfig.GetIntValue("STRSHOWANNOUNCE")"></admin-config>
        <fieldset @(SnitzConfig.GetIntValue("STRSHOWANNOUNCE") == 0 ? "disabled" : "") id="ANNOUNCEENABLED" class="mb-3">
            <admin-config config-key="STRANNOUNCETITLE" config-label="Title" config-val="@SnitzConfig.GetValue("STRANNOUNCETITLE")" placeholder="Add a title, leave blank to use default"></admin-config>
            <admin-config config-type="textarea" config-key="STRANNOUNCE" config-label="Message" config-val="@SnitzConfig.GetValue("STRANNOUNCE")" placeholder="Enter text for announcement"></admin-config>
        </fieldset>
        <partial name="_FormButtons"/>
    </form>
</div>
<div class="tab-pane fade w-100" id="v-pills-plugin" role="tabpanel" aria-labelledby="plugin-tab">
    <legend>Plugins</legend>
    <hr/>
    <form id="feature-enable" asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        @if (SnitzConfig.TableExists("FORUM_IMAGES"))
        {
            <admin-config config-key="STRPHOTOALBUM" config-label="Enable Image Albums" config-val="@SnitzConfig.GetIntValue("STRPHOTOALBUM")"></admin-config>
        }
        @if (SnitzConfig.TableExists("FORUM_BOOKMARKS"))
        {
            <admin-config config-key="STRBOOKMARK" config-label="Enable Bookmarks" config-val="@SnitzConfig.GetIntValue("STRBOOKMARK", 0)"></admin-config>
        }
        @if (SnitzConfig.TableExists("CAL_EVENTS"))
        {
            <admin-config config-key="INTCALEVENTS" config-label="Enable Events" config-val="@SnitzConfig.GetIntValue("INTCALEVENTS", 0)"></admin-config>
        }
    </form> 
    <div id="result"></div>
        @if (SnitzConfig.TableExists("CAL_EVENTS"))
        {
            <form asp-action="SaveFeatures" asp-controller="Calendar" method="POST" data-ajax="true" data-ajax-update="#event-result">
                <fieldset @(SnitzConfig.GetIntValue("INTCALEVENTS") == 0 ? "disabled" : "") class="border rounded-3 p-3 mb3" id="EVENTSADMIN">@await Component.InvokeAsync("Events", "Admin")</fieldset>
                <fieldset @(SnitzConfig.GetIntValue("INTCALEVENTS") == 0 ? "disabled" : "") class="border rounded-3 p-3" id="EVENTSCONFIG">@await Component.InvokeAsync("Events", "Config")</fieldset>
                <partial name="_FormButtons" />
            </form>
            <div id="event-result"></div>
        }


</div>
<div class="tab-pane fade w-100" id="v-pills-api" role="tabpanel" aria-labelledby="api-tab">
    @*            @Html.ConfigInt("[API] Max images per post", "INTAPIMAXUPLOADS", 0, 5, "1", false, "control-label col-xs-8 col-sm-3", "col-xs-4 col-sm-2")
<div class="form-group">
<label class="control-label col-xs-8 col-sm-3">Allowed Forums</label>
<div class="col-xs-4">
<div>
@Html.ListBoxFor(x => x.AllowedForums, new SelectList(Model.AllowedForums, "Key", "Value", ClassicConfig.GetValue("STRFILETYPES").Split(',')), new { @class = "form-control" })
<button type="button" id="rem-allowed" class="btn btn-primary btn-sm" title="Remove Forum">Remove Selected</button>
</div>
<div class="form-group">
<label class="control-label col-xs-4">Add Forum</label>
<div class="col-xs-7">
@Html.DropDownListFor(model => model.ForumId, new SelectList(Model.ForumList, "Key", "Value"), new { @class = "form-control", @tabindex = 1 })
</div>
<div class="col-xs-1"><button type="button" id="add-allowed" class="btn btn-primary btn-sm" title="Add Forum"><i class="fa fa-plus"></i></button></div>
</div>
</div>
</div>
<label class="control-label col-xs-8 col-sm-3">Audiences</label>
<div class="panel panel-primary col-xs-6">
<div class="panel-body">
<table class="table table-bordered  table-striped table-condensed">
<thead class="table-header">
<tr>
<th>Name</th>
<th colspan="2">Key</th>

</tr>
</thead>
<tbody>
@foreach (var aud in AudiencesStore.AudiencesList)
{

<tr>
<td>
<label class="form-label col-xs-4">@aud.Value.Name</label>
</td>
<td>
<label class="form-label col-xs-7">@aud.Value.Base64Secret</label>
</td>
<td><a href="@Url.Action("RemoveAudience")" data-val="@aud.Value.ClientId" class="remove-audience" title="Remove API access" data-toggle="tooltip"><i class="fa fa-trash-o fa-1_5x"></i></a></td>
</tr>

}
</tbody>
<tfoot>
<tr>
<td></td>
<td>
<input type="text" class="form-control" id="new-audience" placeholder="new audience name" />
</td>
<td><a href="@Url.Action("AddAudience")" id="add-audience" class="btn btn-sm" title="Add new Audience" data-toggle="tooltip"><i class="fa fa-plus fa-1_5x"></i></a></td>
</tr>
</tfoot>
</table>

</div>
</div>
*@
</div>


@*         <div class="col-xs-12 col-sm-10">@{
        Html.RenderPartial("_FormButtons");
        }</div> *@
<div id="result"></div>
</div>
</div>

</div>
@section Scripts
{
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        document.querySelector('#STRSHOWANNOUNCE').addEventListener('click', (e) => {
            document.querySelector('#ANNOUNCEENABLED').disabled = !e.target.checked;
        });
        document.querySelector('#STRPHOTOALBUM').addEventListener('click', (e) => {
            document.getElementById("feature-enable").requestSubmit();
        });
        document.querySelector('#STRBOOKMARK').addEventListener('click', (e) => {
            document.getElementById("feature-enable").requestSubmit();
        });
        document.querySelector('#INTCALEVENTS').addEventListener('click', (e) => {
            document.getElementById("feature-enable").requestSubmit();
            document.querySelector('#EVENTSADMIN').disabled = !e.target.checked;
            document.querySelector('#EVENTSCONFIG').disabled = !e.target.checked;
        });
        document.querySelector('#STRIPLOGGING').addEventListener('click', (e) => {
            document.querySelector('#IPLOGENABLED').disabled = !e.target.checked;
        });
        document.querySelector('#STRSHOWPAGING').addEventListener('click', (e) => {
            document.querySelector('#PAGINGENABLED').disabled = !e.target.checked;
        });
        document.querySelector('#STRHOTTOPIC').addEventListener('click', (e) => {
            document.querySelector('#HOTTOPICSENABLED').disabled = !e.target.checked;
        });
        document.querySelector('#STRFLOODCHECK').addEventListener('click', (e) => {
            document.querySelector('#FLOODCHECKENABLED').disabled = !e.target.checked;
        });
        document.querySelector('#STRALLOWUPLOADS').addEventListener('click', (e) => {
            document.querySelector('#UPLOADSENABLED').disabled = !e.target.checked;
            document.querySelector('#ALBUMENABLED').disabled = !e.target.checked;
        });
        document.querySelector('#STRPMSTATUS').addEventListener('click', (e) => {
            document.querySelector('#PMENABLED').disabled = !e.target.checked;
        });

        document.getElementById("feature-enable").addEventListener("submit", handleSubmit);

        async function handleSubmit(event) {
            console.log("submit");
            event.preventDefault();
            form = document.getElementById("feature-enable");
            var status = document.getElementById("result");
            var data = new FormData(event.target);
            fetch(event.target.action, {
                method: form.method,
                body: data,
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    status.innerHTML = "Thanks for your submission!";
                    //form.reset()
                } else {
                    response.json().then(data => {
                        if (Object.hasOwn(data, 'errors')) {
                            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                        } else {
                            status.innerHTML = "Oops! There was a problem submitting your form"
                        }
                    })
                }
            }).catch(error => {
                status.innerHTML = "Oops! There was a problem submitting your form"
            });
        }
    </script>
}

