@using BbCodeFormatter
@using BbCodeFormatter.Processors
@using SnitzCore.Data.Interfaces
@using SnitzCore.Data.Models

@{
    Layout = "AdminLayout";
    ViewBag.PageTitle = "Feature Configuration";
}
<div class="m-3">
    <div class="nav nav-tabs me-3" id="v-pills-tab" role="tablist">
        <button class="nav-link active" id="v-pills-forum-tab" data-bs-toggle="pill" data-bs-target="#v-pills-forum" type="button" role="tab" aria-controls="v-pills-forum" aria-selected="false">@Localizer["mnuAdminForum"]</button>
        <button class="nav-link" id="v-pills-topic-tab" data-bs-toggle="pill" data-bs-target="#v-pills-topic" type="button" role="tab" aria-controls="v-pills-topic" aria-selected="false">Topic</button>
        <button class="nav-link" id="v-pills-posting-tab" data-bs-toggle="pill" data-bs-target="#v-pills-posting" type="button" role="tab" aria-controls="v-pills-posting" aria-selected="false">Posting</button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">@Localizer["mnuAccountPM"]</button>
        <button class="nav-link" id="v-pills-plugin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-plugin" type="button" role="tab" aria-controls="v-pills-plugin" aria-selected="false">@Localizer["mnuAdminMODS"]</button>
    </div>
    <div class="tab-content bg-white p-2" id="v-pills-tabContent">
        <div class="tab-pane fade show active w-100" id="v-pills-forum" role="tabpanel" aria-labelledby="forum-tab">
            <h4>Forum Settings</h4>
            <hr/>
            <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-forum">
                <div class="mb-3">
                    <admin-config config-key="STRPRIVATEFORUMS" config-label="Private Forums" config-val="@SnitzConfig.GetIntValue("STRPRIVATEFORUMS")" help-text="@Localizer["STRPRIVATEFORUMS"].Value"></admin-config>
                    <admin-config config-key="STRARCHIVESTATE" config-label="Archive functions" config-val="@SnitzConfig.GetIntValue("STRARCHIVESTATE")" help-text="@Localizer["STRARCHIVESTATE"].Value"></admin-config>

                    <admin-config config-key="STRSHOWSTATISTICS" config-label="Show detailed statistics" config-val="@SnitzConfig.GetIntValue("STRSHOWSTATISTICS")" help-text="@Localizer["STRSHOWSTATISTICS"].Value"></admin-config>
                    <admin-config config-key="STRJUMPLASTPOST" config-label="Show Jump To Last post link" config-val="@SnitzConfig.GetIntValue("STRJUMPLASTPOST")" help-text="@Localizer["STRJUMPLASTPOST"].Value"></admin-config>
                    <admin-config config-key="INTFORUMRSS" config-label="Show RSS Link" config-val="@SnitzConfig.GetIntValue("INTFORUMRSS")" help-text="@Localizer["INTFORUMRSS"].Value"></admin-config>
                    <admin-config config-key="STRSHOWPAGING" config-label="Show quick paging" config-val="@SnitzConfig.GetIntValue("STRSHOWPAGING")" help-text="@Localizer["STRSHOWPAGING"].Value"></admin-config>
                    <fieldset @(SnitzConfig.GetIntValue("STRSHOWPAGING") == 0 ? "disabled" : "") id="PAGINGENABLED">
                        <div class="row">
                            <div class="col">
                                <admin-config config-key="STRPAGENUMBERSIZE" config-label="Page numbers per row" config-val="@SnitzConfig.GetIntValue("STRPAGENUMBERSIZE")" help-text="@Localizer["STRPAGENUMBERSIZE"].Value"></admin-config>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                            <div class="col">
                                <admin-config config-key="STRFORUMPAGESIZES" config-label="Page sizes" config-val="@SnitzConfig.GetValueWithDefault("STRFORUMPAGESIZES", "10,25,50,100")" help-text="@Localizer["STRFORUMPAGESIZES"].Value"></admin-config>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <admin-config config-key="STRSEARCHPAGESIZES" config-type="text" config-label="Search results page size" config-val="@SnitzConfig.GetValueWithDefault("STRSEARCHPAGESIZES", "10")" help-text="@Localizer["STRSEARCHPAGESIZES"].Value"></admin-config>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                </div>
                <partial name="_FormButtons"/>
            </form>
                <div id="result-forum"></div>
        </div>
        <div class="tab-pane fade w-100" id="v-pills-topic" role="tabpanel" aria-labelledby="topic-tab">
            <h4>Topic settings</h4>
            <hr/>
            <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-topic">
                <div class="mb-3">
                    <admin-config config-key="INTTOPICDISPLAY" config-label="Show Topic on all pages" config-val="@SnitzConfig.GetIntValue("INTTOPICDISPLAY")" help-text="@Localizer["INTTOPICDISPLAY"].Value"></admin-config>
                    <admin-config config-key="STRSHOWQUICKREPLY" config-label="Show Quick Reply" config-val="@SnitzConfig.GetIntValue("STRSHOWQUICKREPLY")" help-text="@Localizer["STRSHOWQUICKREPLY"].Value"></admin-config>

                    <admin-config config-key="STRSTICKYTOPIC" config-label="Allow Sticky Topics" config-val="@SnitzConfig.GetIntValue("STRSTICKYTOPIC")" help-text="@Localizer["STRSTICKYTOPIC"].Value"></admin-config>
                    <admin-config config-key="STRHOTTOPIC" config-label="Hot Topics" config-val="@SnitzConfig.GetIntValue("STRHOTTOPIC")" help-text="@Localizer["STRHOTTOPIC"].Value"></admin-config>
                    <fieldset @(SnitzConfig.GetIntValue("STRHOTTOPIC") == 0 ? "disabled" : "") id="HOTTOPICSENABLED">
                        <div class="row">
                            <div class="col">
                                <admin-config config-key="INTHOTTOPICNUM" config-label="Hot Topic Count" config-val="@SnitzConfig.GetIntValue("INTHOTTOPICNUM")" help-text="@Localizer["INTHOTTOPICNUM"].Value"></admin-config>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </fieldset>
                    <admin-config config-key="STREDITEDBYDATE" config-label="Show edited by on Date" config-val="@SnitzConfig.GetIntValue("STREDITEDBYDATE")" help-text="@Localizer["STREDITEDBYDATE"].Value"></admin-config>
                    <admin-config config-key="STRSHOWTOPICNAV" config-label="Show Prev / Next Topic" config-val="@SnitzConfig.GetIntValue("STRSHOWTOPICNAV")" help-text="@Localizer["STRSHOWTOPICNAV"].Value"></admin-config>
                    <admin-config config-key="STRSHOWSENDTOFRIEND" config-label="Show send Topic to a friend link" config-val="@SnitzConfig.GetIntValue("STRSHOWSENDTOFRIEND")" help-text="@Localizer["STRSHOWSENDTOFRIEND"].Value"></admin-config>
                    <admin-config config-key="STRSHOWPRINTERFRIENDLY" config-label="Show printer friendly link" config-val="@SnitzConfig.GetIntValue("STRSHOWPRINTERFRIENDLY")" help-text="@Localizer["STRSHOWPRINTERFRIENDLY"].Value"></admin-config>
                    <admin-config config-key="STRSOCIALSHARE" config-label="Social Media links" config-val="@SnitzConfig.GetIntValue("STRSOCIALSHARE")" help-text="@Localizer["STRSOCIALSHARE"].Value"></admin-config>
                    <hr/>
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-select mb-2" id="sortdir" name="STRTOPICSORT" title="@Localizer["STRTOPICSORT"].Value" data-bs-toggle="tooltip" data-bs-html="true">
                                @if (SnitzConfig.GetValueWithDefault("STRTOPICSORT", "asc") == "asc")
                                {
                                    <option value="des">@Localizer["optDesc"]</option>
                                    <option value="asc" selected>@Localizer["optAsc"]</option>
                                }
                                else
                                {
                                    <option value="des" selected>@Localizer["optDesc"]</option>
                                    <option value="asc">@Localizer["optAsc"]</option>
                                }
                            </select>
                        </div>
                        <div class="col"><span class="form-text">&nbsp;@Localizer["selSortDir"] &nbsp;</span></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <admin-config config-key="STRTOPICPAGESIZES" config-label="Topic Replies Page size" config-val="@SnitzConfig.GetValueWithDefault("STRTOPICPAGESIZES", "10,25,50,100")" help-text="@Localizer["STRTOPICPAGESIZES"].Value"></admin-config>
                        </div>
                        <div class="col">
                            <admin-config config-key="STRACTIVEPAGESIZES" config-label="Active Topics page size" config-val="@SnitzConfig.GetValueWithDefault("STRACTIVEPAGESIZES", "10,20,50")" help-text="@Localizer["STRACTIVEPAGESIZES"].Value"></admin-config>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            <admin-config config-key="INTRECENTCOUNT" config-label="Recent Topics list" config-val="@SnitzConfig.GetIntValue("INTRECENTCOUNT", 5)" help-text="@Localizer["INTRECENTCOUNT"].Value"></admin-config>
                        </div>
                        <div class="col">
                        </div>
                    </div>

                </div>
                <button type="reset" class="btn btn-outline-warning">Cancel</button>
                <button type="submit" class="btn btn-outline-success">Save</button>
            </form>
                <div id="result-topic"></div>
        </div>
        <div class="tab-pane fade w-100" id="v-pills-posting" role="tabpanel" aria-labelledby="posting-tab">
            <h4>Posting Options</h4>
            <hr/>
            <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-posts">
                <div class="mb-3">
                    @Html.ValidationSummary(false)
                    <div class="row">
                        <div class="col">
                            <admin-config config-key="STRFLOODCHECK" config-label="Enable flood Control" config-val="@SnitzConfig.GetIntValue("STRFLOODCHECK")" help-text="@Localizer["STRFLOODCHECK"].Value"></admin-config>
                        </div>
                        <div class="col">
                            <fieldset @(SnitzConfig.GetIntValue("STRFLOODCHECK") == 0 ? "disabled" : "") id="FLOODCHECKENABLED">
                                <admin-config config-key="STRFLOODCHECKTIME" config-label="Flood lockout (seconds)" config-val="@SnitzConfig.GetIntValue("STRFLOODCHECKTIME", 30)"></admin-config>
                            </fieldset>
                        </div>
                    </div>
                    <admin-config config-key="STRBADWORDFILTER" config-label="Filter out bad words" config-val="@SnitzConfig.GetIntValue("STRBADWORDFILTER")" help-text="@Localizer["STRBADWORDFILTER"].Value"></admin-config>
                    <admin-config config-key="STRALLOWFORUMCODE" config-label="Allow BB code tags" config-val="@SnitzConfig.GetIntValue("STRALLOWFORUMCODE")" help-text="@Localizer["STRALLOWFORUMCODE"].Value"></admin-config>
                    <admin-config config-key="STRIMGINPOSTS" config-label="Allow images in posts" config-val="@SnitzConfig.GetIntValue("STRIMGINPOSTS")" help-text="@Localizer["STRIMGINPOSTS"].Value"></admin-config>
                    <admin-config config-key="STRICONS" config-label="Allow smiley icons" config-val="@SnitzConfig.GetIntValue("STRICONS")" help-text="@Localizer["STRICONS"].Value"></admin-config>
                    <admin-config config-key="STRALLOWUPLOADS" config-label="Allow File Attachments" config-val="@SnitzConfig.GetIntValue("STRALLOWUPLOADS")" help-text="@Localizer["STRALLOWUPLOADS"].Value"></admin-config>
                    <fieldset @(SnitzConfig.GetIntValue("STRALLOWUPLOADS") == 0 ? "disabled" : "") id="UPLOADSENABLED">
                        <div class="row">
                            <div class="col">
                                <admin-config config-key="INTMAXFILESIZE" config-label="Max File size (MB)" config-val="@SnitzConfig.GetIntValue("INTMAXFILESIZE", 5)" help-text="@Localizer["INTMAXFILESIZE"].Value"></admin-config>
                            </div>
                            <div class="col">
                                <admin-config config-key="STRFILETYPES" config-label="Allowed Extensions" config-val="@SnitzConfig.GetValueWithDefault("STRFILETYPES", ".txt,.pdf,.zip,.png,.jpg")" help-text="@Localizer["STRFILETYPES"].Value"></admin-config>
                            </div>
                        </div>
                    </fieldset>


                    <div class="row">
                        <div class="col">
                            <admin-config config-key="STRSIGNATURES" config-label="Allow Signatures" config-val="@SnitzConfig.GetIntValue("STRSIGNATURES")" help-text="@Localizer["STRSIGNATURES"].Value"></admin-config>
                        </div>
                        <div class="col">
                            <admin-config config-key="STRDSIGNATURES" config-label="Dynamic Signatures" config-val="@SnitzConfig.GetIntValue("STRDSIGNATURES")" help-text="@Localizer["STRDSIGNATURES"].Value"></admin-config>
                        </div>
                    </div>
                </div>
                <partial name="_FormButtons"/>
            </form>
                <div id="result-posts"></div>
        </div>
        <div class="tab-pane fade w-100" id="v-pills-messages" role="tabpanel" aria-labelledby="messages-tab">
            <h4>Private messaging</h4>
            <hr/>
            <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-msg">
                <admin-config config-key="STRPMSTATUS" config-label="Enable Private Messages" config-val="@SnitzConfig.GetIntValue("STRPMSTATUS")" help-text="@Localizer["STRPMSTATUS"].Value"></admin-config>
                <fieldset @(SnitzConfig.GetIntValue("STRPMSTATUS") == 0 ? "disabled" : "") id="PMENABLED" class="mb-3">
                    <admin-config config-key="STRPMATTACH" config-label="Allow attachments" config-val="@SnitzConfig.GetIntValue("STRPMATTACH")" help-text="@Localizer["STRPMATTACH"].Value"></admin-config>
                    <admin-config config-key="STRPMSIG" config-label="Allow signatures" config-val="@SnitzConfig.GetIntValue("STRPMSIG")" help-text="@Localizer["STRPMSIG"].Value"></admin-config>
                    <admin-config config-key="STRPMSOUND" config-label="Play notification sound" config-val="@SnitzConfig.GetIntValue("STRPMSOUND")" help-text="@Localizer["STRPMSOUND"].Value"></admin-config>
                    <div class="row">
                        <div class="col">
                            <admin-config config-key="INTMAXPMRECIPIENTS" config-label="Max PM recipients" config-val="@SnitzConfig.GetIntValue("INTMAXPMRECIPIENTS", 50)" help-text="@Localizer["INTMAXPMRECIPIENTS"].Value"></admin-config>
                        </div>
                        <div class="col">
                            <admin-config config-key="STRPMLIMIT" config-label="Message Limit" config-val="@SnitzConfig.GetIntValue("STRPMLIMIT", 500)" help-text="@Localizer["STRPMLIMIT"].Value"></admin-config>
                        </div>
                    </div>
                </fieldset>
                <partial name="_FormButtons"/>
            </form>
                <div id="result-msg"></div>
        </div>
        <div class="tab-pane fade w-100" id="v-pills-plugin" role="tabpanel" aria-labelledby="plugin-tab">
            <div class="accordion accordion-flush" id="plugin-accordion">
                @await Component.InvokeAsync("AdRotator", new { template = "Admin" })
                @await Component.InvokeAsync("Polls", new { template ="Config" })
                <div class="accordion-item">
                    <h2 class="accordion-header" id="bookmark-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bookmark-collapse" aria-expanded="false" aria-controls="bookmark-collapse">
                            Bookmarks
                        </button>
                    </h2>
                    <div id="bookmark-collapse" class="accordion-collapse collapse" aria-labelledby="bookmark-heading" data-bs-parent="#plugin-accordion">
                        <div class="accordion-body">
                            @if (SnitzConfig.TableExists("FORUM_BOOKMARKS"))
                            {
                                <form id="bookmark-enable" asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
                                    <admin-config config-key="STRBOOKMARK" config-label="Enable Bookmarks" config-val="@SnitzConfig.GetIntValue("STRBOOKMARK", 0)"></admin-config>
                                </form>
                            }
                        </div>
                    </div>
                </div>
                @if (SnitzConfig.TableExists("TOPIC_RATINGS"))
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="rating-heading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rating-collapse" aria-expanded="false" aria-controls="rating-collapse">
                                Topic Rating
                            </button>
                        </h2>
                        <div id="rating-collapse" class="accordion-collapse collapse" aria-labelledby="rating-heading" data-bs-parent="#plugin-accordion">
                            <div class="accordion-body">
                                <form id="rating-enable" asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
                                    <admin-config config-key="INTTOPICRATING" config-label="Enable Rating" config-val="@SnitzConfig.GetIntValue("INTTOPICRATING", 0)"></admin-config>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                @await Component.InvokeAsync("ImageAlbum", new { template = "Config" })
                @await Component.InvokeAsync("Events", new { template = "Admin" })
                @await Component.InvokeAsync("PostThanks", new { template = "Admin" })
            </div>
        </div>
        <div id="result"></div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $(document).on("click", "#INTTOPICRATING", function (e) {
                $("#rating-enable").submit();
            });
            $(document).on("click", "#STRBOOKMARK", function (e) {
                $("#bookmark-enable").submit();
            });
            $(document).on("click", "#INTCALEVENTS", function (e) {
                $("#photoalbum-enable").submit();
                var checked = $(this).prop('checked');
                $('#EVENTSADMIN').prop("disabled", !checked);
                $('#EVENTSCONFIG').prop("disabled", !checked);
            });
            $('#STRIPLOGGING').on('change', function () {
                var checked = $(this).prop('checked');
                $('#IPLOGENABLED').prop('disabled', !checked);
            });
            $('#STRSHOWPAGING').on('change', function () {
                var checked = $(this).prop('checked');
                $('#PAGINGENABLED').prop('disabled', !checked);
            });
            $('#STRHOTTOPIC').on('change', function () {
                var checked = $(this).prop('checked');
                $('#HOTTOPICSENABLED').prop('disabled', !checked);
            });
            $('#STRFLOODCHECK').on('change', function () {
                var checked = $(this).prop('checked');
                $('#FLOODCHECKENABLED').prop('disabled', !checked);
            });
            $('#STRALLOWUPLOADS').on('change', function () {
                var checked = $(this).prop('checked');
                $('#UPLOADSENABLED').prop('disabled', !checked);
                $('#ALBUMENABLED').prop('disabled', !checked);
            });
            $('#STRPMSTATUS').on('change', function () {
                var checked = $(this).prop('checked');
                $('#PMENABLED').prop('disabled', !checked);
            });

        })


        async function handleSubmit(event) {
            event.preventDefault();
            form = document.getElementById("bookmark-enable");
            var status = document.getElementById("result");
            var data = new FormData(event.target);
            fetch(event.target.action, {
                method: form.method,
                body: data,
                headers: {
                    'Accept': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    status.innerHTML = "Thanks for your submission!";
                    //form.reset()
                } else {
                    response.json().then(data => {
                        if (Object.hasOwn(data, 'errors')) {
                            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                        } else {
                            status.innerHTML = "Oops! There was a problem submitting your form"
                        }
                    })
                }
            }).catch(error => {
                status.innerHTML = "Oops! There was a problem submitting your form"
            });
        }

        function populateRegions(country) {
            console.log("populateRegions");
            var subItems="";
            $.getJSON(SnitzVars.baseUrl + "/Calendar/GetRegions/", { id: country }, function (data) {
                subItems = "";
                $.each(data, function (index, item) {
                    if (item === '@SnitzConfig.GetValue("STRCALREGION")') {
                        subItems += "<option value='" + item + "' selected>" + item + "</option>";
                    } else {
                        subItems += "<option value='" + item + "'>" + item + "</option>";
                    }
                });
                if (subItems.length > 1) {
                    subItems = "<option value=''>Select Region</option>" + subItems;
                    $("#countryRegion").html(subItems);
                    $("#countryRegion").show();
                } else {
                    subItems = "<option value=''>No Regions</option>";
                    $("#countryRegion").html(subItems);
                    $("#countryRegion").hide();
                }

            });
        }
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#feature-config").addClass("active");

        $(document).ready(function(){
            $('button[data-bs-toggle="pill"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', e.target.id);
            });
            var activeTab = localStorage.getItem('activeTab');
            var activePlugin = localStorage.getItem('activePlugin');

            if(activeTab) {
                $("#v-pills-tab .nav-link.active").removeClass("active");
                $("#v-pills-tabContent .tab-pane.active").removeClass("active").removeClass("show");

                $("#v-pills-tab #" + activeTab).addClass("active");
                $("#v-pills-tabContent #" + activeTab.replace("-tab","")).addClass("active").addClass("show");

                switch (activeTab) {

                    case "v-pills-plugin-tab" :
                        $('#plugin-accordion').on('show.bs.collapse', function (e) {
                            console.log(e.target.id)
                            localStorage.setItem('activePlugin', e.target.id);
                            if(e.target.id == 'events-collapse'){
                                $("#STRCALCOUNTRY").on('change',function () {
                                    populateRegions($(this).val());
                                });
                                populateRegions($("#STRCALCOUNTRY").val());
                            }
                        });
                        if(activePlugin){
                            $('#' + activePlugin).collapse('toggle');
                        }
                    break;
                    
                }
            }
        });
    </script>
    <renderstoredcontent asp-key="album-groups"></renderstoredcontent>
    <renderstoredcontent asp-key="topic-poll-controls"></renderstoredcontent>
    <renderstoredcontent asp-key="events-admin"></renderstoredcontent>
    <renderstoredcontent asp-key="forum-plugins"></renderstoredcontent>
}

