@using SnitzCore.Data
@using SnitzCore.Data.Interfaces
@using SnitzCore.Data.Models

@model SnitzCore.BackOffice.ViewModels.AdminModeratorsViewModel
@{
    Layout = "AdminLayout";
    var forums = new SelectList(Model.ForumList, "Key","Value");
    
}

    <div class="m-3">
        <div class="nav nav-tabs me-3" id="v-pills-tab" role="tablist" >
        <button class="nav-link active" id="v-pills-general-tab" data-bs-toggle="pill" data-bs-target="#v-pills-general" type="button" role="tab" aria-controls="v-pills-general" aria-selected="true">General</button>

            <button class="nav-link" id="v-pills-group-tab" data-bs-toggle="pill" data-bs-target="#v-pills-group" type="button" role="tab" aria-controls="v-pills-group" aria-selected="true">Groups</button>
            <button class="nav-link" id="v-pills-moderators-tab" data-bs-toggle="pill" data-bs-target="#v-pills-moderators" type="button" role="tab" aria-controls="v-pills-moderators" aria-selected="false">Moderators</button>
            <button class="nav-link" id="v-pills-spam-tab" data-bs-toggle="pill" data-bs-target="#v-pills-spam" type="button" role="tab" aria-controls="v-pills-spam" aria-selected="false">Anti-Spam</button>
            <button class="nav-link" id="v-pills-badwords-tab" data-bs-toggle="pill" data-bs-target="#v-pills-badwords" type="button" role="tab" aria-controls="v-pills-badwords" aria-selected="false">Badwords</button>
            <button class="nav-link" id="v-pills-archive-tab" data-bs-toggle="pill" data-bs-target="#v-pills-archive" type="button" role="tab" aria-controls="v-pills-archive" aria-selected="false">Archives</button>
        <button class="nav-link" id="v-pills-announce-tab" data-bs-toggle="pill" data-bs-target="#v-pills-announce" type="button" role="tab" aria-controls="v-pills-announce" aria-selected="false">Announcement</button>
    </div>
        <div class="tab-content bg-white p-4" id="v-pills-tabContent">
        <div class="tab-pane fade show active w-100" id="v-pills-general" role="tabpanel" aria-labelledby="feature-tab">
            <h4>General</h4>
            <hr />
            <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
                <admin-config config-key="STRIPLOGGING" config-label="IP Logging" config-val="@SnitzConfig.GetIntValue("STRIPLOGGING")" help-text="@Localizer["STRIPLOGGING"].Value"></admin-config>
                <fieldset @(SnitzConfig.GetIntValue("STRIPLOGGING") == 0 ? "disabled" : "") id="IPLOGENABLED">
                    <div class="row">
                        <div class="col">
                            <admin-config config-key="STRIPLOOKUP" config-label="third party IP lookup service" config-val="@SnitzConfig.GetValue("STRIPLOOKUP")" placeholder="URL to third party lookup service" help-text="@Localizer["STRIPLOOKUP"].Value"></admin-config>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="form-text mb-3">use [IP] to indicate where the IP should be passed in the url<br />e.g. http://www.ripe.net/whois?form_type=simple&full_query_string=&searchtext=[IP]</div>
                </fieldset>
                <admin-config config-key="INTFULLTEXT" config-label="Use Fulltext search" config-val="@SnitzConfig.GetIntValue("INTFULLTEXT")" help-text="@Localizer["INTFULLTEXT"].Value"></admin-config>
                <admin-config name="STRSUBSCRIPTION" config-type="select-subs" config-key="STRSUBSCRIPTION" config-label="Highest level of Subscription" config-val="@SnitzConfig.GetIntValue("STRSUBSCRIPTION")" text-localizer-delegate="delegate (string s) { return Localizer[s].Value; }" help-text="@Localizer["STRSUBSCRIPTION"].Value"></admin-config>
                <admin-config config-key="INTPROTECTCONTENT" config-label="Protected Content" config-val="@SnitzConfig.GetIntValue("INTPROTECTCONTENT")" help-text="@Localizer["INTPROTECTCONTENT"].Value"></admin-config>
                <admin-config config-key="INTALLOWHIDEONLINE" config-label="Allow members to hide from Online" config-val="@SnitzConfig.GetIntValue("INTALLOWHIDEONLINE")" help-text="@Localizer["INTALLOWHIDEONLINE"].Value"></admin-config>
                <admin-config config-key="STREXCLUDEBOTS" config-label="Bots to exclude from counter" config-val="@SnitzConfig.GetValue("STREXCLUDEBOTS")" help-text="@Localizer["STREXCLUDEBOTS"].Value"></admin-config>
                <hr class="title" />
                <div class="row mb-3">
                    <div class="col">
                        <admin-config config-key="STRPAGESIZE" config-label="Default page size" config-val="@SnitzConfig.GetValue("STRPAGESIZE")" help-text="@Localizer["STRPAGESIZE"].Value"></admin-config>
                    </div>
                    <div class="col">
                        <admin-config config-key="STRACCOUNTPAGESIZES" config-label="Members Page size" config-val="@SnitzConfig.GetValue("STRACCOUNTPAGESIZES")"></admin-config>
                    </div>
                </div>
                <partial name="_FormButtons" />
            </form>
        </div>

            <div class="tab-pane fade" id="v-pills-group" role="tabpanel" aria-labelledby="v-pills-group-tab">
                <div class="mb-3" id="forum-groups"></div>
            </div>
            <div class="tab-pane fade" id="v-pills-moderators" role="tabpanel" aria-labelledby="v-pills-moderators-tab">
                <h4>Moderation</h4>
                <hr />
                <form asp-action="SaveFeatures"class="mb-3" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-moderation">
                    <div class="mb-3">
                        <admin-config config-key="STRMODERATION" config-label="Allow Topic Moderation" config-val="@SnitzConfig.GetIntValue("STRMODERATION")" help-text="@Localizer["STRMODERATION"].Value"></admin-config>
                        <admin-config config-key="STRSHOWMODERATORS" config-label="Show Moderators" config-val="@SnitzConfig.GetIntValue("STRSHOWMODERATORS")" help-text="@Localizer["STRSHOWMODERATORS"].Value"></admin-config>
                        <admin-config config-key="STRMOVETOPICMODE" config-label="Restrict Topic move" config-val="@SnitzConfig.GetIntValue("STRMOVETOPICMODE")" help-text="@Localizer["STRMOVETOPICMODE"].Value"></admin-config>
                        <admin-config config-key="STRMOVENOTIFY" config-label="Email author when moving topics" config-val="@SnitzConfig.GetIntValue("STRMOVENOTIFY")" help-text="@Localizer["STRMOVENOTIFY"].Value"></admin-config>
                    </div>
                    <partial name="_FormButtons" />
                </form>
                <div id="result-moderation"></div>
                <h5>Manage Moderators</h5>
                <hr/>
                <form id="moderators-form" asp-action="UpdateForumModerators" asp-controller="Admin" method="POST" data-ajax="true" data-ajax-update="#forum-moderators">
                    <div class="mb-3">
                        <label class="form-label">Choose forum to view list of moderators</label>
                        <select title="Select a Forum to manage Moderators" class="form-select getModerators" asp-for="ForumId" asp-items="forums">
                        </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-text">
                            <p>Use CTRL + Mouse click to select/deselect users in the list<br/>
                                Use the RESET button to revert back to the current list of moderators for the forum.<br/>
                                When all the moderators for the forum are selected, press the SAVE CHANGES button.</p>
                        </div>
                    </div>
                    <div class="mb-3" id="forum-moderators"></div>
                </form>
            </div>
            <div class="tab-pane fade" id="v-pills-spam" role="tabpanel" aria-labelledby="v-pills-spam-tab">
                <h4>Anti-Spam Settings</h4>
                <hr />
                <form asp-action="SaveCaptcha" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-spam">
                <admin-config config-key="STRUSECAPTCHA" config-label="Use Captcha for Registration" config-val="@SnitzConfig.GetIntValue("STRUSECAPTCHA")" help-text="@Localizer["STRUSECAPTCHA"].Value"></admin-config>
                <admin-config config-key="INTEMAILCAPTCHA" config-label="Use Captcha when Emailing" config-val="@SnitzConfig.GetIntValue("INTEMAILCAPTCHA")" help-text="@Localizer["INTEMAILCAPTCHA"].Value"></admin-config>
                    <div class="mb-3">
                        <div class="form-text">
                            <p>
                                The captcha automatically generates an image containing a simple maths question,
                                You can choose which operators to use below
                            </p>
                        </div>
                        <div class="mb-3">
                            <div class="col-5 col-sm-3 mb-3">

                            <select asp-for="@SnitzConfig.CaptchaOperators" name="STRCAPTCHAOPERATORS"
                                        asp-items="@Html.GetEnumSelectList<CaptchaOperator>()" class="form-select">
                                </select>
                            </div>
                            <partial name="_FormButtons" />
                        </div>
                    <div id="result-spam"></div>
                    </div>
                </form>
                <div class="form-text">
                    <label class="h4">Example Captcha</label><hr />
                    <span class="border-1 rounded w-50">
                        @await Component.InvokeAsync("Captcha")
                    </span>
                </div>
        </div>

            <div class="tab-pane fade" id="v-pills-badwords" role="tabpanel" aria-labelledby="v-pills-badwords-tab">
                <label class="h4">Bad word Filter</label>
                <hr/>
                <form asp-action="SaveBadword" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-badword">
                    <div class="mb-3">
                        <label class="form-label">Word</label>
                        <input type="text" class="form-control" name="Word" value="" placeholder="Word to replace"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Replace With</label>
                        <input type="text" class="form-control" name="ReplaceWith" value="" placeholder="Replace it with.."/>
                    </div>
                    <div class="mb-3"><button class="btn btn-outline-success" type="submit">Add</button></div>
                    <div id="result-badword"></div>
                </form>
                <form asp-action="UpdateBadwords" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-badwords">
                    @{
                            @for (int i = 0; i < Model.Badwords?.Count; i++)
                        {
                                <div class="mb-3" id="badword_@i">
                                    <div class="row">
                                        <input type="hidden" asp-for="@Model.Badwords[i].Id"/>
                                        <input type="hidden" asp-for="@Model.Badwords[i].IsDeleted"/>
                                        <div class="col-5"><input type="text" class="form-control" asp-for="@Model.Badwords[i].Word"/></div>
                                        <div class="col-5"><input type="text" class="form-control" asp-for="@Model.Badwords[i].ReplaceWith"/></div>
                                        <div class="col-1"><i class="fa fa-trash del-badword" data-id="@i" title="Flag for deletion" data-toggle="tooltip"></i></div>
                                    </div>
                                </div>
                        }
                    }
                    <div class="mb-3"><partial name="_FormButtons"/></div>
                    <div id="result-badwords"></div>

                </form>
            </div>
            <div class="tab-pane fade" id="v-pills-archive" role="tabpanel" aria-labelledby="v-pills-archive-tab">
                <div class="mb-3 p-2" id="forum-archives"></div>
            </div>
        <div class="tab-pane fade" id="v-pills-announce" role="tabpanel" aria-labelledby="v-pills-announce-tab">
                <h4>Forum Announcement</h4>
                <hr />
                <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result-announce">
                <admin-config config-key="STRSHOWANNOUNCE" config-label="Show Announcement" config-val="@SnitzConfig.GetIntValue("STRSHOWANNOUNCE")" help-text="@Localizer["STRSHOWANNOUNCE"].Value"></admin-config>
                    <fieldset class="mb-3">
                    <admin-config config-key="STRANNOUNCETITLE" config-label="Title" config-val="@SnitzConfig.GetValue("STRANNOUNCETITLE")" placeholder="Add a title, leave blank to use default" ></admin-config>
                    <admin-config config-type="textarea" config-key="STRANNOUNCE" config-label="Message" config-val="@SnitzConfig.GetValue("STRANNOUNCE")" placeholder="Enter text for announcement" ></admin-config>
                    </fieldset>
                    <partial name="_FormButtons" />
                </form>
                <div id="result-announce"></div>
            </div>

            <div id="result"></div>
        </div>
    </div>


@section Scripts
{
    <script type="text/javascript" src="~/js/jquery.twosidedmultiselect.min.js"></script>
    <script type="text/javascript" src="~/js/admin/forum.min.js"></script>
}
