@using SnitzCore.Data.Interfaces
@inject ISnitzConfig config
@{
    Layout = "_MasterLayout";
}
<div class="mt-3">
<legend>Forum Configuration</legend>
<hr />
<form asp-action="SaveSettings" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result" class="mt-3">
    <div class="bg-light m-3 rounded">
        <div class="mb-3 p-3 ">
            <legend>Forum Details</legend>
            <hr/>
            <div class="row">
                <div class="col">
                    <admin-config config-key="STRFORUMTITLE" config-label="Forum Title" config-val="@config.ForumTitle"></admin-config>
                </div>
                <div class="col">
                    <admin-config config-key="STRCOPYRIGHT" config-label="Forum Copyright" config-val="@config.GetValue("STRCOPYRIGHT")"></admin-config>
                </div>
            </div>
            <admin-config config-key="STRFORUMDESC" config-label="Forum Description" config-val="@config.GetValue("STRFORUMDESC")"></admin-config>

            <div class="row">
                <div class="col">
                    <admin-config config-key="STRHOMEURL" config-label="Home URL" config-val="@config.GetValue("STRHOMEURL")"></admin-config>
                </div>
                <div class="col">
                    <admin-config config-key="STRFORUMURL" config-label="Forum URL" config-val="@config.ForumUrl"></admin-config>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <admin-config config-key="STRADMINUSER" config-label="Main Admin account" config-val="@config.GetValue("STRADMINUSER")"></admin-config>
                </div>
                <div class="col">
                </div>
            </div>

            <legend>Options</legend>
            <hr/>
            <div class="row p-3">
                <div class="col">
                    <admin-config config-key="STREMAIL" config-label="Email mode" config-val="@config.GetIntValue("STREMAIL")"></admin-config>

                    <admin-config config-key="STRUSERNAMEFILTER" config-label="Username filter" config-val="@config.GetIntValue("STRUSERNAMEFILTER")"></admin-config>
                    <admin-config config-key="STRSETCOOKIETOFORUM" config-label="Set cookie to Forum" config-val="@config.GetIntValue("STRSETCOOKIETOFORUM")"></admin-config>
                    <admin-config config-key="INTPAGETIMER" config-label="Show Page Timer" config-val="@config.GetIntValue("INTPAGETIMER")"></admin-config>
                </div>
                <div class="col">
                    <admin-config config-key="STRPROHIBITNEWMEMBERS" config-label="Prohibit new Members" config-val="@config.GetIntValue("STRPROHIBITNEWMEMBERS")"></admin-config>
                    <admin-config config-key="STRREQUIREREG" config-label="Require registration" config-val="@config.GetIntValue("STRREQUIREREG")"></admin-config>
                    <admin-config config-key="STRRESTRICTREG" config-label="Restrict registration" config-val="@config.GetIntValue("STRRESTRICTREG")"></admin-config>
                </div>
            </div>
            <div class="row p-3">
                <div class="col">
                    <admin-config config-key="INTTHEMECHANGE" config-label="Allow Theme Change" config-val="@config.GetIntValue("INTTHEMECHANGE")"></admin-config>
                    <admin-config config-key="STRDEFAULTTHEME" config-label="Default Theme" config-val="@config.GetValue("STRDEFAULTTHEME")"></admin-config>
                </div>
                <div class="col">
                </div>
            </div>



            <div class="mb-3 p-3">
                <span class="form-text">If you use tracking cookies, this option may be required. It will display a cookie consent form at the bottom of the page.</span>
                <admin-config config-key="INTREQUIRECONSENT" config-label="Require Cookie consent" config-val="@config.GetIntValue("INTREQUIRECONSENT")"></admin-config>
            </div>
        </div>
        <div class="mb-3 p-3">
            <partial name="_FormButtons" />
        </div>
        <div id="result"></div>
    </div>

</form>
</div>
@section Scripts
{
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.js"></script>
}