@using SnitzCore.Service.Extensions
@using SnitzCore.Services.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@using SnitzCore.Data.Models
@using System.Globalization
@{
    Layout = "AdminLayout";
    string disableme = "";
    if (!User.IsInRole("SuperAdmin"))
    {
        disableme = "disabled";
    }
    TimeZoneInfo serverTimeZone = TimeZoneInfo.Local;
}

<form asp-action="SaveSettings" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result" disabled readonly >
    <fieldset @disableme >
        <div class="bg-light m-3 rounded">
            <div class="mb-3 p-3 ">
                <legend>Forum Details</legend>
                <hr />
                <div class="row">
                    <div class="col">
                        <admin-config config-key="INTFIRSTINSTALL" config-type="checkbox" config-label="Toggle Startup page" config-val="@SnitzConfig.GetIntValue("INTFIRSTINSTALL")" help-text="@Localizer["INTFIRSTINSTALL"].Value" disabled="@(@SnitzConfig.GetIntValue("INTFIRSTINSTALL") == 0)"></admin-config>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="_STRFORUMTITLE" config-label="Forum Title" config-val="@Config.Value.strForumTitle" help-text="@Localizer["STRFORUMTITLE"].Value"></admin-config>
                        <input snitz-if="@(false)" disabled type="text" name="STRFORUMTITLE" value="@SnitzConfig.GetValue("STRFORUMTITLE")" class="form-control" />
                    </div>
                    <div class="col">
                        <admin-config config-key="_STRCOPYRIGHT" config-label="Forum Copyright" config-val="@Config.Value.strCopyright" help-text="@Localizer["STRCOPYRIGHT"].Value"></admin-config>
                        <input snitz-if="@(false)" disabled type="text" name="STRCOPYRIGHT" value="@SnitzConfig.GetValue("STRCOPYRIGHT")" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-type="textarea" config-key="_STRFORUMDESC" config-label="Forum Description" config-val="@Config.Value.strForumDescription" help-text="@Localizer["STRFORUMDESC"].Value"></admin-config>
                        <input snitz-if="@(false)" disabled type="text" name="STRFORUMDESC" value="@SnitzConfig.GetValue("STRFORUMDESC")" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRHOMEURL" config-label="Home URL" config-val="@SnitzConfig.GetValue("STRHOMEURL")" help-text="@Localizer["STRHOMEURL"].Value"></admin-config>
                    </div>
                    <div class="col">
                        <admin-config config-key="STRFORUMURL" config-label="Forum URL" config-val="@SnitzConfig.ForumUrl" disabled="true" help-text="@Localizer["STRFORUMURL"].Value"></admin-config>
                        <input snitz-if="@(false)" disabled type="text" name="_STRFORUMURL" value="@SnitzConfig.GetValue("STRFORUMURL")" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRADMINUSER" config-label="Main Admin account" config-val="@SnitzConfig.GetValue("STRADMINUSER")" disabled="true"></admin-config>
                        <label class="form-text mb-3">This has been replaced by the SuperAdmin Role</label>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row"></div>
                <legend>Options</legend>
                <hr />
                <div class="row p-3">
                    <div class="col">
                        <admin-config config-key="STREMAIL" config-label="Email mode" config-val="@SnitzConfig.GetIntValue("STREMAIL")" help-text="@Localizer["STREMAIL"].Value"></admin-config>
                        <admin-config config-key="STRUSERNAMEFILTER" config-label="Username filter" config-val="@SnitzConfig.GetIntValue("STRUSERNAMEFILTER")" help-text="@Localizer["STRUSERNAMEFILTER"].Value"></admin-config>
                        <admin-config config-key="STRSETCOOKIETOFORUM" config-label="Set cookie to Forum" config-val="@SnitzConfig.GetIntValue("STRSETCOOKIETOFORUM")" help-text="@Localizer["STRSETCOOKIETOFORUM"].Value"></admin-config>
                        <admin-config config-key="INTPAGETIMER" config-label="Show Page Timer" config-val="@SnitzConfig.GetIntValue("INTPAGETIMER")" help-text="@Localizer["INTPAGETIMER"].Value"></admin-config>
                    </div>
                    <div class="col">
                        <admin-config config-key="STRPROHIBITNEWMEMBERS" config-label="Prohibit new Members" config-val="@SnitzConfig.GetIntValue("STRPROHIBITNEWMEMBERS")" help-text="@Localizer["STRPROHIBITNEWMEMBERS"].Value"></admin-config>
                        <admin-config config-key="STRREQUIREREG" config-label="Require registration" config-val="@SnitzConfig.GetIntValue("STRREQUIREREG")" help-text="@Localizer["STRREQUIREREG"].Value"></admin-config>
                        <admin-config config-key="STRRESTRICTREG" config-label="Restrict registration" config-val="@SnitzConfig.GetIntValue("STRRESTRICTREG")" help-text="@Localizer["STRRESTRICTREG"].Value"></admin-config>
                        <admin-config config-key="INTREQUIRECONSENT" config-label="Require Cookie consent" config-val="@SnitzConfig.GetIntValue("INTREQUIRECONSENT")" help-text="@Localizer["INTREQUIRECONSENT"].Value"></admin-config>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div class="mb-3">
                            <admin-config config-key="INTTHEMECHANGE" config-label="Allow Theme Change" config-val="@SnitzConfig.GetIntValue("INTTHEMECHANGE")" help-text="@Localizer["INTTHEMECHANGE"].Value"></admin-config>
                            <label class="form-label" for="theme-change-admin">Default Theme</label>
                            <select name="STRDEFAULTTHEME" id="theme-change-admin" class="form-select" title="@Localizer["tipChangeTheme"]">
                                <option value="CarpyTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Carpy Theme</option>
                                <option value="SnitzTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Snitz Theme</option>
                                <option value="DarkTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Dark Theme</option>
                                <option value="OrangeTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Orange Theme (Needs Updating)</option>
                                <option value="VellumTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Vellum Theme</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        @{
                            CultureInfo cultureInfo = new CultureInfo("en-GB");
                        }
                        <div>
                            <admin-config config-key="INTUSETIMEAGO" config-label="Use friendly times" config-val="@SnitzConfig.GetIntValue("INTUSETIMEAGO")" help-text="@Localizer["INTUSETIMEAGO"].Value"></admin-config>
                            <label class="form-label" for="theme-change-admin">Default Date Format</label>
                        </div>
                        <div class="input-group mb-3">
                            <select name="STRDATETYPE" id="strDateType" class="form-select">
                                <option value="mdy" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    12/31/2000 (US short)
                                </option>
                                <option value="dmy" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    31/12/2000 (UK short)
                                </option>
@*                                 <option value="ymd" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    2000/12/31 (Other short)
                                </option>
                                <option value="ydm" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    2000/31/12 (Other short)
                                </option> *@
                                <option value="mmdy" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    Dec 31 2000 (US med)
                                </option>
                                <option value="dmmy" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    31 Dec 2000 (UK med)
                                </option>
@*                                 <option value="ymmd" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    2000 Dec 31 (Other med)
                                </option>
                                <option value="ydmm" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    2000 31 Dec (Other med)
                                </option> *@
                                <option value="mmmdy" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    December 31 2000 (US long)
                                </option>
                                <option value="dmmmy" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    31 December 2000 (UK long)
                                </option>
@*                                 <option value="ymmmd" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    2000 December 31 (Other long)
                                </option>
                                <option value="ydmmm" selected-val="@SnitzConfig.GetValue("STRDATETYPE")">
                                    2000 31 December (Other long)
                                </option> *@
                            </select>
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon1">
                                    <i class="fa fa-question-circle fs-4" data-bs-toggle="tooltip" data-bs-html="true" title="@Localizer["STRDATETYPE"].Value"></i>
                                </span>
                            </div>
                        </div>
                        <div class="flex">
                            <label style="display: flex; justify-content: space-between; align-items: center; gap: 10px;"><span style="flex: 0 0 25%">Timezone: </span><span style="flex:1;">@serverTimeZone.StandardName</span></label>
                            <label style="display: flex; justify-content: space-between; align-items: center; gap: 10px;" class="fw-bold"><span style="flex: 0 0 25%">Display Time: </span><span style="flex:1;">@DateTime.UtcNow.ToForumDisplay(SnitzConfig,SnitzCookie)</span></label>
                            <label style="display: flex; justify-content: space-between; align-items: center; gap: 10px;"><span style="flex: 0 0 25%">UTC Time: </span><span style="flex:1;">@DateTime.UtcNow.ToString(cultureInfo)</span></label>
                            <label style="display: flex; justify-content: space-between; align-items: center; gap: 10px;"><span style="flex: 0 0 25%">Server Time: </span><span style="flex:1;">@DateTime.Now.ToString(cultureInfo)</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 p-3">
                <partial name="_FormButtons" />
            </div>
            <div id="result"></div>
        </div>
    </fieldset>
</form>

@section Scripts
{
    <script>
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#main-config").addClass("active");
    </script>
}