@using SnitzCore.Services.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@using SnitzCore.Data.Models
@inject IOptionsSnapshot<SnitzForums> Config
@{
    Layout = "AdminLayout";
    string disableme = "";
    if (!User.IsInRole("SuperAdmin"))
    {
        disableme = "disabled";
    }
}

<form asp-action="SaveSettings" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result" disabled readonly >
    <fieldset @disableme >
        <div class="bg-light m-3 rounded">
            <div class="mb-3 p-3 ">
                <legend>Forum Details</legend>
                <hr />
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRFORUMTITLE" config-label="Forum Title" config-val="@SnitzConfig.GetValue("STRFORUMTITLE")" disabled="true"></admin-config>
                        <input type="text" name="_STRFORUMTITLE" value="@Config.Value.strForumTitle" class="form-control" />
                    </div>
                    <div class="col">
                        <admin-config config-key="STRCOPYRIGHT" config-label="Forum Copyright" config-val="@SnitzConfig.GetValue("STRCOPYRIGHT")" disabled="true"></admin-config>
                        <input type="text" name="_STRCOPYRIGHT" value="@Config.Value.strCopyright" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRFORUMDESC" config-label="Forum Description" config-val="@SnitzConfig.GetValue("STRFORUMDESC")" disabled="true"></admin-config>
                        <input type="text" name="_STRFORUMDESC" value="@Config.Value.strForumDescription" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRHOMEURL" config-label="Home URL" config-val="@SnitzConfig.GetValue("STRHOMEURL")"></admin-config>
                    </div>
                    <div class="col">
                        <admin-config config-key="STRFORUMURL" config-label="Forum URL" config-val="@SnitzConfig.ForumUrl" disabled="true"></admin-config>
                        <input type="text" name="_STRFORUMURL" value="@Config.Value.strForumUrl" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <admin-config config-key="STRADMINUSER" config-label="Main Admin account" config-val="@SnitzConfig.GetValue("STRADMINUSER")" disabled="true"></admin-config>
                        <label class="form-text mb-3">This has been replaced by the SuperAdmin Role</label>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <legend>Options</legend>
                <hr />
                <div class="row p-3">
                    <div class="col">
                        <admin-config config-key="STREMAIL" config-label="Email mode" config-val="@SnitzConfig.GetIntValue("STREMAIL")"></admin-config>
                        <admin-config config-key="STRUSERNAMEFILTER" config-label="Username filter" config-val="@SnitzConfig.GetIntValue("STRUSERNAMEFILTER")"></admin-config>
                        <admin-config config-key="STRSETCOOKIETOFORUM" config-label="Set cookie to Forum" config-val="@SnitzConfig.GetIntValue("STRSETCOOKIETOFORUM")"></admin-config>
                        <admin-config config-key="INTPAGETIMER" config-label="Show Page Timer" config-val="@SnitzConfig.GetIntValue("INTPAGETIMER")"></admin-config>
                    </div>
                    <div class="col">
                        <admin-config config-key="STRPROHIBITNEWMEMBERS" config-label="Prohibit new Members" config-val="@SnitzConfig.GetIntValue("STRPROHIBITNEWMEMBERS")"></admin-config>
                        <admin-config config-key="STRREQUIREREG" config-label="Require registration" config-val="@SnitzConfig.GetIntValue("STRREQUIREREG")"></admin-config>
                        <admin-config config-key="STRRESTRICTREG" config-label="Restrict registration" config-val="@SnitzConfig.GetIntValue("STRRESTRICTREG")"></admin-config>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <admin-config config-key="INTTHEMECHANGE" config-label="Allow Theme Change" config-val="@SnitzConfig.GetIntValue("INTTHEMECHANGE")"></admin-config>
                        <select name="STRDEFAULTTHEME" id="theme-change-admin" class="form-control" title="@Localizer["tipChangeTheme"]">
                            <option value="SnitzTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Snitz Theme</option>
                            <option value="DarkTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Dark Theme</option>
                            @* <option value="LightTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Light Theme</option> *@
                            <option value="OrangeTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Orange Theme (Needs Updating)</option>
                            <option value="VellumTheme" selected-val="@SnitzConfig.GetValue("STRDEFAULTTHEME")">Vellum Theme</option>
                            </select>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="mb-3 p-3">
                    <span class="form-text">If you use tracking cookies, this option may be required. It will display a cookie consent form at the bottom of the page.</span>
                    <admin-config config-key="INTREQUIRECONSENT" config-label="Require Cookie consent" config-val="@SnitzConfig.GetIntValue("INTREQUIRECONSENT")"></admin-config>
                </div>
            </div>
            <div class="mb-3 p-3">
                <partial name="_FormButtons" />
            </div>
            <div id="result"></div>
        </div>
    </fieldset>
</form>

@section Scripts
{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#main-config").addClass("active");
    </script>
}