@using SnitzCore.Data.Extensions
@using SnitzCore.Service.Extensions
@model IEnumerable<SnitzCore.Data.Models.ForumUser>

<div class="content mb-3">
    <form asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
        <admin-config config-key="INTHIDEPENDING" config-label="Hide Notification" config-val="@SnitzConfig.GetIntValue("INTHIDEPENDING")"></admin-config>
        <partial name="_FormButtons" />
    </form>
    <div id="result"></div>
</div>
<div>
    <table class="table">
        <tr class="bg-primary">
            <th class="col-1">
                UserName
            </th>
            <th class="col-3">
                Email
            </th>
            @if (SnitzConfig.GetIntValue("STRIPLOGGING") == 1)
            {
                <th class="col-2">
                    IpAddress
                </th>
            }
            <th class="col-2">
                Registered
            </th>
            <th class="col-2">
                Lockout
            </th>
            <th class="col-2 fs-4">
                @* <input type="checkbox" id="checkAll" title="@Localizer["tipCheckAll"]" />
                <a href="#" id="delete-selected" title="Delete Selected" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
                <a href="#" title="Approve Selected" data-toggle="tooltip" id="approve-selected"><i class="fa fa-check-square"></i></a> *@
            </th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="6" class="text-center">No registrations currently pending</td></tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td colspan="6">
                    <form asp-action="SavePendingMember" asp-controller="Admin" id="form_@item.MemberId">
                        <table class="table">
                            <tr>
                                <td class="col-1">
                                    <input asp-for="@item.Id" type="hidden" name="Id"/>
                                    <input asp-for="@item.MemberId" type="hidden" name="MemberId" />
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td class="col-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text p-3">
                                                @Html.CheckBoxFor(modelItem => item.EmailConfirmed)
                                            </div>
                                        </div>
                                        <input asp-for="@item.Email" type="email" name="Email" class="form-control" />
                                    </div>
                                </td>
                                @if (SnitzConfig.GetIntValue("STRIPLOGGING") == 1)
                                {
                                    <td class="col-2" style="word-wrap: break-word; max-width: 120px;">
                                        @item.Member?.Ip
                                    </td>
                                }
                                <td class="col-2">
                                    @item.Member?.Created.FromForumDateStr().ToLocalTime().ToForumDateTimeDisplay()
                                </td>
                                <td class="col-2">
                                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                                    @Html.DisplayFor(modelItem => item.LockoutEnd)
                                </td>
                                <td class="col-2 fs-4">
                                    <a href="#" data-id="@item.UserName" data-ip="@item.Member?.Ip" data-email="@item.Email" class="stopForumSpam text-primary" title="StopForumSpam Check"><i class="fa fa-search"></i></a>
                                    @if (SnitzConfig.GetIntValue("STRIPLOGGING") == 1)
                                    {
                                        <a href="#" class="showIPAddress text-primary " data-toggle="tooltip" title="Lookup IP address" data-id="@item.Member?.Ip"><i class="fa fa fa-sitemap"></i></a>
                                    }
                                    <a href="@Url.Action("ViewProfile", "Account", new { id = item.MemberId })" class="modal-link text-primary " title="View profile"><i class="fa fa-user"></i></a>
                                    <a href="@Url.Action("ApproveMember", new { id = item.Id })" class="lnkApprove text-primary" title="Approve Registration"><i class="fa fa-check-square"></i></a>
                                    <a href="@Url.Action("DeletePendingMember", new { id = item.Id })" class="lnkDelete text-primary" title="Delete Registration"><i class="fa fa-trash"></i></a>
                                    <a href="#" title="@Localizer["dlgEmailMemberTitle"]" data-toggle="tooltip" class="send-email text-primary" data-url="@item.MemberId" data-id="@item.MemberId"><i class="fa fa-envelope"></i></a>
                                    <button type="submit" asp-action="SavePendingMember" class="btn fa fa-save text-primary p-0" data-toggle="tooltip" title="Save Email change"></button>
                                    @* <input type="checkbox" class="selector" value="@item.Id" name="memberSelect" /> *@
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        }

    </table>
</div>

<modal id="emailModal" title="Email Admin" data-url='@Url.Action("EmailMember", "Account")'>
    <modal-body>
        <div id='emailContainer'>
            <div class="text-center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
        <button id="send-email" form="sendemail-form" type="submit" class="btn btn-success">@Localizer["btnSend"] <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button type="reset" form="sendemail-form" class="btn btn-warning ">@Localizer["btnReset"]</button>
    </modal-footer>
</modal>
<modal id="popModal" title="Email Admin" data-url='@Url.Action("EmailMember", "Account")'>
    <modal-body>
        <div id='popContainer'>
            <div class="text-center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
    </modal-footer>
</modal>


