@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Snitz.PhotoAlbum.ViewModels.AlbumUploadViewModel
@{
    Layout = null;
    var allowedTypes = SnitzConfig.GetValue("STRIMAGETYPES");
}
<p class="form-text">
    @Localizer["lblUpload"]
</p>
<p class="mb-3">
    @Localizer["maxFileSize", SnitzConfig.GetIntValue("INTMAXIMAGESIZE", 5)]<br />
    @Localizer["allowedFiles", allowedTypes]
</p>
<form action="/PhotoAlbumUpload/" method="post" enctype="multipart/form-data" role="form" id="upload-form">
    <div class="mb-3">
        <label asp-for="Description" class="form-label">@Localizer["lblDescription"]</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>
    @if ((bool)ViewBag.ShowAll)
    {
        <div class="row mb-3">
            <label asp-for="ScientificName" class="form-label col-4">@Localizer["lblScientificName"]</label>
            <div class="col">
                <input asp-for="ScientificName" class="form-control" />
                <span asp-validation-for="ScientificName"></span>
            </div>
        </div>
        <div class="row mb-3">
            <label asp-for="CommonName" class="form-label col-4">@Localizer["lblLocalName"]</label>
            <div class="col">
                <input asp-for="CommonName" class="form-control col" />
                <span asp-validation-for="CommonName"></span>
            </div>
        </div>
    }
    <div class="row mb-3">
        <label class="form-label col-4" for="Group">@Localizer["lblGroup"]:</label>
        <div class="col">
            <select id="Group" name="Group" class="form-select">
                <option value="">Please Select</option>
                @foreach (var item in Model.GroupList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    @if (!(bool)ViewBag.ShowAll)
    {
        <div class="form-check">
            @Html.CheckBoxFor(m => m.ShowCaption, new { @class = "form-check-input" })
            <label class="form-check-label" for="ShowCaption">
                @Localizer["lblShowCaption"]
            </label>
        </div>
    }

    <div class="form-check">
        @Html.CheckBoxFor(m => m.Private, new { @class = "form-check-input" })
        <label class="form-check-label" for="Private">
            @Localizer["lblPrivate"]
        </label>
    </div>
    <div class="form-check mb-3">
        @Html.CheckBoxFor(m => m.NotFeatured, new { @class = "form-check-input" })
        <label class="form-check-label" for="NotFeatured">
            @Localizer["lblDoNotFeature"]
        </label>
    </div>
    <div class="photo-input mb-3">
        <input asp-for="AlbumImage" class="form-control" accept="@allowedTypes" />
        <span asp-validation-for="AlbumImage"></span>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@Localizer["btnCancel"]</button>
        <input name="submitUpload" type="button" id="submitUpload" value="@Localizer["btnUpload"]" class="btn btn-primary" />
    </div>
</form>

