@using SnitzCore.Data.Extensions
@using SnitzCore.Service.Extensions
@using SnitzCore.Service.TagHelpers
@model List<Snitz.PhotoAlbum.Models.AlbumImage>
@{
    var currentmember = 0;
    bool showprivate = false;
    if (ViewBag.CurrentMemberId != null)
    {
        currentmember = ViewBag.CurrentMemberId;
    }
    if (currentmember == ViewBag.MemberId || User.IsAdministrator())
    {
        showprivate = true;
    }
}
<ul class="image-gallery list-unstyled">
    @foreach (var image in Model)
    {
        <li snitz-if="@(!image.IsPrivate || showprivate)" class="d-flex center" id="img_@image.Id">
            <figure class="figure">
                <a class="view-gallery" target="_blank" href="~/PhotoAlbum/GetPhoto/@image.Id" title="Image @image.Id">
                    <album-image image-id="@image.Id" data-id="@image.Id" width="300" height="225" class="figure-img" description="@image.Description"></album-image>
                </a>
                <figcaption class="figure-caption form-text">@image.Description</figcaption>
                <div class="overlay">
                    <div class="text">@image.CommonName<br />@image.ScientificName<br />Posted on: @image.Timestamp.FromForumDateStr().LocalTime(SnitzCookie).ToShortDateString() <br />@image.Width x @image.Height</div>
                    <div class="footer" snitz-if="@(User.IsAdministrator() || ViewBag.IsOwner)">
                        <link-confirm snitz-if="@image.IsPrivate" title="@Localizer["lblIsPrivate"].Value" jq-selector="confirm-privacy" href="~/PhotoAlbum/TogglePrivacy/@image.Id/?state=false&memberid=@image.MemberId" config-class="fa fa-user-secret p-1" config-key="@image.Id"></link-confirm>
                        <link-confirm snitz-if="@(!image.IsPrivate)" title="@Localizer["lblPrivate"].Value" jq-selector="confirm-privacy" href="~/PhotoAlbum/TogglePrivacy/@image.Id/?state=true&memberid=@image.MemberId" config-class="fa-regular fa-user p-1" config-key="@image.Id"></link-confirm>
                        <link-confirm snitz-if="@image.DoNotFeature" title="@Localizer["lblDoNotFeature"].Value" jq-selector="confirm-feature" href="~/PhotoAlbum/ToggleDoNotFeature/@image.Id/?state=false&memberid=@image.MemberId" config-class="fa-regular fa-square p-1" config-key="@image.Id"></link-confirm>
                        <link-confirm snitz-if="@(!image.DoNotFeature)" title="@Localizer["imgFeature"].Value" jq-selector="confirm-feature" href="~/PhotoAlbum/ToggleDoNotFeature/@image.Id/?state=true&memberid=@image.MemberId" config-class="fa-regular fa-image p-1" config-key="@image.Id"></link-confirm>
                        <a href="@Url.Action("Edit", new { id = image.Id })" data-display="@ViewBag.Display" data-id="@image.Id" class="edit-image" title="@Localizer["tipEditImage"].Value" data-toggle="tooltip"><i class="fa-regular fa-pen-to-square p-1"></i></a>
                        <link-confirm title="@Localizer["tipDelImage"].Value" jq-selector="confirm-delimage" href="~/PhotoAlbum/DeleteImage/@image.Id/?memberid=@image.MemberId&display=@ViewBag.Display" config-class="fa-regular fa-trash-can p-1" config-key="@image.Id"></link-confirm>
                    </div>
                </div>
            </figure>
        </li>
    }
</ul>

