@using SnitzCore.Data.Extensions
@using SnitzCore.Service.TagHelpers
@model List<Snitz.PhotoAlbum.Models.AlbumImage>
@{
    var currentmember = 0;
    bool showprivate = false;
    if (ViewBag.CurrentMemberId != null)
    {
        currentmember = ViewBag.CurrentMemberId;
    }
    if (currentmember == ViewBag.MemberId)
    {
        showprivate = true;
    }
}
<ul class="image-gallery list-unstyled">
    @foreach (var image in Model)
    {
        <li snitz-if="!@image.IsPrivate || @showprivate" class="d-flex center">
            <figure class="figure">
                <album-image data-id="@image.Id" org-width="@image.Width" org-height="@image.Height" width="300" height="225" src="@($"{image.Timestamp}_{image.Location}")" class="figure-img" description="@image.Description"></album-image>
                <div class="overlay">
                    <div class="text">@image.CommonName<br />@image.ScientificName<br />Posted on: @image.Timestamp.FromForumDateStr().ToLocalTime().ToShortDateString() <br />@image.Width x @image.Height</div>
                </div>
                <figcaption class="figure-caption form-text">@image.Description</figcaption>
            </figure>
        </li>
    }
</ul>

