@model List<Snitz.PhotoAlbum.Models.AlbumImage>

<div class="panel panel-primary">
    <div class="panel-heading">
        <ul class="list-unstyled">
            <li class="row">
                <div class="col-6 col-md-8">@Localizer["lblFileName"]</div>
                <div class="col-6 col-md-4">@Localizer["lblForumcode"]</div>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            @foreach (var photo in Model)
            {
                <li class="row">
                    <div class="col-6 col-md-8">
                        <a class="view-gallery" target="_blank" href="@Url.Action("Gallery", new {id = photo.MemberId, photoid = photo.Id,pagenum=1, searchparams= ViewBag.JsonParams })" title="@Localizer["lblImage"] @photo.Id">@photo.Location</a>
                    </div>
                    <div class="col-6 col-md-4">[Image=@photo.Id]</div>
                </li>

            }

        </ul>
    </div>
</div>

