@using SnitzCore.Data.Extensions
@model X.PagedList.PagedList<Snitz.PhotoAlbum.Models.AlbumList>
@section MetaData
{
    <title>@Config.Value.strForumTitle @Localizer["lblPhotoAlbum"]</title>

    <meta name="title" content="@Config.Value.strForumTitle @Localizer["lblPhotoAlbum"]" />
    <meta name="description" content="Photo Album" />
    <meta name="robots" content="index,follow" />
}
@{
    string sortIcon = ViewBag.SortDir == "asc" ? "<i class=\"fa fa-sort-asc\"></i>" : "<i class=\"fa fa-sort-desc\"></i>";
    var currentmember = 0;
    bool showprivate = false;
    if (ViewBag.CurrentMemberId != null)
    {
        currentmember = ViewBag.CurrentMemberId;
    }
    if (currentmember == ViewBag.MemberId || User.IsAdministrator())
    {
        showprivate = true;
    }
}
<snitz-breadcrumb></snitz-breadcrumb>
<h5 class="form-text">@Localizer["h5Index"]</h5>
<hr/>
<div class="row mb-3">
    <form asp-action="Index" class="col-12 col-md-6 col-lg-4">
        <div class="input-group">
            <input name="term" id="term" class="form-control" placeholder="@Localizer["lblUserFilter"]" value="@ViewBag.SearchTerm" />
            <button class="btn btn-outline-success"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<div class="row bg-dark p-2 rounded">
    <div class="col-2">
        @Html.ActionLink(@Localizer["Member"].Value, "Index", new { page = ViewBag.Page, sortdir = ViewBag.SortUser, sortby = "user", term = ViewBag.SearchTerm }, new {  })
        @if (ViewBag.SortBy == "user")
        {
            @Html.Raw(sortIcon)
        }
    </div>
    <div class="col-2" snitz-if="@(showprivate)">
        @Html.ActionLink(@Localizer["lblImages"].Value, "Index", new { page = ViewBag.Page, sortdir = ViewBag.SortCount, sortby = "count", term = ViewBag.SearchTerm }, new {  })
        @if (ViewBag.SortBy == "count")
        {
            @Html.Raw(sortIcon)
        }
    </div>
    <div class="col-2" snitz-if="@(!showprivate)">
        @Html.ActionLink(@Localizer["lblImages"].Value, "Index", new { page = ViewBag.Page, sortdir = ViewBag.SortCount, sortby = "prvcount", term = ViewBag.SearchTerm }, new {  })
        @if (ViewBag.SortBy == "count")
        {
            @Html.Raw(sortIcon)
        }
    </div>
    <div class="col-2">
        @Html.ActionLink(@Localizer["lblLastPhoto"].Value, "Index", new { page = ViewBag.Page, sortdir = ViewBag.SortDate, sortby = "date", term = ViewBag.SearchTerm }, new {  })
        @if (ViewBag.SortBy == "date")
        {
            @Html.Raw(sortIcon)
        }
    </div>
</div>
@if(Model == null || !Model.Any())
{
    <div class="alert alert-info mt-3">@Localizer["msgNoAlbums"]</div>
}
else
{
    foreach (var album in Model)
    {
        <div class="row p-1">
            <div class="col-2">
                @Html.ActionLink(album.Username, "Member", new { id = album.MemberId, sortby = "date", sortorder = "desc" })
            </div>
            <div class="col-2" snitz-if="@(showprivate)">@album.imgCount</div>
            <div class="col-2" snitz-if="@(!showprivate)">@(album.imgCount - album.prvCount)</div>
            <div class="col-2"><snitz-datetime datetime="@album.imgLastUpload.FromForumDateStr()"></snitz-datetime></div>
        </div>
    }    
}

<!--Pagination starts-->
@if (ViewBag.PageCount > 1)
{
    var paging = new PagingModel
    {
        PageCount = ViewBag.PageCount,
        Page = ViewBag.Page,
        OrderBy = ViewBag.SortBy,
        SortDir = ViewBag.SortDir
    };

    <partial name="ListPaging" model="paging" />
}
else
{
    <div class="mb3">&nbsp;</div>
}