@using SnitzCore.Data.Extensions
@using SnitzCore.Service.Extensions
@model List<Snitz.PhotoAlbum.Models.AlbumImage>
@{
    var member = "";
    var memberid = 0;
    if (Model.Any())
    {
        member = Model.First().Member?.Name;
        memberid = Model.First().MemberId;
    }
}
@section MetaData
{
    <title>@member @Localizer["lblPhotoAlbum"]</title>
    <meta name="title" content="@member @Localizer["lblPhotoAlbum"]" />
    <meta name="description" content="Photo Album" />
    <meta name="robots" content="noindex,nofollow" />
}
@section Styles
{
    <style>
        .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
            max-height: 100%;margin: auto;
        }
        .carousel-control-next,
        .carousel-control-prev /*, .carousel-indicators */ {
            filter: invert(100%);
        }
    </style>
}

<div class="pt-0">
    <snitz-breadcrumb show-filter="true"></snitz-breadcrumb>
    <div class="collapse" id="showFilters">
        <form asp-action="MemberImages" asp-controller="PhotoAlbum" data-ajax="true" data-ajax-complete="refreshlist" data-ajax-update="#ImageContainer" data-ajax-method="GET">
            <div class="row">
                <div class="col col-lg-7">
                    <input type="hidden" value='@ViewBag.MemberId' title="Member ID" name="Id" id="id"  />
                    <input type="hidden" value='0' title="Display template" name="Display" id="display" />
                    <div class="input-group">
                        <select class="form-select" id="album-sortby" title="Change sort field" name="SortBy" >
                            <option value="id" snitz-if='@ViewBag.SortBy == "id"' selected>@Localizer["optSortId"]</option>
                            <option value="id" snitz-if='@ViewBag.SortBy != "id"'>@Localizer["optSortId"]</option>
                            <option value="date" snitz-if='@ViewBag.SortBy == "date"' selected>@Localizer["optSortDate"]</option>
                            <option value="date" snitz-if='@ViewBag.SortBy != "date"'>@Localizer["optSortDate"]</option>
                            <option value="desc" snitz-if='@ViewBag.SortBy == "desc"' selected>@Localizer["optSortDesc"]</option>
                            <option value="desc" snitz-if='@ViewBag.SortBy != "desc"'>@Localizer["optSortDesc"]</option>
                            <option value="file" snitz-if='@ViewBag.SortBy == "file"' selected>@Localizer["optSortFile"]</option>
                            <option value="file" snitz-if='@ViewBag.SortBy != "file"'>@Localizer["optSortFile"]</option>
                        </select>
                        <select class="form-select" name="SortOrder" title="Change sort order" id="album-sortdesc" >
                            <option value="desc" snitz-if="@(ViewBag.SortDir.ToLower() == "desc")" selected>@Localizer["optDesc"]</option>
                            <option value="desc" snitz-if="@(ViewBag.SortDir.ToLower() != "desc")">@Localizer["optDesc"]</option>
                            <option value="asc" snitz-if="@(ViewBag.SortDir.ToLower() == "asc")" selected>@Localizer["optAsc"]</option>
                            <option value="asc" snitz-if="@(ViewBag.SortDir.ToLower() != "asc")">@Localizer["optAsc"]</option>
                        </select>
                        <button type="submit" class="btn btn-outline-secondary">Go</button>
                        <a data-ajax="true"
                           data-ajax-url='@Url.Action("MemberImages", "PhotoAlbum", new { id = ViewBag.MemberId, display = 0, pagenum = 1 })'
                           data-ajax-success="hideBusyIndicator"
                           data-ajax-begin="displayBusyIndicator"
                           data-ajax-update="#ImageContainer"
                           class="btn btn-outline-info"
                           title="@Localizer["tipThumbs"]">
                            <li class="fa fa-th"></li>
                        </a>
                        <a data-ajax="true"
                           data-ajax-update="#ImageContainer"
                           data-ajax-url='@Url.Action("MemberImages", "PhotoAlbum", new { id = ViewBag.MemberId, display = 2, pagenum = 1 })'
                           data-ajax-success="hideBusyIndicator"
                           data-ajax-begin="displayBusyIndicator"
                           class="btn btn-outline-info"
                           title="@Localizer["tipList"]">
                            <li class="fa fa-align-justify"></li>
                        </a>
                        <a data-ajax="true"
                           data-ajax-update="#ImageContainer"
                           data-ajax-url='@Url.Action("MemberImages", "PhotoAlbum", new { id = ViewBag.MemberId, display = 1, pagenum = 1 })'
                           data-ajax-success="hideBusyIndicator"
                           data-ajax-begin="displayBusyIndicator"
                           class="btn btn-outline-info"
                           title="@Localizer["tipDetails"]">
                            <li class="fa fa-list"></li>
                        </a>
                        <a data-ajax="true"
                           data-ajax-update="#ImageContainer"
                           data-ajax-url='@Url.Action("MemberImages", "PhotoAlbum", new { id = ViewBag.MemberId, display = 3, pagenum = 1 })'
                           data-ajax-success="hideBusyIndicator"
                           data-ajax-begin="displayBusyIndicator"
                           class="btn btn-outline-info"
                           title="@Localizer["tipSlide"]">
                            <li class="fa fa-film"></li>
                        </a>
                        <button type="button" snitz-if="@ViewBag.IsOwner" class="btn btn-outline-primary" id="photo-upload" title="@Localizer["lblUpload"]"><i class="fa fa-upload"></i></button>
                    </div>
                </div>
                <div class="col col-lg-5">
                    @await Component.InvokeAsync("ImageAlbum", new { template = "Categories", memberid = memberid })
                </div>
            </div>
        </form>
    </div>
    <div class="container mt-3" id="ImageContainer">
        <partial name="_MemberThumbs"/>
    </div>
</div>

<partial name="Modal\UploadModal" />

<modal id="editModal" title="@Localizer["tipEditImage"].Value">
    <modal-body><div id="editimage-content"></div></modal-body>
    <modal-footer dismiss-text="Cancel">
        <button id="submitEdit" form="edit-image-form" type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
    </modal-footer>
</modal>
<modal id="addImageCat" title="@Localizer["lblCategory"].Value">
    <modal-body><div id="addcategory-content"></div></modal-body>
    <modal-footer dismiss-text="Cancel">
        <button id="submitCat" form="addcat-form" type="submit" class="btn btn-success">@Localizer["btnSave"]</button>
    </modal-footer>
</modal>

@section Scripts
{
    <script src="~/js/jquery.lazyload-any.min.js" type="text/javascript"></script>
    <script src="~/js/admin/member.image.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Ensure Unobtrusive AJAX is initialized
            $.ajaxSetup({ cache: false });
        });
    </script>
}