@using Microsoft.AspNetCore.Http.Extensions
@model Post
@{

    string pageUrl = Context.Request.GetEncodedUrl(); ;
}
<div>
    @if (SnitzConfig.GetIntValue("STRSHOWPRINTERFRIENDLY") == 1)
    {
        <a href="~/Topic/Print/@Model.Id" id="print-topic" class="btn btn-outline-primary" title="@Localizer["tipPrintTopic"]" data-id="@Model.Id" rel="noopener nofollow" target="_blank"><i class="fa fa-print p-2"></i></a>
    }
    @if (SnitzConfig.GetIntValue("STRSHOWSENDTOFRIEND") == 1)
    {
        <button id="SendTopic" class="btn btn-outline-primary sendto-link" type="button" data-id="@Model.Id" data-href="~/Topic/SendTo" title="@Localizer["tipSendTopic"] "><i class="fa fa-envelope p-2"></i></button>
    }
    @if (SnitzConfig.GetIntValue("STRSOCIALSHARE") == 1)
    {
        <a href="https://www.facebook.com/share.php?u=@pageUrl&title=@SnitzConfig.ForumTitle" id="ShareFacebook" class="btn btn-outline-primary" title="@Localizer["FacebookShare"]" data-id="@Model.Id" rel="noopener nofollow" target="_blank"><i class="fa fa-facebook-square p-2"></i></a>
@*         <a href="https://twitter.com/home?status=@SnitzConfig.ForumTitle+@pageUrl" id="ShareTwitter" class="btn btn-outline-primary" title="@Localizer["TwitterShare"]" data-id="@Model.Id" rel="noopener nofollow" target="_blank"><i class="fa  fa-twitter-square p-2"></i></a>
 *@    }

</div>