@using Microsoft.AspNetCore.Http.Extensions
@model int?
@{

    string pageUrl = Context.Request.GetEncodedUrl();
}
@if(Model != null)
{
    <div>
        @if (SnitzConfig.GetIntValue("STRSHOWPRINTERFRIENDLY") == 1)
        {
            <a href="~/Topic/Print/@Model" id="print-topic" title="@Localizer["tipPrintTopic"]" data-id="@Model" rel="noopener noreferrer nofollow" target="_blank" data-toggle="tooltip" aria-label="@Localizer["tipPrintTopic"]"><i class="fa fa-print fa-2x" aria-hidden="true"></i></a>
        }
        @if (SnitzConfig.GetIntValue("STRSHOWSENDTOFRIEND") == 1 && User.Identity.IsAuthenticated)
        {
            <a href="~/Topic/SendTo/@Model" id="SendTopic" class="sendto-link" type="button" data-id="@Model" data-href="~/Topic/SendTo" title="@Localizer["tipSendTopic"]" aria-label="@Localizer["tipSendTopic"]" rel="noopener noreferrer nofollow" target="_blank" data-toggle="tooltip"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        }
        @if (SnitzConfig.GetIntValue("STRSOCIALSHARE") == 1 && User.Identity.IsAuthenticated)
        {
            <a href="https://www.facebook.com/sharer/sharer.php?u=@pageUrl&title=@SnitzConfig.ForumTitle" id="ShareFacebook" title="@Localizer["FacebookShare"]" aria-label="@Localizer["FacebookShare"]" data-id="@Model" rel="noopener noreferrer nofollow" target="_blank" data-toggle="tooltip"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/intent/tweet?url=@pageUrl&text=@SnitzConfig.ForumTitle" id="ShareTwitter" title="@Localizer["TwitterShare"]" data-id="@Model" aria-label="@Localizer["TwitterShare"]" rel="noopener noreferrer nofollow" target="_blank" data-toggle="tooltip"><i class="fa  fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=pageUr" id="ShareLinkedIn" title="@Localizer["LinkedInShare"]" data-id="@Model" target="_blank" aria-label="@Localizer["LinkedInShare"]" rel="noopener noreferrer nofollow" data-toggle="tooltip"><i class="fa  fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            @* <a href="https://plus.google.com/share?url=@pageUrl&text=@SnitzConfig.ForumTitle" id="ShareGoogle" title="@Localizer["GoogleShare"]" data-id="@Model.Id" rel="noopener noreferrer nofollow" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a> *@
        }
       
    </div>    
}
