@using SmartBreadcrumbs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.Models
@using MVCForum.TagHelpers
@using SnitzCore.Data.Models
@model MVCForum.Models.Category.CategoryViewModel
@{
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <div class="row">
        <div class="col col-md-6">
            <form asp-controller="Category" asp-action="CreateEdit" method="post"  class="p-4 bg-form rounded">
                <input asp-for="@Model.Id" type="hidden"/>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">@Localizer["catName"]</label>
                    <input asp-for="@Model.Name" type="text" class="form-control"/>
                    <div class="invalid-feedback">@Localizer["PropertyRequired",Localizer["catName"]]You must provide a name.</div>
                </div>
                <div class="mb-3">
                    <label asp-for="Status" class="form-label">@Localizer["catStatus"]</label>
                    <enum-select name="Status" enum-type="typeof(Status)" selected-value="(int)Model.Status" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                </div>
                <div class="mb-3">
                    <label asp-for="Subscription" class="form-label">@Localizer["catSubscription"]</label>
                    <enum-select name="Subscription" enum-type="typeof(CategorySubscription)" selected-value="(int)Model.Subscription" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                </div>
                <div class="mb-3">
                    <label asp-for="Moderation" class="form-label">@Localizer["catModeration"]</label>
                    <enum-select name="Moderation" enum-type="typeof(ModerationLevel)" selected-value="(int)Model.Moderation" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                </div>
                <div class="mb-3">
                    <label asp-for="Sort" class="form-label">@Localizer["catOrder"]</label>
                    <input asp-for="@Model.Sort" type="number" class="form-control"/>
                </div>
                <partial name="FormButtons"/>
            </form>

        </div>
        <div class="col col-md-6">
            <form>
                <div class="btn-group">
                    <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@Model.Id" href="/Category/EmptyCategory/?id=" title="Empty Category (delete forums)"></button-confirm>
                    <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@Model.Id" href="/Category/Delete/?id=" title="Delete Category"></button-confirm>
                </div>
            </form>
        </div>
    </div>
</div>

@{
    var confModel = new ConfirmDialogViewModel()
            {
                Title = "Category",
                Message = @"<p>You are about to Delete or Empty this Category.</p>
                <p>Do you wish to proceed?</p>"
            };
}
<partial name="ConfirmDialog" model="@confModel" />
@section Scripts
{
    <script type="text/javascript" src="/js/ConfirmDialog.js" crossorigin="anonymous"></script>

}