@using SmartBreadcrumbs
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model MVCForum.ViewModels.Category.CategoryViewModel
@{
    var toplevelsubs = (SubscriptionLevel)SnitzConfig.GetIntValue("STRSUBSCRIPTION");
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <div class="row">
        <div class="col col-md-6">
            <form asp-controller="Category" asp-action="CreateEdit" method="post"  class="p-4 bg-form rounded">
                <input asp-for="@Model.Id" type="hidden"/>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">@Localizer["catName"]</label>
                    <input asp-for="@Model.Name" type="text" class="form-control"/>
                    <div class="invalid-feedback">@Localizer["PropertyRequired",Localizer["catName"]]</div>
                </div>
                <div snitz-if="@(toplevelsubs != SubscriptionLevel.None)" class="mb-3 row">
                    <label asp-for="Subscription" class="form-label col-12">@Localizer["catSubscription"]</label>
                    <div class="col-10 col-lg-7">
                        <enum-select name="Subscription" enum-min="@SnitzConfig.GetIntValue("STRSUBSCRIPTION")" enum-type="typeof(CategorySubscription)" selected-value="(int)Model.Subscription" text-localizer-delegate="delegate (string s) { return Localizer[s].Value; }"></enum-select>
                    </div>
                </div>
                <div snitz-if="@(toplevelsubs == SubscriptionLevel.None)">
                    <input type="hidden" asp-for="@Model.Subscription" />
                </div>
                <div snitz-if="@(SnitzConfig.IsEnabled("STRMODERATION"))" class="mb-3 row">
                    <label asp-for="Moderation" class="form-label col-12">@Localizer["catModeration"]</label>
                    <div class="col-10 col-lg-6">
                        <enum-select name="Moderation" enum-type="typeof(ModerationLevel)" selected-value="(int)Model.Moderation" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                    </div>
                </div>
                <div snitz-if="@(!SnitzConfig.IsEnabled("STRMODERATION"))">
                    <input type="hidden" asp-for="@Model.Moderation" />
                </div>
                <div class="mb-3 row">
                    <label asp-for="Sort" class="form-label col-12">@Localizer["catOrder"]</label>
                    <div class="col-10 col-lg-4">
                        <input asp-for="@Model.Sort" type="number" class="form-control col-lg-4" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Status" class="form-label col-12">&nbsp;</label>
                    <div class="col-10 col-lg-4">
                        <div class="form-check form-switch mb-3">
                            <input type="checkbox" role="switch" name="Status" id="Status" value="1" class="form-check-input" checked="@(Model.Status == Status.Open)" style="transform: scale(1.4);">
                            <input type="checkbox" name="Status" value="0" checked="@(Model.Status != Status.Open)" style="display:none">
                            <label class="form-check-label" asp-for="Status"> <span snitz-if="@(Model.Status == Status.Open)">@Localizer["Active"]</span><span snitz-if="@(Model.Status != Status.Open)">@Localizer["Locked"]</span></label>
                        </div>
                    </div>
                </div>
                <partial name="FormButtons"/>
            </form>
        </div>
        <div class="col col-md-6">
            <form>
                <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@Model.Id" href="@SnitzConfig.RootFolder/Category/EmptyCategory/?id=" title="Empty Category (delete forums)"></button-confirm>
                <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@Model.Id" href="@SnitzConfig.RootFolder/Category/Delete/?id=" title="@Localizer["cnfDeleteCategory"].Value"></button-confirm>
                <div class="btn-group">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <renderstoredcontent asp-key="password-dialog"></renderstoredcontent>
    <script type="text/javascript">
        $(document).on("change","#Status",function(){
          if (this.checked) {

            $(this).nextAll('.form-check-label:first').text(' Active');
          } else {
            $(this).nextAll('.form-check-label:first').text(' Locked');
          }
        });
        $(document).on('click','.confirm-delete', function(e) {
            e.preventDefault();
            var id = $(this).data('id');
            var href = $(this).attr('href');

            (async () => {
                const result = await b_confirm(Snitzres.cnfDeleteCategory )
                if (result) {
                    $.get(href.replace("~", SnitzVars.baseUrl) + id, function(result){
                        window.location.replace(result.redirectToUrl);
                    });
                }
            })();
        });

    </script>
}