@model MVCForum.Models.Forum.ForumIndexModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BbCodeFormatter
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Routing
@using MVCForum.Models
@using MVCForum.Models.User
@using MVCForum.TagHelpers
@using SnitzCore.Data.Models
@inject SignInManager<ForumUser> SignInManager
@inject ICodeProcessor BbCodeProcessor
@{
    var cat = Context.Request.Query["id"];
    var test = Context.GetRouteValue("id");
    if (test != null)
    {
        cat = (string)test;
    }
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    @if (User.IsInRole("Admin"))
    {
        if (!string.IsNullOrWhiteSpace(cat))
        {
            <form>
                <div class="btn-group mb-2">
                    <button asp-controller="Category" type="submit" asp-action="Edit" asp-route-id="@cat" title="@Localizer["tipEditCategory"]" class="btn btn-outline-warning"><i class="fa fa-pencil"></i><span class="d-none d-md-inline"> @Localizer["tipEditCategory"]</span></button>
                    <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@cat" href="/Category/Delete/?id=" title="@Localizer["cnfDeleteCategory"].Value"></button-confirm>
                    <button asp-controller="Forum" type="submit" asp-action="Create" asp-route-id="@cat" title=" @Localizer["tipNewForum"]" class="btn btn-outline-success"><i class="fa fa-folder"></i><span class="d-none d-md-inline"> @Localizer["tipNewForum"]</span></button>
                </div>
            </form>
        }
        else
        {
            <form >
                <div class="btn-group mb-2">
                    <button asp-controller="Category" type="submit" asp-action="Create" title="@Localizer["tipNewCategory"]" class="btn btn-outline-warning"><i class="fa fa-folder-open"></i><span class="d-none d-md-inline"> @Localizer["tipNewCategory"]</span></button>
                    <button asp-controller="Forum" type="submit" asp-action="Create" title="@Localizer["tipNewForum"]" class="btn btn-outline-warning"><i class="fa fa-folder"></i><span class="d-none d-md-inline"> @Localizer["tipNewForum"]</span></button>
                </div>
            </form>
        }
    }


    <div class="row">
        <div class="col">
            @foreach (var categoryForums in Model.ForumList?.GroupBy(f => f.CategoryId)!)
            {
                <div class="subforum">
                    <div class="subforum-title rounded">
                        <h1 style="display: inline-block;"><a href="/Category/@categoryForums.Key">@categoryForums.FirstOrDefault()?.CategoryName</a></h1>
                    </div>
                    @foreach (var forum in categoryForums)
                    {
                        @if (HasAccess(forum.AccessType))
                        {
                            var weblinkclass = "";
                            if (forum.ForumType == ForumType.WebLink)
                            {
                                weblinkclass = "subforum-weblink";
                            }
                            <div class="subforum-row @weblinkclass">
                                <div class="subforum-icon subforum-column center">
                                    <snitz-forum-icon forumtype="@((int)forum.ForumType)" accesstype="@((int)forum.AccessType)"></snitz-forum-icon>
                                </div>
                                <div class="subforum-description subforum-column">
                                    @if (forum.ForumType == ForumType.WebLink)
                                    {
                                        <h4><a href="@forum.Url" target="_blank" title="">@Html.Raw(BbCodeProcessor.Subject(forum.Title))</a></h4>
                                    }
                                    else
                                    {
                                        <h4><a href="/Forum/@forum.Id/?defaultdays=@((int)forum.DefaultView)" title="Go to @forum.Title">@Html.Raw(BbCodeProcessor.Subject(forum.Title))</a></h4>
                                    }
                                    <p>@Html.Raw(BbCodeProcessor.Format(forum.Description))</p>
                                </div>
                                @if (forum.ForumType != ForumType.WebLink)
                                {
                                    <div class="subforum-stats subforum-column">
                                        <span>@forum.Posts @Localizer["lblPosts"] | @forum.Topics @Localizer["lblTopics"]</span>
                                    </div>
                                    <div class="subforum-info subforum-column">
                                        @if (forum.LastPostTopicId.HasValue)
                                        {
                                            <text>@Localizer["lblPostedBy"]</text>
                                            <member-link member-id="@forum.LastPostAuthorId" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></member-link>
                                            <br/><lastpost-link reply-id="@forum.LastPostReplyId" post-date="@forum.LastPostDateTime" topic-id="@forum.LastPostTopicId.Value" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></lastpost-link>
                                        }
                                    </div>
                                }
                            </div>
                            <hr class="subforum-divider">
                        }
                    }
                </div>
            }
        </div>
        <div class="d-none d-md-block col-3">
            <partial name="_QuickSearch"/>
            <partial name="_Login" model="new UserSignInModel()" />
            <partial name="_LatestPosts" model="@Model.LatestPosts"/>
        </div>
    </div>
    <partial name="_ForumStats" />
</div>
@{
    var confModel = new ConfirmDialogViewModel() { 
        Title = "Delete Category", 
        Message = @"<p>You are about to delete this Category.</p>
                <p>Do you wish to proceed?</p>" };
}
<partial name="ConfirmDialog" model="@confModel" />

@functions
{
    bool HasAccess(ForumAuthType authType)
    {
        if(authType == ForumAuthType.All)
            return true;
        if (SignInManager.IsSignedIn(User))
        {
            if(authType == ForumAuthType.Members || authType == ForumAuthType.MembersPassword
               || authType == ForumAuthType.AllowedMembers)
                return true;
        }
        return false;
    }
}
@section Scripts
{
    <script type="text/javascript" src="/js/ConfirmDialog.js" crossorigin="anonymous"></script>
}
    
