@model List<Snitz.PhotoAlbum.Models.AlbumCategory>
@{
    var category = ViewData["Category"] as int?;
}
@if(Model == null || !Model.Any())
{
    return;
}
else
{
    <div class="mb-3">
        <label for="cat-select" class="form-label">@Localizer["lblCategory"]</label>
        <div class="input-group">
            <select name="Category" id="cat-select" class="form-select">
                <option value="0" selected-val="@category">@Localizer["lblCategorySelect"]</option>
                @foreach (var cat in Model)
                {
                    <option value="@cat.CatId" selected-val="@category">@cat.Description</option>
                }
            </select>
            <button class="btn btn-outline-secondary" type="button" id="category-add">Add Category</button>
        </div>
    </div>
}
