@using SnitzCore.Data.Extensions
@using SnitzCore.Service.Extensions
@model Snitz.PhotoAlbum.Models.AlbumImage
@{
    string imagename = $"{Url.Content("~/")}Content/PhotoAlbum/{Model.ImageName}?width=400&rmode=crop&format=jpg";
}
<div class="card mb-2" >
    <div class="card-header subforum-title">
        @Localizer["lblFeaturedImage"]
    </div>
    <img src="@imagename" alt="@Model.Description" id="featured-img" class="img-fluid m-2" />
    <div class="card-body p-3">
        <label snitz-if="@(!string.IsNullOrWhiteSpace(Model.Description))" class="h5 card-title">@Model.Description</label>
        <ul snitz-if="@(ViewBag.ShowInfo)" class="list-unstyled form-text">
            <li>Tag [Image=@Model.Id]</li>
            <li>@Localizer["lblFileName"]: @Model.Location</li>
            <li snitz-if="@(!string.IsNullOrWhiteSpace(Model.ScientificName))">@Localizer["lblScientificName"]: @Model.ScientificName</li>
            <li snitz-if="@(!string.IsNullOrWhiteSpace(Model.CommonName))">@Localizer["lblLocalName"]: @Model.CommonName</li>
            <li>@Localizer["lblOwner"]: @Model.Member?.Name</li>
            <li>@Localizer["lblDate"]: @Model.Timestamp.FromForumDateStr().ToForumDisplay()</li>
        </ul>
    </div>
</div>



