


@model PostThanks.Models.PostThanksViewModel
<span id="thanksplugin">
    @if (!Model.PostAuthor && User.Identity.IsAuthenticated && Model.Showlink)
    {
        if (!Model.Thanked)
        {
            @Html.ActionLink(" ", "Thank", "PostThanks", new { id = Model.TopicId, replyid = Model.ReplyId, returnurl = Context.Request.Path }, new { @class = "fa-regular fa-heart fa-1_5x", title = @Localizer["Thank"], data_toggle = "tooltip" })

        }
        else
        {
            @Html.ActionLink(" ", "UnThank", "PostThanks", new { id = Model.TopicId, replyid = Model.ReplyId, returnurl = Context.Request.Path }, new { @class = "fa fa-heart fa-1_5x", title = @Localizer["UnThank"], data_toggle = "tooltip" })
        }

    }

    @if (Model.ShowCount && Model.ThanksCount > 0)
    {
        <span class="badge center-block thanks-count" data-placement="auto" data-id="@Model.TopicId" data-replyid="@Model.ReplyId" >@Model.ThanksCount</span>

    }
</span>


