


@model PostThanks.Models.PostThanksViewModel
<span id="thanksplugin">
    @if (!Model.PostAuthor && User.Identity.IsAuthenticated && Model.Showlink)
    {
        if (!Model.Thanked)
        {
            @Html.ActionLink(" ", "Thank", "PostThanks", new { id = Model.TopicId, replyid = Model.ReplyId, returnurl = Context.Request.Path }, new { @class = "fa fa-thumbs-o-up fa-1_5x", title = @Localizer["Thank"], data_toggle = "tooltip" })

        }
        else
        {
            @Html.ActionLink(" ", "UnThank", "PostThanks", new { id = Model.TopicId, replyid = Model.ReplyId, returnurl = Context.Request.Path }, new { @class = "fa fa-thumbs-up fa-1_5x", title = @Localizer["UnThank"], data_toggle = "tooltip" })
        }

    }

    @if (Model.ShowCount && Model.ThanksCount > 0)
    {
        <span class="badge center-block thanks-count" data-placement="auto" data-id="@Model.TopicId" data-replyid="@Model.ReplyId" >@Model.ThanksCount</span>

    }
</span>
<storecontent asp-key="forum-plugins">
    <script>
        $(document)
            .ready(function () {
                $(".thanks-count")
                    .popover({
                        html: true,
                        container: 'body',
                        trigger: 'hover',
                        content: function () {
                            var id = $(this).data('id');
                            var replyid = $(this).data('replyid');
                        var output = '';
                        $.ajax(
                            {
                                url: SnitzVars.baseUrl + '/PostThanks/Members/' + id + '?replyid=' + replyid,
                                async: false,
                                success: function (response) {
                                output = response;
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    BootstrapDialog.show({
                                        type: BootstrapDialog.TYPE_WARNING,
                                        title: textStatus,
                                        message: jqXHR.responseText
                                    });
                                }
                                });
                            return output;
                        }
                    });
            });
    </script>
</storecontent>

