@model MVCForum.ViewModels.Forum.ForumSearchModel
@using Microsoft.AspNetCore.Mvc.TagHelpers

@using SmartBreadcrumbs
@using SnitzCore.Data.Extensions
@using System.ComponentModel.DataAnnotations
@{
    ViewBag.PageCount = Model.Results?.PageCount!;
    string pagenum = (Model.Results?.PageNum?.ToString() ?? Context.Request.Query["page"])!;
    ViewBag.PageNum = pagenum;
}
@section Styles{
    <link href="~/css/star-rating.min.css" rel="stylesheet" />
    <link href="~/css/krajee-svg/theme.min.css" media="all" rel="stylesheet" type="text/css" />
}
    <div class="pt-0">
        <!--Navigation-->
    <snitz-breadcrumb></snitz-breadcrumb>

    @if (Model.Results != null && Model.Results.Posts != null && Model.Results.Posts.Any())
    {
        @if (SnitzConfig.GetValueWithDefault("STRSEARCHPAGESIZES", "") != "")
        {
            <div class="input-group mb-3">
                <div class="radioBtn btn-group btn-group-sm" title="Page size" data-toggle="tooltip" data-original-title="Page size">
                    @foreach (var size in SnitzConfig.GetValueWithDefault("STRSEARCHPAGESIZES", "")!.Split(","))
                    {
                        <a class="btn btn-outline-secondary btn-sm notActive" data-toggle="fun" data-title="@size">@size</a>
                    }
                </div>
                <span class="form-text">&nbsp;@Localizer["lblPageSize"]</span>
                <input type="hidden" name="fun" id="fun">
            </div>
        }
        <!--Display posts table-->
        <div class="posts-table mb-3">
            <partial name="TopicListingHeader" />
            @{
                ViewData["ActiveTopics"] = true;
            }
            <!--Topics start here-->
            @foreach (var post in Model.Results.Posts!)
            {
                if (post.ArchivedTopic != null)
                {
                    <partial name="ArchivedTopicListing" model="post" view-data="ViewData" />
                }
                else if (post.Topic != null)
                {
                    <partial name="TopicListing" model="post" view-data="ViewData" />
                }
                
            }
            <!--ends here-->
        </div>
        <!--Pagination starts-->
        <partial snitz-if="@(Model.Results.PageCount > 1)" name="ListPaging" model="@(new PagingModel
                                                                                    {
                                                                                        PageCount = Model.Results.PageCount,
                                                                                        PageSize = Model.Results.PageSize,
                                                                                        Page = Convert.ToInt32(pagenum)
                                                                                    })" />
        <!--pagination ends-->
        <partial name="IconInfo" />
    }
    else
    {
        var allterms = Localizer[SearchFor.AllTerms.GetAttribute<DisplayAttribute>()!.Name!].Value;
        var anyterms = Localizer[SearchFor.AnyTerms.GetAttribute<DisplayAttribute>()!.Name!].Value;
        <div class="col col-md-8 offset-md-2 ">
            <form asp-controller="Forum" asp-action="SearchResult" class="needs-validation bg-form p-4 rounded" novalidate>

                <div class="row mb-3">
                    <label asp-for="Terms" class="form-label">@Localizer["lblKeywords"]</label>
                    <div class="input-group">
                        <input asp-for="Terms" type="text" class="form-control" placeholder="@Localizer["plhSearchTerm"]" aria-label="@Localizer["plhSearchTerm"]" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2" title="@Localizer["tipAdvancedSearch"]" data-bs-toggle="collapse" data-bs-target="#showFilters" aria-expanded="false" data-toggle="tooltip"><i class="fa fa-sliders"></i></button>
                    </div>
@*                     @if (SnitzConfig.GetIntValue("INTFULLTEXT") == 1)
                    {
                        <span id="textHelpBlock" class="form-text text-muted">@Localizer["fulltextSearch",allterms,anyterms]</span>
                    } *@
                    <div class="invalid-feedback">@Localizer["PropertyRequired",""]</div>
                </div>
                <div class="mb-3">
                    @foreach (SearchFor c in Enum.GetValues(typeof(SearchFor)).OfType<SearchFor>())
                    {
                        var displayName = c.GetAttribute<DisplayAttribute>()!.Name!;
                        <div class="form-check">
                            <input asp-for="SearchFor" type="radio" class="form-check-input" value="@((int)c)" checked="@(c == Model.SearchFor)">
                            <label asp-for="SearchFor" class="form-check-label">@Localizer[displayName]</label>
                        </div>
                    }
                </div>
                <div class="collapse" id="showFilters">
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="SearchMessage" class="form-label">@Localizer["lblSearchin"]</label>
                        <select id="SearchMessage" name="SearchMessage" class="form-select">
                            <option value="True" selected-val="@Model.SearchMessage">@Localizer["SearchIn_Message"]</option>
                            <option value="False" selected-val="@Model.SearchMessage">@Localizer["SearchIn_Subject"]</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="date-since" class="form-label">@Localizer["Search_Date"]</label>
                        <enum-select name="SinceDate" enum-type="typeof(SearchDate)" selected-value="(int)Model.SinceDate" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="UserName" class="form-label">@Localizer["Search_Member"]</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-address-book-o"></i></span>
                        <input id="UserName" name="UserName" placeholder="@Localizer["plhUsername"]" type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="ddlSearchCategory" class="form-label">@Localizer["Search_Category"]</label>
                        <select id="ddlSearchCategory" name="SearchCategory" asp-items="Model.Categories" aria-describedby="selectHelpBlock" class="form-select">
                            <option value="0">All</option>
                        </select>
                        <span id="selectHelpBlock" class="form-text text-muted">@Localizer["Search_CatDesc"]</span>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="SearchForums" class="form-label">@Localizer["Search_Forum"]</label>
                        <select multiple="multiple" id="SearchForums" name="SearchForums" asp-items="Model.Forums" aria-describedby="select1HelpBlock" class="form-select">
                            <option value="" selected>@Localizer["mnuForumAll"]</option>
                        </select>
                        <span id="select1HelpBlock" class="form-text text-muted">@Localizer["Search_ForumDesc"]</span>
                    </div>
                </div>

                <div class="mb-3" >
                    <label class="form-label">@Localizer["Search_Archive"]</label>
                    <div class="form-check">
                        <input asp-for="SearchArchives" id="SearchArchivesOn" type="radio" class="form-check-input" value="true" aria-describedby="radio1HelpBlock">
                        <label for="SearchArchivesOn" class="form-check-label">@Localizer["lblYes"]</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="SearchArchives" id="SearchArchivesOff" type="radio" class="form-check-input" value="false" aria-describedby="radio1HelpBlock">
                        <label for="SearchArchivesOff" class="form-check-label">@Localizer["lblNo"]</label>
                    </div>
                    <span id="radio1HelpBlock" class="form-text text-muted">@Localizer["Search_ArchiveDesc"]</span>
                </div>
                </div>
                <div class="mb-3 p-2">
                    <button type="button" class="btn btn-danger-ou cancel" onclick="history.go(-1);">@Localizer["btnCancel"]</button>
                    <button type="reset" class="btn btn-warning ">@Localizer["btnReset"]</button>
                    <button type="submit" id="btn-submit" value="Search" class="btn btn-success">@Localizer["btnSearch"]</button>
                </div>
            </form>
        </div>
    }
    </div>

@section Scripts{
    <script src="~/js/star-rating.min.js"></script>
    <script src="~/js/krajee-svg/theme.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/postcontroller.min.js"></script>
    <script type="text/javascript">
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                ValidateForms();
            }, false);
        })();
        $(window).on("load",
            function(e) {
                $('.rb-rating').rating({
                    'showCaption': false,
                    'displayOnly':true
                });
            });
        var pagesizeCookie = 'search' + "-pagesize";
        if ($.cookie(pagesizeCookie)) {
            var storedSize = parseInt($.cookie(pagesizeCookie));
            $('a[data-toggle="fun"]')
                .not('[data-title="' + storedSize + '"]')
                .removeClass('active')
                .addClass('notActive');
            $('a[data-toggle="fun"][data-title="' + storedSize + '"]')
                .removeClass('notActive')
                .addClass('active');
        }
        $('body')
            .on('click', '.radioBtn a',
                function () {
                    var sel = $(this).data('title');
                    var tog = $(this).data('toggle');
                    $('#' + tog).prop('value', sel);
                    $('a[data-toggle="' + tog + '"]')
                        .not('[data-title="' + sel + '"]')
                        .removeClass('active')
                        .addClass('notActive');
                    $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]')
                        .removeClass('notActive')
                        .addClass('active');
                    if (!$.cookie(pagesizeCookie)) {
                        var testCookie = 'cookie support check';
                        $.cookie(testCookie, true,{ path: SnitzVars.cookiePath });
                        if ($.cookie(testCookie)) { // browser supports cookie
                            $.cookie(testCookie, null,{ path: SnitzVars.cookiePath });
                            $.removeCookie(testCookie);
                            $.cookie(pagesizeCookie, sel, { expires: 1, path: window.SnitzVars.cookiePath /*, domain: window.SnitzVars.cookieDomain*/ });
                            location.reload(); // re-load the page
                        }
                    } else {
                        var storedSize = parseInt($.cookie(pagesizeCookie));
                        var currentSize = parseInt(sel);
                        if (storedSize !== currentSize) { // user may have changed the pagesize
                            $.cookie(pagesizeCookie, sel, { expires: 1, path: window.SnitzVars.cookiePath /*, domain: window.SnitzVars.cookieDomain*/ });
                            location.reload();
                        }
                    }
                });
    </script>
}
