@model MVCForum.Models.Forum.ForumSearchModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.Models
@using MVCForum.TagHelpers
@using SmartBreadcrumbs
@using SnitzCore.Data.Extensions
@using SnitzCore.Data.Interfaces
@using SnitzCore.Data.Models
@using System.ComponentModel.DataAnnotations
@inject ISnitzConfig SnitzConfig
@{
    ViewBag.PageCount = Model.Results?.PageCount!;
    string pagenum = (Model.Results?.PageNum?.ToString() ?? Context.Request.Query["page"])!;
    ViewBag.PageNum = pagenum;
}

    <div class="container pt-0">
        <!--Navigation-->
        <breadcrumb></breadcrumb>
    @if (SnitzConfig.GetValue("STRFORUMPAGESIZES", "") != "")
    {
        //TODO: Set pagesize
    }
    @if (Model.Results!.Posts!.Any())
    {
        <!--Display posts table-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status">Status</div>
                <div class="subjects">Subjects</div>
                <div class="replies">Replies/Views</div>
                <div class="last-reply">Last Reply</div>
            </div>

            <!--Topics start here-->
            @foreach (var post in Model.Results.Posts!)
            {
                <partial name="_TopicListing" model="post" />
            }



            <!--ends here-->
        </div>
        <!--Pagination starts-->
        @if (Model.Results.PageCount > 1)
        {
            var paging = new PagingModel
            {
                PageCount = Model.Results.PageCount,
                Page = Convert.ToInt32(pagenum)
            };
            @await Html.PartialAsync("ListPaging",paging)
        }
        <!--pagination ends-->
        <partial name="_IconInfo" />
    }
    else
    {
        <div class="col col-md-8 offset-md-2 ">
            <form asp-controller="Forum" asp-action="SearchResult" class="needs-validation bg-form p-4 rounded" novalidate>
            <div class="mb-3">
                    <label asp-for="Terms" class="form-label">Search for keywords</label>
                <input asp-for="Terms" placeholder="Search terms (Enter at least 3 characters)" type="text" class="form-control" aria-describedby="textHelpBlock">
                <span id="textHelpBlock" class="form-text text-muted">FullText searching is enabled here, to use it, select either 'Search for all terms' or 'Search for any terms'.</span>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
                <div class="mb-3">
                    @foreach (SearchFor c in Enum.GetValues(typeof(SearchFor)).OfType<SearchFor>())
                        {
                            var displayName = c.GetAttribute<DisplayAttribute>()!.Name;
                            <div class="form-check">
                                <input asp-for="SearchFor" type="radio" class="form-check-input" value="@((int)c)" checked="@(c == Model.SearchFor)">
                            <label asp-for="SearchFor" class="form-check-label">@displayName</label>
                            </div>
                        }
                </div>

                <div class="mb-3">
                    <label for="UserName" class="form-label">Search by Author</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-address-book-o"></i></span>
                        <input id="UserName" name="UserName" placeholder="Enter username" type="text" aria-describedby="text1HelpBlock" class="form-control">
                    </div>
                    <span id="text1HelpBlock" class="form-text text-muted">Use * as wildcard for partial matches</span>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="ddlSearchCategory" class="form-label">Search in Category</label>
                        <select id="ddlSearchCategory" name="SearchCategory" asp-items="Model.Categories" aria-describedby="selectHelpBlock" class="form-select">
                            <option value="0">Please select</option>
                        </select>
                        <span id="selectHelpBlock" class="form-text text-muted">Select the Category you wish to search in.All accessible forums will be searched.</span>

                    </div>
                    <div class="col-12 col-md-6">
                        <label for="SearchForums" class="form-label">Search in Forum(s)</label>
                        <select multiple="multiple" id="SearchForums" name="SearchForums" asp-items="Model.Forums" aria-describedby="select1HelpBlock" class="form-select">
                            <option value="">All Forums</option>
                        </select>
                        <span id="select1HelpBlock" class="form-text text-muted">Select the forum or forums to search in.</span>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-6">
                        <label for="SearchMessage" class="form-label">Search in</label>
                        <select id="SearchMessage" name="SearchMessage" class="form-select">
                            <option value="True" selected-val="@Model.SearchMessage">Subject and Message</option>
                            <option value="False" selected-val="@Model.SearchMessage">Subject Only</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="date-since" class="form-label">Limit results to</label>
                        <select asp-for="SinceDate" id="date-since"
                                class="form-select"
                                asp-items="Html.GetEnumSelectList<SearchDate>()">
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Archives</label>
                    <div class="form-check">
                        <input asp-for="SearchArchives" id="SearchArchivesOn" type="radio" class="form-check-input" value="true" aria-describedby="radio1HelpBlock">
                        <label for="SearchArchivesOn" class="form-check-label">Yes</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="SearchArchives" id="SearchArchivesOff" type="radio" class="form-check-input" value="false" aria-describedby="radio1HelpBlock">
                        <label for="SearchArchivesOff" class="form-check-label">No</label>
                    </div>
                    <span id="radio1HelpBlock" class="form-text text-muted">search in posts that have been archived</span>
                </div>

                <partial name="FormButtons"/>
        </form>
        </div>
    }
        
        
    </div>

@section Scripts{
    <script>
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                ValidateForms();
            }, false);
        })();
    </script>
}
