@model dynamic
@inject IBookmark Bookmarks;
@{
    bool isArchived = Model is ArchivedReply;
    bool isadmin = User.IsInRole("Administrator");
    bool ismoderator = User.IsInRole("Moderator"); 

    bool islocked = Model.Topic?.Status == 0;
    bool isauthor = User.Identity?.Name?.ToLowerInvariant() == Model?.Member?.Name.ToLowerInvariant();
    bool allowThanks = (bool)TempData["allowThanks"] ;
    int topicid = isArchived ? Model?.ArchivedPostId : Model?.PostId;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="post-control-btn">
        @if (Model.Topic.Forum.Replyauth == (int)PostAuthType.Anyone || (Model.Topic.Forum.Replyauth == (int)PostAuthType.Moderators && ismoderator) || isadmin)
        {
            <i snitz-if="@((!islocked || isadmin || ismoderator) && !isArchived)" class="fa-regular fa-comment m-1 post-reply" title="@Localizer["tipTopicReply"]"  data-id="@topicid" data-toggle="tooltip"></i>
            <i snitz-if="@((!islocked || isadmin || ismoderator) && !isArchived)" class="fa-regular fa-commenting m-1 reply-quote" title="@Localizer["tipQuoteReply"]"  data-id="@Model.Id" data-toggle="tooltip"></i>
        }
        @if (SnitzConfig.GetIntValue("STRTHANKS", 0) == 1)
        {
            if (allowThanks && User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync("PostThanks", new { template = "TopicSummary", topicid = topicid, id = Model.Id, archived = isArchived, showcount=true })
            }
        }

        @if (SnitzConfig.GetIntValue("STRBOOKMARK", 0) == 1 && !isArchived)
        {
                <i snitz-if="@(Bookmarks.IsBookmarked(Model.PostId))" class="fa fa-bookmark m-1 bookmark-del" title="@Localizer["tipRemoveBookmark"]"  data-id="@topicid" data-toggle="tooltip"></i>
                <i snitz-if="@(!Bookmarks.IsBookmarked(Model.PostId))" class="fa-regular fa-bookmark m-1 bookmark-add" title="@Localizer["tipBookmarkPost"]"  data-id="@topicid" data-toggle="tooltip"></i>

        }
        <i snitz-if="@(!isArchived && !Model.Topic.Answered && (isauthor || isadmin) && !isArchived)" class="fa-regular fa-flag m-1 reply-answer" title="@Localizer["tipAnswer"]"  data-id="@Model.Id" data-toggle="tooltip"></i>
        @if (SnitzConfig.GetIntValue("STRTHANKS", 0) == 1)
        {
            if (allowThanks && User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync("PostThanks", new { template = "TopicSummary", topicid = topicid, id = Model.Id, archived = isArchived, showcount = true, showlink = false })
            }
        }

        @if (isadmin || isauthor || ismoderator)
        {
            <span rel="tooltip" title="Admin options">
                <i class="fa fa-toolbox" id="toolbox-@Model.Id" data-bs-toggle="popover" data-bs-content='' data-bs-html="true"></i>
            </span>
            <div hidden>
                <div data-name="toolbox-@Model.Id" class="fs-4">
                    <i snitz-if="@(!islocked || isadmin || ismoderator)" class="fa-regular fa-pen-to-square m-1 reply-edit" data-archived="@isArchived" title="@Localizer["tipEditReply"]" data-id="@Model.Id" data-toggle="tooltip"></i>
                    <i class="fa-regular fa-trash-can m-1 reply-del" title="@Localizer["tipDelReply"]" data-archived="@isArchived" data-id="@Model.Id" data-topicid="@topicid" data-toggle="tooltip"></i>
                    <i snitz-if="@(islocked && (isadmin || ismoderator) && !isArchived)" class="fa fa-unlock admin m-1 post-lock" title="@Localizer["cnfUnlockTopic"]" data-id="@topicid" data-status="1" data-toggle="tooltip"></i>
                    <i snitz-if="@(!islocked && (isadmin || ismoderator) && !isArchived)" class="fa fa-lock admin m-1 post-lock" title="@Localizer["cnfLockTopic"]" data-id="@topicid" data-status="0" data-toggle="tooltip"></i>
                    <i snitz-if="@((isadmin || ismoderator) && (Model.Status == (int)Status.OnHold))" class="fa fa-pause admin  reply-moderate" title="@Localizer["lblOnhold"]" data-id="@Model.Id" data-toggle="tooltip"></i>
                    <i snitz-if="@((isadmin || ismoderator) && (Model.Status == (int)Status.UnModerated))" class="fa-regular fa-hand admin  reply-moderate" title="@Localizer["lblUnmoderated"]" data-id="@Model.Id" data-toggle="tooltip"></i>

                </div>
            </div>
        }
    </div>
}
