@model Post
@inject IBookmark Bookmarks;
@{
    bool isadmin = User.IsInRole("Admin");
    bool islocked = Model.Status == 1;
    bool isauthor = User.Identity.Name == Model.Member.Name;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="post-control-btn">
        <i snitz-if="@(!islocked || isadmin)" class="fa fa-comment-o m-1 post-reply" title="@Localizer["tipTopicReply"]" data-id="@Model.Id"></i>
        <i snitz-if="@(!islocked || isadmin)" class="fa fa-commenting m-1 post-quote" title="@Localizer["tipQuoteTopic"]" data-id="@Model.Id"></i>
        @if (SnitzConfig.GetIntValue("STRBOOKMARK", 0) == 1)
        {
            <i snitz-if="@Bookmarks.IsBookmarked(Model.Id)" class="fa fa-bookmark m-1 bookmark-del" title="@Localizer["tipRemoveBookmark"]" data-id="@Model.Id"></i>
            <i snitz-if="!@Bookmarks.IsBookmarked(Model.Id)" class="fa fa-bookmark-o m-1 bookmark-add" title="@Localizer["tipBookmarkPost"]" data-id="@Model.Id"></i>
        }

        @if (isadmin || isauthor)
        {
            @if (!islocked || isadmin)
            {
                <i class="fa fa-pencil m-1 post-edit" title="@Localizer["tipEditTopic"]" data-id="@Model.Id"></i>
            }

            <i class="fa fa-trash m-1 post-del" title="@Localizer["tipTopicDel"]" data-id="@Model.Id"></i>
            @if (islocked && isadmin)
            {
                <i class="fa fa-unlock admin m-1 post-lock" title="@Localizer["cnfUnlockTopic"]" data-id="@Model.Id" data-status="0"></i>
            }
            else if(isadmin && !islocked)
            {
                <i class="fa fa-lock admin m-1 post-lock" title="@Localizer["cnfLockTopic"]" data-id="@Model.Id" data-status="1"></i>
            }
        }
    </div>
}
