@model Post
@inject IBookmark Bookmarks
@inject IMember MemberService
@{
    bool isadmin = User.IsInRole("Administrator");
    bool ismoderator = User.IsInRole("Moderator");
    bool islocked = Model.Status == 0;
    bool isauthor = User.Identity.Name == Model.Member.Name;
    var subscriptions = MemberService.Current()?.Subscriptions;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="post-control-btn">
        @if (TempData["List"] != null && (bool)TempData["List"])
        {
            @if (Model.Forum.Subscription == (int)ForumSubscription.TopicSubscription && SnitzConfig.GetIntValue("STRSUBSCRIPTION", 0) != 0 && User.Identity.IsAuthenticated)
            {
                if (subscriptions != null && subscriptions.Where(s => s.PostId == Model.Id).Select(s => s.PostId).Any())
                {
                    <i class="fa fa-share-square topic" title="@Localizer["btnUnsubscribe"]" data-id="@Model.Id"></i>
                }
                else
                {
                    <i class="fa fa-share-square-o topic" title="@Localizer["cnfSubscribeTopic"]" data-id="@Model.Id"></i>
                }
            }
        }
        else
        {
            <i snitz-if="@(!islocked || isadmin || ismoderator)" class="fa fa-comment-o m-1 post-reply" title="@Localizer["tipTopicReply"]" data-id="@Model.Id"></i>
            <i snitz-if="@(!islocked || isadmin || ismoderator)" class="fa fa-commenting m-1 post-quote" title="@Localizer["tipQuoteTopic"]" data-id="@Model.Id"></i>
        }
        @if (SnitzConfig.GetIntValue("STRBOOKMARK", 0) == 1)
        {
            <i snitz-if="@Bookmarks.IsBookmarked(Model.Id)" class="fa fa-bookmark m-1 bookmark-del" title="@Localizer["tipRemoveBookmark"]" data-id="@Model.Id"></i>
            <i snitz-if="@(!Bookmarks.IsBookmarked(Model.Id))" class="fa fa-bookmark-o m-1 bookmark-add" title="@Localizer["tipBookmarkPost"]" data-id="@Model.Id"></i>
        }
        @if (isadmin || isauthor || ismoderator)
        {
            <i snitz-if="@(!islocked || isadmin || ismoderator)" class="fa fa-pencil m-1 post-edit" title="@Localizer["tipEditTopic"]" data-id="@Model.Id"></i>
            <i class="fa fa-trash m-1 post-del" title="@Localizer["tipTopicDel"]" data-id="@Model.Id"></i>
            <i snitz-if="@(islocked && (isadmin || ismoderator))" class="fa fa-unlock admin m-1 post-lock" title="@Localizer["cnfUnlockTopic"]" data-id="@Model.Id" data-status="1"></i>
            <i snitz-if="@((isadmin || ismoderator) && !islocked)" class="fa fa-lock admin m-1 post-lock" title="@Localizer["cnfLockTopic"]" data-id="@Model.Id" data-status="0"></i>
        }
    </div>
}
<storecontent asp-key="topic-post-controls">
    <script>
        $(document).on("click",
            ".fa-share-square-o.forum",
            function() {
                $.get(SnitzVars.baseUrl + "/Forum/Subscribe/?id=" + $(this).data("id"),
                    function() {
                        location.reload();
                    });
            });
        $(document).on("click",
            ".fa-share-square.forum",
            function() {
                $.get(SnitzVars.baseUrl + "/Forum/UnSubscribe/?id=" + $(this).data("id"),
                    function() {
                        location.reload();
                    })
            });
        $(document).on("click",
            ".fa-share-square-o.topic",
            function() {
                $.get(SnitzVars.baseUrl + "/Topic/Subscribe/?id=" + $(this).data("id"),
                    function() {
                        location.reload();
                    })
            });
        $(document).on("click",
            ".fa-share-square.topic",
            function() {
                $.get(SnitzVars.baseUrl + "/Topic/UnSubscribe/?id=" + $(this).data("id"),
                    function() {
                        location.reload();
                    })
            });
    </script>
</storecontent>