@model List<Member>
@using MVCForum.MiddleWare
@using Microsoft.AspNetCore.Identity
@using SnitzCore.Data.Extensions;
@inject UserManager<ForumUser> userManager
@{
    var onlinecount = OnlineUsersMiddleware.GetOnlineUsersCount();
    var activecount = 0;
    var activemembers = new List<Member>();
    foreach (var member in Model)
    {
        if(member.Lastactivity.FromForumDateStr() > DateTime.UtcNow.AddMinutes(-5))
        {
            activecount += 1;
            activemembers.Add(member);
        }
    }
}
<ul class="list-unstyled">
    <li>
        @Localizer["lblOnlineUsersDesc", new object[] { onlinecount, activecount, 0, onlinecount - activecount, 0, "" }]
    </li>
    <li>
        @foreach (var activemember in activemembers)
        {
            <snitz-avatar src="~/Content/Avatar/@activemember!.PhotoUrl" def-src="~/images/ninja-1027877_960_720.webp" class="avatarsmall rounded-circle" />
        }
    </li>
    <li><hr /></li>

    <li>@Localizer["lblRecent"]</li>
@foreach(var member in Model)
{
        if (!activemembers.Contains(member))
        {
            <li><a href="~/Account/Detail/@member.Name" title="@Localizer["tipViewProfile"]">@member.Name</a> (<snitz-datetime datetime="@member.Lastactivity.FromForumDateStr()"></snitz-datetime>) </li>
        }
}
</ul>