@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@model SnitzCore.BackOffice.ViewModels.TranslationViewModel
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewBag.Title = "Translation Manager";
    Layout = "_MasterLayout";
    var cultureItems = LocOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.TwoLetterISOLanguageName, Text = c.DisplayName })
        .ToList();
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    string clang = requestCulture?.RequestCulture.Culture.Name!;
}
<div class="m-3">
    <h3>@ViewBag.Title
    <button snitz-if="@(User.IsInRole("Administrator"))" data-bs-href="@Url.Action("Import", "LanguageManager")" class="btn btn-primary" data-bs-target="#modal-container" data-bs-toggle="modal">Import Data</button>
    <button data-bs-href="@Url.Action("Export", "LanguageManager")" class="btn btn-primary" data-bs-target="#modal-container" data-bs-toggle="modal">Export Data</button>
    <a href="~/LanguageManager/Search" class="btn btn-primary text-white" title="Find a Resource"><i class="fa fa-search"></i> Find</a>
    <a href="~/LanguageManager/Templates" class="btn btn-primary text-white" title="Edit Templates"><i class="fa fa-file-text-o"></i> Email Templates</a>
    </h3>
    <form asp-action="AddResource" data-ajax="true" data-ajax-update="#result-resource" class="row mt-3">
        <legend>Add new Resource Key</legend>
        <div class="col-2 mb-3">
            <label for="ResourceSet" class="form-label">Resource Set</label>
            <select id="ResourceSet" class="form-select" title="Select language to edit" name="ResourceSet" aria-required="true">
                @foreach (var rs in Model.ResourceSets.OrderBy(r=>r))
                {
                    <option value="@rs">@rs</option>
                }
            </select>
            <div class="valid-feedback"></div>
        </div>
        <div class="col-2 mb-3">
            <label for="Name" class="form-label">Resource Key</label>
            <input type="text" class="form-control" id="Name" name="Name" aria-required="true">
            <div class="valid-feedback"></div>
        </div>
        <div class="col-4 mb-3">
            <label for="ResourseValue" class="form-label">Value</label>
            <input type="text" class="form-control" id="ResourseValue" name="Value">
        </div>
        <div class="col-2 mb-3">
            <label for="ResourceLang" class="form-label">Language</label>
            <select id="ResourceLang" class="form-select" title="Select language to edit" name="Culture">
                <option value="" selected>- Select -</option>
                @foreach (var culture in cultureItems)
                {
                    if (culture.Value == clang)
                    {
                        <option value="@culture.Value" selected>@culture.Text</option>
                    }
                    else
                    {
                        <option value="@culture.Value">@culture.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-2 mb-3">
            <label for="del-resource" class="form-label d-block" tabindex="-1">&nbsp;</label>
            <button id="del-resource" type="submit" class="btn btn-success" title="Add Resource"><i class="fa fa-save"></i></button>
        </div>
    </form>
    <div id="result-resource"></div>

    <hr id="dictionary-start"/>

    <h4>Dictionary</h4>
    <div class="row">
        <div class="accordion accordion-flush col-4" id="accordionFlushExample">
            @foreach (var lang in Model.Resources.GroupBy(l => l.ResourceSet).OrderBy(o => o.Key))
            {
                var flushcollapse = "flush-collapse" + lang.Key;
                var flushheading = "flush-heading" + lang.Key;
                <div class="accordion-item">
                    <h2 class="accordion-header" id="@flushheading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@flushcollapse" aria-expanded="false" aria-controls="@flushcollapse">
                            <i snitz-if="@(User.IsInRole("Administrator"))" class="fa fa-trash fs-4" title="Delete Resource Set" data-id="@lang.Key" data-url="~/LanguageManager/DeleteResourceSet/"></i> &nbsp; @lang.Key
                        </button>
                    </h2>
                    <div id="@flushcollapse" data-id="@lang.Key" class="accordion-collapse collapse" aria-labelledby="@flushheading" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body resource-card" id="@lang.Key" style="cursor:pointer;">Placeholder.</div>
                    </div>
                </div>                
            }
        </div>
        <div class="col p-2">
            <div id="loader"></div>
            <div class="card p-3" id="resource-card" ></div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-outline-danger">X</a>
                <h3>Delete Resource</h3>
            </div>
            <div class="modal-body">
                <p>Delete this Resource.<br /><span class="form-text">This will remove the Resource and all it's translations.</span></p>
                
            </div>
            <div class="modal-footer">
                <p>Do you want to proceed?</p>
                <a href="#" id="btnYes" class="btn btn-danger">Yes</a>
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-warning">No</a>
            </div>
        </div>
    </div>
</div>
<div id="rsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="rsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-outline-danger">X</a>
                <h3>Delete ResourceSet</h3>
            </div>
            <div class="modal-body">
                <p>Delete current ResourceSet.<br /><span class="form-text">This will remove the ResourceSet and all it's Resources.</span></p>
            </div>
            <div class="modal-footer">
                <label class="form-label">Do you wish to proceed?</label>
                <a href="#" id="rsbtnYes" class="btn btn-danger">Yes</a>
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-warning">No</a>
            </div>
        </div>
    </div>
</div>
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-container" aria-hidden="true">
    <div id="upload-container" class="modal-dialog" role="document"></div>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        var $loading = $('#loader').hide();
        $(document)
            .ajaxStart(function () {
                $loading.show();
            })
            .ajaxStop(function () {
                $loading.hide();
            });

        $(document).ready(function () {
            $('#Admin').load(SnitzVars.baseUrl + "/LanguageManager/ResourceSet/Admin");
            $("#admin-nav li a.nav-link.active").removeClass("active");
            $("#lang-settings").addClass("active");
        });
        $(document).on("click", ".accordion-button .fa-trash", function (e) {
            e.stopImmediatePropagation();
            e.preventDefault();
            var id = $(this).data('id');
            var href = $(this).data('url');

            $('#rsModal').data('id', id).data('url', href.replace("~", SnitzVars.baseUrl)).modal('show');
        })
        $(document).on('show.bs.collapse', '.collapse', function (e) {
            e.stopImmediatePropagation();
            var clicked = $(e.target).attr('id');
            var id = $(e.target).data('id');
            $('#' + id)
                .load(SnitzVars.baseUrl + "/LanguageManager/ResourceSet/" + $(this).data('id'), function (e) {
                    $('.lang-control').each(function () {
                        var val = $(this).val();
                        $(this).toggleClass("bg-warning", val.length == 0)
                    })
                });
        });
        $(document).on('click', '.confirm-delete', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var href = $(this).attr('href');
            $('#myModal').data('id', id).data('url', href.replace("~", SnitzVars.baseUrl)).modal('show');
        });
        $(document).on("click", ".resource-set",
            function () {
                $('#resource-card')
                    .load(SnitzVars.baseUrl + "/LanguageManager/Resource/" + $(this).data('id') + "/?filter=" + $('#filter').val(), function (e) {
                        scrollToElement($('#dictionary-start'));
                        $('.lang-control').each(function () {
                            var val = $(this).val();
                            $(this).toggleClass("bg-warning", val.length == 0)
                        })
                    });
            });
        $(document).on('click', '#rsbtnYes', function (e) {
            // handle deletion here
            e.preventDefault();
            var url = $('#rsModal').data('url') + $('#rsModal').data('id');

            $.get(url, function (result) {
                $('#rsModal').modal('hide');
                location.reload();
            });
        });
        $(document).on('click', '#btnYes', function (e) {
            // handle deletion here
            e.preventDefault();
            var url = $('#myModal').data('url');

            $.get(url, function (result) {
                $('#myModal').modal('hide');
                location.reload();
            });
        });
        $(document).on('click', '#del-resourceset', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var href = $(this).attr('href');
            $('#rsModal').data('id', id).data('url', href.replace("~", SnitzVars.baseUrl)).modal('show');
        });

        document.getElementById('modal-container')
        .addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var action = button.getAttribute('data-bs-href');
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            $.get(action,
                function (data) {
                    $("#upload-container").html(data);
                    $("#frmExportCSV").submit(function (e) {
                        $('input[type="submit"]').attr('disabled', 'disabled');
                        $('#modal-container').modal('hide');
                    });
                });
        });
        function scrollToElement(ele) {
            console.log("scrollToElement");
            window.setTimeout(function () {
                $(window).scrollTop(ele.offset().top);
            }, 10);
        }
    </script>
}