
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@model SnitzCore.BackOffice.ViewModels.TranslationViewModel
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewBag.Title = "Language Search";
    Layout = "_MasterLayout";
    var cultureItems = LocOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.TwoLetterISOLanguageName, Text = c.DisplayName })
        .ToList();
}
<div class="mt-3">
    <legend>@ViewBag.Title</legend>
    <form asp-action="Search" asp-controller="LanguageManager" method="POST" class="mt-3 mb-3">
        <div class="row  mb-3">
            <div class="col-2">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="filterby" id="filterby1" value="id">
                    <label class="form-check-label" for="filterby1">ResourceId</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="filterby" id="filterby2" value="value">
                    <label class="form-check-label" for="filterby2">Description</label>
                </div>
            </div>
@*             <div class="col-2">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="filterby" id="filterby3" value="value">
                    <label class="form-check-label" for="filterby3">Empty</label>
                </div>
            </div> *@
            <div class="col-3">
                <select id="ResourceLang" class="form-select" title="Select language to edit" name="Culture">
                    <option value="" selected>- Select Language -</option>
                    @foreach (var culture in cultureItems)
                    {
                        <option value="@culture.Value">@culture.Text</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="input-group">
                    <input name="filter" class="form-control" id="filter" />
                    <button type="submit" class="btn btn-outline-primary">@Localizer["btnFind"]</button>
                </div>
            </div>
        </div>

    </form>
    <hr />
        <ul class="list-unstyled">
            @{
                int counter = 0;
                foreach (var lang in Model.Resources)
                {
                <form asp-action="SearchUpdate" asp-controller="LanguageManager" method="POST" class="mt-3 mb-3">
                    <input asp-for="filter" type="hidden"/>
                    <li class="row mb-3 ">
                        <label class="form-text col-4">@lang.Name</label>
                        <div class="input-group col">
                            @if (lang.Value.Length > 60)
                            {
                            <textarea name="Resources[0].Value" asp-for="Resources[counter].Value" rows="2" class="form-control" placeholder="" aria-label="@lang.Value"></textarea>
                            }
                            else
                            {
                            <input name="Resources[0].Value" asp-for="Resources[counter].Value" type="text" class="form-control" placeholder="" aria-label="@lang.Value" />
                            }
                        <button class="btn btn-outline-success" type="submit" asp-action="SearchUpdate" asp-controller="LanguageManager"><i class="fa fa-save"></i></button>
                        <button class="btn btn-outline-danger" type="submit" asp-action="SearchDelete" asp-controller="LanguageManager"><i class="fa fa-trash"></i></button>
                        </div>
                        <input name="Resources[0].Id" asp-for="Resources[counter].Id" type="hidden" />
                        <input name="Resources[0].Culture" asp-for="Resources[counter].Culture" type="hidden" />
                        <input name="Resources[0].Name" asp-for="Resources[counter].Name" type="hidden" />
                        <input name="Resources[0].ResourceSet" asp-for="Resources[counter].ResourceSet" type="hidden" />
                    </li>
                </form>
                counter++;
                }
            }
        </ul>
</div>
@section Scripts
{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#lang-settings").addClass("active");
    </script>
}