
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@model SnitzCore.BackOffice.ViewModels.TranslationViewModel
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewBag.Title = "Language Search";
    Layout = "_MasterLayout";
    var cultureItems = LocOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.TwoLetterISOLanguageName, Text = c.DisplayName })
        .ToList();
}
<div class="mt-3">
    <h4>@ViewBag.Title</h4>
    <form asp-action="Search" asp-controller="LanguageManager" method="POST" class="mt-3 mb-3">
        <div class="row  mb-3">
            <div class="col-2">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="filterby" id="filterby1" value="id">
                    <label class="form-check-label" for="filterby1">ResourceId</label>
                </div>
            </div>
            <div class="col-2">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="filterby" id="filterby2" value="value">
                    <label class="form-check-label" for="filterby2">Description</label>
                </div>
            </div>
@*             <div class="col-2">
                <div class="form-check form-check-inline mt-2">
                    <input class="form-check-input" type="radio" name="filterby" id="filterby3" value="value">
                    <label class="form-check-label" for="filterby3">Empty</label>
                </div>
            </div> *@
            <div class="col-3">
                <select id="ResourceLang" class="form-select" title="Select language to edit" name="Culture">
                    <option value="" selected>- Select Language -</option>
                    @foreach (var culture in cultureItems)
                    {
                        <option value="@culture.Value">@culture.Text</option>
                    }
                </select>
            </div>
            <div class="col">
                <div class="input-group">
                    <input name="filter" class="form-control" id="filter" />
                    <button type="submit" class="btn btn-outline-primary">@Localizer["btnFind"]</button>
                </div>
            </div>
        </div>

    </form>
    <hr />
    <ul class="list-unstyled">
        @foreach (var res in Model.Translations!)
        {
            <li>
                <div class="card p-3 m-3">
                    <ul class="list-unstyled">
                        <li class="list-unstyled">
                            <h4 class="mb-3">
                                @res.Key
                                <button snitz-if="@(User.IsInRole("Administrator"))" id="del-resourceset" href="~/LanguageManager/DeleteResource/" data-id="@res.Key" class="btn btn-outline-danger align-right" title="Delete Resource values"><i class="fa fa-trash-o"></i></button>
                            </h4>
                        </li>
                        <li class="list-unstyled">
                            @foreach (var culture in cultureItems)
                            {
                                var langres = res.Value.SingleOrDefault(v => v.Culture == culture.Value);
                                if(langres == null)
                                {
                                    langres = new SnitzCore.Data.Models.LanguageResource();
                                    langres.Culture = culture.Value;
                                    langres.Name = res.Key;
                                    langres.ResourceSet = res.Value.First().ResourceSet;
                                }

                                <form asp-action="UpdateResource" data-ajax="true" data-ajax-update="#result_@langres.Name" data-ajax-complete="ResourceUpdated" class="row">
                                    <div class="mb-3 row">
                                        <label for="@langres.Name" class="col-sm-3 col-form-label">@culture.Text</label>
                                        <div class="lang_@culture.Value col-6">
                                            <input type="hidden" value="@langres.ResourceSet" name="ResourceSet" />
                                            <input type="hidden" value="@culture.Value" name="Culture" />
                                            <input type="hidden" value="@langres.Id" name="Id" />
                                            <input type="hidden" value="@langres.Name" name="Name" />
                                            <lang-res culture="@culture.Value" resource="@langres.Name"></lang-res>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-sm btn-outline-success" type="submit" title="Save Changes" data-id="@langres.Id" name="subBut" value="update"><i class="fa fa-save"></i></button>
                                            <button-confirm snitz-if="@(User.IsInRole("Administrator") && culture.Value != "en")" size="btn-sm" selector="confirm-delete" config-class="fa fa-trash-o" config-key="@langres.Name" href="~/LanguageManager/DeleteResource/?id="></button-confirm>
                                            <span id="result_@langres.Name"></span>
                                        </div>
                                    </div>
                                </form>
                                
                            }
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>
</div>

<div id="rsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="rsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-outline-danger">X</a>
                <h3>Delete ResourceSet</h3>
            </div>
            <div class="modal-body">
                <p>Delete current ResourceSet.<br /><span class="form-text">This will remove the ResourceSet and all it's Resources.</span></p>
            </div>
            <div class="modal-footer">
                <label class="form-label">Do you wish to proceed?</label>
                <a href="#" id="rsbtnYes" class="btn btn-danger">Yes</a>
                <a href="#" data-bs-dismiss="modal" aria-hidden="true" class="btn btn-warning">No</a>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $("#admin-nav li a.nav-link.active").removeClass("active");
        $("#lang-settings").addClass("active");

        $(document).on('click', '#del-resourceset', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var href = $(this).attr('href');
            $('#rsModal').data('id', id).data('url', href.replace("~", SnitzVars.baseUrl)).modal('show');
        });

        $(document).on('click', '#rsbtnYes', function (e) {
            // handle deletion here
            e.preventDefault();
            var url = $('#rsModal').data('url') + $('#rsModal').data('id');

            $.get(url, function (result) {
                $('#rsModal').modal('hide');
                location.reload();
            });
        });

        function ResourceUpdated(xhr, status){
            setTimeout(function() {
                $('.loading').hide();
            }, 2000); // <-- time in milliseconds
        };

    </script>
}