@model IEnumerable<MVCForum.Models.Post.PostListingModel>
<div class="subforum latest-posts">
    <ul class="list-group">
        <li class="list-group-item subforum-title">
            <h1 id="latestPosts"><a asp-action="Active" asp-controller="Forum" title="TODO:">@Localizer["lblRecentActivity"]</a></h1>
        </li>
        @foreach (var p in Model)
        {
            <li class="list-group-item">
                <div class="forumLogo" style="background-image: url(@p.Forum?.ImageUrl); background-size: 100%"></div>
                <div class="postTitle">
                    <a asp-controller="Topic" asp-action="Index" asp-route-id="@p.Id">@p.Title</a>
                </div>
                <div class="postSubtitle">
                    @switch (p.RepliesCount)
                    {
                        case 1:
                            <span>@p.RepliesCount @Localizer["Reply"]</span>
                            break;
                        case 0:
                            <span>@Localizer["lblNoReplies"]</span>
                            break;
                        default:
                            <span>@p.RepliesCount @Localizer["lblReplies"]</span>
                            break;
                    }
                    <span class="postUser">
                        <a asp-controller="Account" asp-action="Detail" asp-route-id="@p.AuthorName">
                            @p.AuthorName
                        </a>
                    </span>
                </div>
            </li>
        }
    </ul>
</div>
