<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarDropdownAdminLink" rel="nofollow noindex">
        @Localizer["mnuAdmin"]
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdminLink">
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index" rel="nofollow noindex">@Localizer["mnuAdminMainConfig"]</a></li>
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="EmailConfig" rel="nofollow noindex">@Localizer["mnuAdminEmail"]</a></li>
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Forum" rel="nofollow noindex">@Localizer["mnuAdminForum"]</a></li>
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Features" rel="nofollow noindex">@Localizer["mnuAdminFeature"]</a></li>
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Members" rel="nofollow noindex">@Localizer["mnuAdminMembership"]</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="~/LanguageManager/" rel="nofollow noindex">@Localizer["mnuAdminLangResources"]</a></li>
        <li><a class="dropdown-item" asp-controller="LanguageManager" asp-action="Search" rel="nofollow noindex">@Localizer["mnuAdminFindLangRes"]</a></li>
        <li><a class="dropdown-item" asp-controller="Charts" asp-action="Index" rel="nofollow noindex">@Localizer["mnuAdminTools"]</a></li>
        <li><hr class="dropdown-divider" /></li>
        @await Component.InvokeAsync("Polls", new { template = "MenuItem" })
        <li><a class="dropdown-item" asp-controller="Category" asp-action="Create" rel="nofollow noindex">@Localizer["tipNewCategory"]</a></li>
        @if (User.IsInRole("SuperAdmin"))
        {
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" asp-controller="LogView" asp-action="Index" rel="nofollow noindex">Logs</a></li>
            <li><a class="dropdown-item" href="~/snitzjobs" rel="nofollow noindex">@Localizer["tipHangfire"]</a></li>
            <li>
                <link-confirm title="Clear Cache" jq-selector="confirm-clearcache" href="~/Admin/ClearCache" class="dropdown-item text-warning"></link-confirm>
            </li>
            <li>
                <link-confirm title="@Localizer["mnuAdminReset"].Value" jq-selector="confirm-restart" href="~/Admin/Restart" class="dropdown-item text-warning"></link-confirm>
            </li>
            <li>
                <link-confirm title="Update Counts" jq-selector="confirm-counts" href="~/Admin/UpdateCounts" class="dropdown-item text-warning"></link-confirm>
            </li>

            <li><a class="dropdown-item" asp-controller="FileManager" asp-action="Index" rel="nofollow noindex">@Localizer["mnuAdminExplorer"]</a></li>
        }
    </ul>
</li>
