@using BbCodeFormatter
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Snitz.Events.Helpers
@using Snitz.PostThanks.Helpers
@using SnitzCore.Data
@using SnitzCore.Service.TagHelpers
@model MVCForum.ViewModels.Post.PostListingModel
@inject IEnumerable<ISnitzStartupService> pluginservices

@{
    ViewBag.RatingSum = Model.Rating;
    var moderatedClass = $"modstatus-{Model.Status}";
    if (Model.UnmoderatedReplies > 0 && User.IsInRole("Administrator"))
    {
        moderatedClass = "modstatus-2";
    }

    int replies = Model.RepliesCount;
    if (User.IsInRole("Administrator") || User.IsInRole("Forum_" + Model.Forum.Id))
    {
        replies += Model.UnmoderatedReplies;
    }
    var thanksservice = pluginservices.FirstOrDefault(t => t.GetType() == typeof(PostThanksService));
    if (thanksservice != null)
    {
        TempData["allowThanks"] = thanksservice.EnabledForTopic(Model.Forum.Id);
    }
}
<storecontent asp-key="blog-css">
    <style>
        .table-head {display:none;}
    </style>
</storecontent>
<div class="blog-row">
    <div class="blog-container @moderatedClass">
        <div class="text ellipsis">
            <div class="content-header">
                <h2><a href="@Url.Action("Posts", "Topic", new { id = Model.Id, pagenum = 1, archived = 0 })" class="topic-link" aria-label='@Localizer["lblView"] Topic, @BbCodeProcessor.Format(Model.Title, false)'>@BbCodeProcessor.Format(Model.Title, false)</a></h2>
                <div class="author-info">
                    <div class="author-details">
                        <snitz-avatar src="~/Content/Avatar/@Model.AuthorImageUrl" def-src="~/images/ninja-1027877_960_720.webp" class="rounded-circle avatarsmall profile-popup" data-id="@Model.AuthorId" member="@Model.AuthorName" />
                        <div class="info">
                            <h4>@Model.AuthorName</h4>
                            <span class="role">@Model.AuthorTitle</span>
                        </div>
                    </div>
                    <div class="post-meta">
                        <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> <snitz-datetime datetime="@Model.Created"></snitz-datetime></span>
                        <span class="divider" aria-hidden="true">•</span>
                        <span class="comments"><i class="fa fa-comment-o" aria-hidden="true"></i> @Model.RepliesCount Comments</span>
                    </div>
                </div>
                @if (ViewBag.RatingSum > 0)
                {
                    <input disabled id="star-rating-@Model.Id" value="@ViewBag.RatingSum" type="number" class="rating" min=0 max=5 step=0.1 data-size="xs" />
                }
            </div>
            <div class="text-concat p-2 mt-1">@Html.Raw(BbCodeProcessor.Format(Model.Message))</div>
       </div>
        <a href="@Url.Action("Posts", "Topic", new { id = Model.Id, pagenum = 1, archived = 0 })" data-toggle="tooltip" title='@Localizer["lblView"] Topic, @BbCodeProcessor.Subject(Model.Title)'>@Localizer["blogMore"] ... </a><br />
    </div>
</div>
