@using BbCodeFormatter
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Snitz.Events.Helpers
@using Snitz.PostThanks.Helpers
@using SnitzCore.Data
@using SnitzCore.Service.TagHelpers
@model MVCForum.ViewModels.Post.PostListingModel
@inject IEnumerable<ISnitzStartupService> pluginservices

@{
    ViewBag.RatingSum = Model.Rating;
    var moderatedClass = $"modstatus-{Model.Status}";
    if (Model.UnmoderatedReplies > 0 && User.IsInRole("Administrator"))
    {
        moderatedClass = "modstatus-2";
    }

    int replies = Model.RepliesCount;
    if (User.IsInRole("Administrator") || User.IsInRole("Forum_" + Model.Forum.Id))
    {
        replies += Model.UnmoderatedReplies;
    }
    var thanksservice = pluginservices.FirstOrDefault(t => t.GetType() == typeof(PostThanksService));
    if (thanksservice != null)
    {
        TempData["allowThanks"] = thanksservice.EnabledForTopic(Model.Forum.Id);
    }
}
<storecontent asp-key="blog-css">
    <style>
        .table-head {display:none;}
    </style>
</storecontent>
<div class="blog-row">
    <div class="blog-container @moderatedClass">
        <div class="text ellipsis">
            <div class="content-header">
                <h1><a href="@Url.Action("Posts", "Topic", new { id = Model.Id, pagenum = 1, archived = 0 })" data-toggle="tooltip" class="topic-link" data-html="true" data-placement="auto" data-title='@BbCodeProcessor.Format(Model.Title, false)'>@BbCodeProcessor.Format(Model.Title, false)</a></h1>
                <div class="author-info">
                    <div class="author-details">
                        <a href="~/Account/Detail/@Model.AuthorName" title="@Model.AuthorName">
                            <snitz-avatar src="~/Content/Avatar/@Model.AuthorImageUrl" def-src="~/images/ninja-1027877_960_720.webp" class="rounded-circle avatarsmall" member="@Model.AuthorName" />
                        </a>
                        <div class="info">
                            <h4>@Model.AuthorName</h4>
                            <span class="role">@Model.AuthorTitle</span>
                        </div>
                    </div>
                    <div class="post-meta">
                        <span class="date"><i class="fa fa-calendar"></i> <snitz-datetime datetime="@Model.Created"></snitz-datetime></span>
                        <span class="divider">•</span>
                        <span class="comments"><i class="fa fa-comment-o"></i> @Model.RepliesCount Comments</span>
                    </div>
                </div>
                @if (ViewBag.RatingSum > 0)
                {
                    <input id="star-rating-@Model.Id" value="@ViewBag.RatingSum" type="number" class="rating" min=0 max=5 step=0.1 data-size="xs" />
                }
            </div>
            <div class="text-concat" style="margin-top:11px; padding-bottom: 6px;">@Html.Raw(BbCodeProcessor.Format(Model.Message))</div>
       </div>
        <a href="@Url.Action("Posts", "Topic", new { id = Model.Id, pagenum = 1, archived = 0 })" data-toggle="tooltip" data-title='@Localizer["lblView"] @BbCodeProcessor.Format(Model.Title)'>@Localizer["blogMore"]</a><br />
    </div>
</div>
