<div class="forum-info note rounded mt-1">
    <span><i class="fa fa-frown-o"></i>&nbsp; @Localizer["lblNoReplyTopic"]</span><br/>
    <span><i class="fa fa-folder"></i>&nbsp; @Localizer["lblAnswered"]</span><br />
    <span><i class="fa fa-folder-o"></i>&nbsp; @Localizer["lblOldPosts"]</span>&nbsp;
    <span><i class="fa fa-folder-o" style="color: magenta;"></i>&nbsp; @Localizer["lblNewPosts"]</span><br/>
    <span><i class="fa fa-fire"></i>&nbsp; @Localizer["lblHotTopic", new object[] { SnitzConfig.GetIntValue("INTHOTTOPICNUM",25)}]</span>&nbsp;
    <span><i class="fa fa-rocket"></i>&nbsp; @Localizer["lblSuperHotTopic"]</span><br/>
    <span><i class="fa fa-lock"></i>&nbsp; @Localizer["lblLockedTopic"]</span><br/>
    <span><i class="fa fa-thumb-tack"></i>&nbsp; @Localizer["StickyTopics"]</span>
</div>
