@using System.Globalization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SnitzCore.Service.MiddleWare
@using SnitzCore.Service.TagHelpers
@{
    string[] rtlLangs = new string[] { "ar", "arc", "dv", "fa", "ha", "khw", "ks", "ku", "ps", "ur", "yi", "he" };

    //check the culture so we can set the page direction and language
    var cookielang = SnitzCookie.GetCookieValue("CookieLang");
    CultureInfo ci = CultureInfo.CurrentUICulture;
    string clang = ci.TwoLetterISOLanguageName;

    if (cookielang != null)
    {
        var cultureInfo = new CultureInfo(cookielang);
        CultureInfo.CurrentUICulture = cultureInfo;
        clang = cultureInfo.TwoLetterISOLanguageName;
    }
    Context.Session.SetString("culture", clang);
    bool isRighToLeft = rtlLangs.Contains(clang);
    MemberService.SetLastHere(User);
}
<!DOCTYPE html>
<html lang="@clang" dir="@(isRighToLeft ?  "rtl" : "ltr" )">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="@Config.Value.strForumUrl?.TrimEnd('/')/favicon.ico">
    @await RenderSectionAsync("MetaData", required: false)
    @if (isRighToLeft)
    {
        <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">

    }else{
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    }
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/solid.min.css">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css">
        <link rel="stylesheet" href="~/css/about.css">
        <link rel="stylesheet" href="~/css/busy.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/css/about.min.css">
        <link rel="stylesheet" href="~/css/busy.min.css">
    </environment>

    @await Component.InvokeAsync("SnitzThemeCss")
    @await RenderSectionAsync("Styles", required: false)

        <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>
    <partial name="_BusyPartial" />
    <div class="d-flex flex-column" style="min-height: 100vh;">
        <partial name="MainNav"/>       
        <div class="container flex-grow-1">
            <partial snitz-if="@(SnitzConfig.GetIntValue("INTREQUIRECONSENT") == 1)" name="CookieConsentPartial" />
            <main role="main" class="pb-3 mt-6">
            @if (SnitzConfig.IsEnabled("INTTOPBANNER"))
            {
                @await Component.InvokeAsync("AdRotator", new { template = "top" })
            }
            <div id="liveAlertPlaceholder"></div>     
            <partial snitz-if="@(SnitzConfig.GetIntValue("STRSHOWANNOUNCE") == 1)" name="Announcement" />

                @RenderBody()
            </main>
        </div>
        <cache expires-after="@TimeSpan.FromDays(7)">
            <partial name="Footer"/>
        </cache>
    </div>
    <div id="user-card" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body user-card">
                    <div class="card-content" id="user-card-content" data-name="popover">
                        some stuff <b>bold</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/jquery.timeago.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
        <partial name="GlobalJs" />
        <partial name="ValidationScriptsPartial" />
        <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/lib/jquery/jquery.timeago.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
        <partial name="GlobalJs" />
        <partial name="ValidationScriptsPartial" />
        <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
@if (!clang.Contains("en"))
{
        var src = $"timeago.{clang}.js";
        <script type="text/javascript" src="~/js/timeago/@src"></script>
}
@await RenderSectionAsync("Scripts", required: false)
<renderstoredcontent asp-key="cookie-consent"></renderstoredcontent>
<renderstoredcontent asp-key="password-toggle"></renderstoredcontent>
<script type="text/javascript">
    /* Show the user card popup when clicking on a profile link */
    $(document).on("click", ".profile-popup", function (e) {
        e.preventDefault();
        var rect = e.target.getBoundingClientRect(); 
        $("#user-card .modal-dialog").css('position', 'absolute');
        $("#user-card .modal-dialog").css('top', rect.top - 100 + "px");
        $("#user-card .modal-dialog").css('left', rect.left);
        $('#user-card').modal('show');
        $('#user-card-content').html('');
        $('#user-card-content').load(SnitzVars.baseUrl + "/Account/DetailPopup/" + $(this).data("id") + "/?lang=@clang", function (response, status, xhr) {
            $("time.timeago").timeago();
        });
    });
</script>
</body>
</html>
