@model PagingModel
@{
    int pagecount = ViewBag.PageCount;
    var page = Model.Page;
    var orderby = "";
    var defaultdays = "";
    var sortdir = "";

    if (Context.Request.Query["page"].Count > 0)
    {
        page = Convert.ToInt32(Context.Request.Query["page"].ToString());
    }
    var intLow = page - 1;
    var intHigh = page + 3;
    if (page == 1) {intLow = 1;}
    if (intHigh > pagecount) {intHigh = pagecount;}
    if (intHigh - intLow < 5) {while ((intHigh < intLow + 4) && intHigh < pagecount) {intHigh++;}}
    if (intHigh - intLow < 5) {while ((intLow > intHigh - 4) && intLow > 1) {intLow--;}}

    if (Context.Request.Query["orderby"].Count > 0)
    {
        orderby = $"&orderby={Context.Request.Query["orderby"]}";
    }
    else if (Model.OrderBy != null)
    {
        orderby = $"&orderby={Model.OrderBy}";
    }
    
    if (Context.Request.Query["defaultdays"].Count > 0)
    {
        defaultdays = $"&defaultdays={Context.Request.Query["defaultdays"]}";
    }
    else if (Model.DefaultDays != -10000)
    {
        defaultdays = $"&defaultdays={Model.DefaultDays}";
    }
    
    if (Context.Request.Query["sortdir"].Count > 0)
    {
        sortdir = $"&sortdir={Context.Request.Query["sortdir"]}";
    }
    else if (Model.SortDir != null)
    {
        sortdir = $"&sortdir={Model.SortDir}";
    }

    var pagesize = $"&pagesize={Model.PageSize}";
}
<nav aria-label="Page navigation" class="mb-1">
    <ul class="pagination">
        @if (page == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" title="@Localizer["tipFirstPage"]" href="#" aria-label="First" tabindex="-1">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">@Localizer["tipFirstPage"]</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" title="@Localizer["tipPreviousPage"]" href="#" aria-label="Previous" tabindex="-1">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">@Localizer["tipPreviousPage"]</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" title="@Localizer["tipFirstPage"]" href="?page=1@(orderby)@(defaultdays)@(sortdir)@(pagesize)" aria-label="First" tabindex="-1">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">@Localizer["tipFirstPage"]</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" title="@Localizer["tipPreviousPage"]" href="?page=@(page-1)@(orderby)@(defaultdays)@(sortdir)@(pagesize)" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">@Localizer["tipPreviousPage"]</span>
                </a>
            </li>
        }
        @for (int i = intLow; i < intHigh + 1; i++)
        {
            if (i == page)
            {
                <li class="page-item active"><a class="page-link" title="@Localizer["tipGotoPage",i]" href="?page=@i@(orderby)@(defaultdays)@(sortdir)@(pagesize)">@i<span class="sr-only">(current)</span></a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" title="@Localizer["tipGotoPage",i]" href="?page=@i@(orderby)@(defaultdays)@(sortdir)@(pagesize)">@i</a></li>
            }
            
        }
        @if (page == pagecount)
        {
            <li class="page-item disabled">
                <a class="page-link" title="@Localizer["tipNextPage"]" href="#" aria-label="Next" tabindex="-1">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">@Localizer["tipNextPage"]</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" title="@Localizer["tipLastPage"]" href="#" aria-label="Last" tabindex="-1">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">@Localizer["tipLastPage"]</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" title="@Localizer["tipNextPage"]" href="?page=@(page+1)@(orderby)@(defaultdays)@(sortdir)@(pagesize)" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">@Localizer["tipNextPage"]</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" title="@Localizer["tipLastPage"]" href="?page=@pagecount@(orderby)@(defaultdays)@(sortdir)@(pagesize)" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">@Localizer["tipLastPage"]</span>
                </a>
            </li>
        }
        <li class="page-item disabled"><span class="page-link">@Localizer["lblTotalPages", pagecount]</span></li>
        
    </ul>
</nav>