@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVCForum.ViewModels.User.UserSignInModel
@if (!SignInManager.IsSignedIn(User))
{
    var hideme = ViewData["Error"] == null ? "display:none" : "";
    if (SnitzConfig.GetIntValue("STRUSECAPTCHA") == 0) { hideme = ""; }
    var returnurl = Context.Request.PathBase + Context.Request.Path;
    if (returnurl.ToString().Contains("Login"))
    {
        string referer = Context.Request.Headers["Referer"].ToString();
        if (!string.IsNullOrWhiteSpace(referer) && ! referer.Contains("Account"))
        {
            Uri baseUri = new Uri(referer);
            returnurl = baseUri.AbsolutePath;
        }
        else
        {
            returnurl = Context.Request.Query["ReturnUrl"].ToString();
        }
    }
    <div class="m-2 bg-form border border-dark rounded" style="@hideme" id="login-form">
        <div class="subforum">
            <h1 class="bg-dark text-bg-dark p-2">@Localizer["SignIn"]</h1>
            <form method="post" asp-controller="Account" asp-action="Login" id="loginform" class="needs-validation p-2" novalidate>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label asp-for="Username">@Localizer["Username"]</label>
                    <input asp-for="Username" class="form-control" />
                    <div class="invalid-feedback">@Localizer["PropertyRequired", Localizer["Username"].Value]</div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password">@Localizer["Password"]</label>
                    <div class="input-group" >
                        <input class="form-control password" id="password" type="password" asp-for="Password"  required />
                        <span class="input-group-text togglePassword" id="">
                            <i class="fa fa-eye" style="cursor: pointer"></i>
                        </span>
                    </div>
                    <div class="invalid-feedback">@Localizer["PropertyRequired", Localizer["Password"].Value]</div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RememberMe">@Localizer["RememberMe"]</label>
                    @Html.CheckBoxFor(m=>m.RememberMe,new{@class="checkbox"})
                </div>
                @Html.ValidationSummary()
                <input name="ReturnUrl" value="@returnurl" type="hidden"/>
                <button type="submit" class="btn btn-primary mb-3">@Localizer["SignIn"]</button>
                <div class="form-group">
                    <a asp-action="ForgotPassword" asp-controller="Account">@Localizer["SignInForgotPassword"]</a>
                </div>
            </form>
        </div>
    </div>
}

<storecontent asp-key="password-toggle">
    <script>

        
        $(document).on("keyup", '#loginform',function (e) {
            var keyCode = (window.event) ? e.which : e.keyCode;
            if (keyCode == 13) {
                $("#loginform").submit();
                e.preventDefault();
                return false;
            }
        });
        $(".togglePassword").click(function (e) {
            e.preventDefault();
            var type = $(this).parent().parent().find(".password").attr("type");
            if(type == "password"){
                $(".togglePassword i").removeClass("fa-eye").addClass("fa-eye-slash");
                $(this).parent().parent().find(".password").attr("type","text");
            }else if(type == "text"){
                $(".togglePassword i").removeClass("fa-eye-slash").addClass("fa-eye");
                $(this).parent().parent().find(".password").attr("type","password");
            }
        });
    </script>
</storecontent>