@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MVCForum.ViewModels.User.UserSignInModel
@inject SignInManager<ForumUser> SignInManager
@if (!SignInManager.IsSignedIn(User))
{
    var returnurl = Context.Request.PathBase + Context.Request.Path;
    if (returnurl.ToString().Contains("Login"))
    {
        string referer = Context.Request.Headers["Referer"].ToString();
        if (!string.IsNullOrWhiteSpace(referer) && ! referer.Contains("Account"))
        {
            Uri baseUri = new Uri(referer);
            returnurl = baseUri.AbsolutePath;
            returnurl = returnurl;
        }
        else
        {
            returnurl = Context.Request.Query["ReturnUrl"].ToString();
        }
    }
    <div class="m-2 bg-form border border-dark rounded">
        <div class="subforum">
            <h1 class="bg-dark text-white p-2">@Localizer["SignIn"]</h1>
            <form method="post" asp-controller="Account" asp-action="Login" class="needs-validation p-2" novalidate>
                <div class="form-group">
                    <label asp-for="Username">@Localizer["Username"]</label>
                    <input asp-for="Username" class="form-control" />
                    <div class="invalid-feedback">@Localizer["PropertyRequired", Localizer["Username"].Value]</div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password">@Localizer["Password"]</label>
                    <div class="input-group" id="show_hide_password">
                        @Html.PasswordFor(m => m.Password,new{@class="form-control"})
                    </div>
                    <div class="invalid-feedback">@Localizer["PropertyRequired", Localizer["Password"].Value]</div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="RememberMe">@Localizer["RememberMe"]</label>
                    @Html.CheckBoxFor(m=>m.RememberMe,new{@class="checkbox"})
                </div>
                @Html.ValidationSummary()
                <input name="ReturnUrl" value="@returnurl" type="hidden"/>
                <button type="submit" class="btn btn-primary mb-3">@Localizer["SignIn"]</button>
                <div class="form-group">
                    <a asp-action="ForgotPassword" asp-controller="Account">@Localizer["SignInForgotPassword"]</a>
                </div>
            </form>
        </div>
    </div>
}

