@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.TagHelpers
@using SnitzCore.Service.TagHelpers
@inject UserManager<ForumUser> UserManager
@inject SignInManager<ForumUser> SignInManager
@inject ISnitzCookie SnitzCookie
@{
    var currentTheme = SnitzCookie.GetCookieValue("snitztheme") ?? "SnitzTheme";
    var currForumUser = UserManager.GetUserAsync(User).Result;

    var showcalendar = SnitzConfig.GetIntValue("INTCALPUBLIC") == 1;
    showcalendar = showcalendar || SignInManager.IsSignedIn(User);
}
<nav class="navbar navbar-expand-md bg-dark @* navbar-custom  *@fixed-top">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index" title="@Html.Raw(SnitzConfig.ForumTitle) Home page"><img src="/images/logo.png" width="141" height="50" alt="Snitz Forums Logo" loading="lazy" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" id="navbarDropdownForumLink">@Localizer["mnuForum"]</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownForumLink">
                    <li><a class="dropdown-item" href="/Forums">@Localizer["mnuForumHome"]</a></li>
                    <li><a class="dropdown-item" asp-controller="Forum" asp-action="Active">@Localizer["mnuForumActive"]</a></li>
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Index">@Localizer["mnuForumMembers"]</a></li>
                    <li><a class="dropdown-item" asp-controller="Forum" asp-action="Search">@Localizer["mnuForumSearch"]</a></li>
                    <li snitz-if="@((SnitzConfig.TableExists("CAL_EVENTS") && SnitzConfig.GetIntValue("INTCALEVENTS") == 1) && showcalendar)"><a class="dropdown-item" asp-controller="Calendar" asp-action="Index">@Localizer["mnuCalendar"]</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown" snitz-if="@(SnitzConfig.TableExists("FORUM_IMAGES") && SnitzConfig.GetIntValue("STRPHOTOALBUM") == 1)">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" id="navbarDropdownAlbumLink">@Localizer["mnuAlbums"]</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAlbumLink">
                    <li><a class="dropdown-item" asp-controller="PhotoAlbum" asp-action="Index" asp-route-id="">@Localizer["mnuMemberAlbums"]</a></li>
                    <li><a class="dropdown-item" asp-controller="PhotoAlbum" asp-action="Album" asp-route-id="">@Localizer["mnuCommonAlbum"]</a></li>
                    <li snitz-if="@SignInManager.IsSignedIn(User)"><a class="dropdown-item" asp-controller="PhotoAlbum" asp-action="Member" asp-route-id="@currForumUser.MemberId">@Localizer["mnuMyAlbum"]</a></li>

                </ul>
            </li>

            @if (!SignInManager.IsSignedIn(User))
            {
                <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link">@Localizer["SignIn"]</a></li>
                @if (SnitzConfig.GetIntValue("STRPROHIBITNEWMEMBERS") != 1)
                {
                    <li class="nav-item"><a asp-controller="Account" asp-action="Register" class="nav-link">@Localizer["Register"]</a></li>
                }
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <partial name="MemberMenu"/>
                var user = UserManager.GetUserAsync(User).Result;
                if (user != null)
                {
                    var userroles = UserManager.GetRolesAsync(user).Result.ToList();
                    if (userroles.Contains("Administrator"))
                    {
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarDropdownAdminLink">
                                @Localizer["mnuAdmin"]
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdminLink">
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">@Localizer["mnuAdminMainConfig"]</a></li>
                                <li><a class="dropdown-item" asp-controller="Category" asp-action="Create">@Localizer["tipNewCategory"]</a></li>
                                <li><a href="~/LanguageManager/" class="dropdown-item">@Localizer["mnuAdminLangResources"]</a></li>
                                
                                <li><a class="dropdown-item" asp-controller="LanguageManager" asp-action="Search">Search Language</a></li>
                                <li><a class="dropdown-item" asp-controller="Forum" asp-action="Create">@Localizer["tipNewForum"]</a></li>
                                <li><hr/></li>
                                <li>
                                    <link-confirm title="Restart Application" jq-selector="confirm-restart" href="/Admin/Restart" class="dropdown-item text-warning"></link-confirm>

                                </li>

                            </ul>
                        </li>
                    }
                }
            }
        </ul>
        @if (SnitzConfig.GetIntValue("INTTHEMECHANGE") == 1)
        {
            <div class="d-flex m-1">
                <select id="theme-change" class="form-control" title="@Localizer["tipChangeTheme"]">
                <option value="SnitzTheme" selected-val="@currentTheme">Snitz Theme</option>
                <option value="DarkTheme" selected-val="@currentTheme">Dark Theme</option>
                <option value="LightTheme" selected-val="@currentTheme">Light Theme</option>
                <option value="OrangeTheme" selected-val="@currentTheme">Orange Theme</option>
                </select>
            </div>
        }
        <partial name="SelectLanguage" />

    </div>
</nav>
