@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SnitzCore.Service.TagHelpers

<a class="navbar-brand" asp-controller="Home" asp-action="Index" aria-label="@Html.Raw(SnitzConfig.ForumTitle) Home page">
    <img src="@SnitzConfig.RootFolder/images/wizard.webp" height="50" loading="lazy" alt="@Html.Raw(SnitzConfig.ForumTitle) logo">
    @* <img src="@SnitzConfig.RootFolder/images/logo.png" width="141" height="50" alt="@SnitzConfig.GetValue("logoAltText")" loading="lazy" /> *@
</a>

