@using SnitzCore.Service.Extensions
@model Member
@{
    Layout = null;
    var ranking = MemberService.GetRankings();
    var rankType = SnitzConfig.GetIntValue("STRSHOWRANK", 0);
    bool showEmail = Model.ReceiveEmail == 1 && User.Identity!.IsAuthenticated && SnitzConfig.GetIntValue("STREMAIL") == 1;
    bool showPM = SnitzConfig.GetIntValue("STRPMSTATUS") == 1 && Model.Pmreceive == 1 && User.Identity!.IsAuthenticated;
    bool showHome = Model.Privateprofile != 1 && !string.IsNullOrWhiteSpace(Model.Homepage) && SnitzConfig.GetIntValue("STRHOMEPAGE") == 1;
    showEmail = showEmail || User.IsInRole("Administrator");
}
<div class="authors flex-grow-0 flex-shrink-1">
    <div class="username"><a href="~/Account/Detail/@Model.Name" data-toggle="tooltip" title="@Localizer["lblView"] @Localizer["ProfileDetails", Model.Name]">@Model.Name</a></div>
    <div snitz-if="@(rankType == 1 || rankType == 3)">@Html.MemberRankTitle(Model, ranking, Localizer, "span")</div>
    <snitz-avatar title="@Localizer["ProfileSummary"].Value" src="@Model.PhotoUrl" def-src="~/images/ninja-1027877_960_720.webp" class="rounded-circle profile-popup" member="@Model.Name" data-id="@Model.Id" />
    <div class="d-none d-md-flex"><span class="post-count">@Localizer["lblPosts"]:</span> @Model.Posts</div>
    <div class="d-md-none text-center" title="@Localizer["lblPosts"]" data-toggle="tooltip">@Model.Posts</div>
    <div class="d-none d-md-flex" snitz-if="@(rankType > 1)"><member-rank member="@Model" user="@User" ranking="@ranking" size="fs-5"></member-rank></div>
    <div class="d-none d-lg-flex">
        <ul class="list-group list-group-horizontal list-unstyled mb-0 mt-1">
            <li snitz-if="@showEmail" class="p-1">
                <a href="#" title="@Localizer["tipAuthorEmail"]" data-toggle="tooltip" class="email-link" data-url="@Url.Action("EmailMember", "Account")" data-id="@Model.Id" data-original-title="@Localizer["tipAuthorEmail"]" ><i class="fa fa-2x fa-envelope"></i></a>
            </li>
            <li snitz-if="@showPM" class="p-1">
                <a href="#" title="@Localizer["tipAuthorPM"]" data-toggle="tooltip" class="sendpm-link" data-url="@Url.Action("Create", "PrivateMessage")" data-id="@Model.Id" data-original-title="@Localizer["tipAuthorPM"]"><i class="fa fa-2x fa-comments"></i></a>
            </li>
            <li snitz-if="@showHome" class="p-1">
                <a href="@Model.Homepage" data-toggle="tooltip" title="@Localizer["tipAuthorHomePage"]" target="_new"><i class="fa fa-2x fa-home"></i></a>
            </li>
            <li snitz-if="@User.IsInRole("Administrator")" class="p-1">
                <a href="#" class="show-ip" data-toggle="tooltip" title="@Localizer["tipAuthorIP"]" data-id="@Model.Id" data-url="@Url.Action("ShowIP", "Account")"><i class="fa fa-2x fa-sitemap"></i></a>
            </li>
            <li snitz-if="@User.IsInRole("Administrator")" class="p-1">
                @switch (Model.Status)
                {
                    case 1:
                        <a href="#" class="lock-member" data-toggle="tooltip" data-id="@Model.Id" title="@Localizer["tipAuthorLock"]" data-url="@Url.Action("LockMember", "Account")"><i class="fa fa-2x fa-user-lock"></i></a>
                        break;
                    default:
                        <a href="#" class="lock-member" data-toggle="tooltip" data-id="@Model.Id" title="@Localizer["tipAuthorUnLock"]" data-url="@Url.Action("LockMember", "Account")"><i class="fa fa-2x fa-unlock"></i></a>
                        break;
                }
            </li>
        </ul>
    </div>
</div>