@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.TagHelpers
@using SnitzCore.Service.TagHelpers

@inject ISnitzCookie SnitzCookie
@{
    var currentTheme = SnitzCookie.GetCookieValue("snitztheme") ?? SnitzConfig.GetValueWithDefault("STRDEFAULTTHEME", "SnitzTheme");

}
@if (SnitzConfig.GetIntValue("INTTHEMECHANGE") == 1)
{
    <div class="d-flex m-1">
        <select id="theme-change" class="form-control" title="@Localizer["tipChangeTheme"]">
            <option value="SnitzTheme" selected-val="@currentTheme">Snitz Theme</option>
            <option value="DarkTheme" selected-val="@currentTheme">Dark Theme (Needs Updating)</option>
            @* <option value="LightTheme" selected-val="@currentTheme">Light Theme</option> *@
            <option value="OrangeTheme" selected-val="@currentTheme">Orange Theme (Needs Updating)</option>
            <option value="VellumTheme" selected-val="@currentTheme">Vellum Theme</option>
        </select>
    </div>
}