@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SnitzCore.Data.Models
@model SnitzCore.BackOffice.ViewModels.AdminGroupsViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-5">
        <form asp-action="SaveFeatures" id="groups-enable" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
            <admin-config config-key="STRGROUPCATEGORIES" config-label="Enable Group Categories" config-val="@SnitzConfig.GetIntValue("STRGROUPCATEGORIES")"></admin-config>
        </form>
        <label class="h5">Manage Groups</label>
        <hr/>
        <ul>
            @foreach (var fgroup in Model.Groups!)
            {
                string linkText = fgroup.Name;
                <li>@Html.ActionLink(linkText, "ManageGroups", new { id = fgroup.Id },new{@class="manage-group", data_id=fgroup.Id})</li>
            }
        </ul>
        <form asp-action="UpdateGroupName" asp-controller="Groups" method="POST" data-ajax="true" id="upd-groupname" data-ajax-update="#group-result" >
            <div class="mb-3">
                <label class="form-label">Group Name</label>
                <div class="input-group mb-3">
                    <input type="text" name="GroupName" value="@Model.GroupName" class="form-control" aria-label="Group name">
                    <input type="hidden" name="GroupNameId" value="@Model.GroupNameId" aria-label="Group name id">
                    <button class="btn btn-outline-success" type="submit">Change Name</button>
                </div>
            </div>
        </form>
        <hr/>
        <form asp-action="AddGroup" asp-controller="Groups" method="POST" data-ajax="true" data-ajax-update="#group-result">
            <div class="mb-3">
                <label class="form-label">New Group</label>
                <div class="input-group mb-3">
                    <input type="text" name="GroupName" class="form-control" placeholder="New group name" aria-label="New group name" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" type="submit">Add Group</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-7">
        <div id="current-group"></div>
        @if (Model.Categories != null)
        {
            var groups = new SelectList(Model.Categories, "Key", "Value");
            <form id="RemCatForm" asp-action="RemCatGroup" asp-controller="Groups" data-ajax="true" data-ajax-update="#group-result">
                <div class="mb-3">
                    <select size="6" title="Group Categories" class="form-select" asp-for="Categories" asp-items="groups" title="Selected Categories">
                    </select>
                </div>
                <div class="mb-3">
                    <input type="hidden" name="GroupNameId" value="@Model.GroupNameId" />
                    <input type="hidden" name="GroupName" value="@Model.GroupName" />
                    <button type="submit" id="rem-cat" class="btn btn-outline-danger" title="Remove Category">Remove Selected</button>
                </div>
            </form>
            <div class="mb-3">
                <form id="AddCatForm" asp-action="AddCatGroup" asp-controller="Groups" data-ajax="true" data-ajax-update="#group-result">
                    <div class="mb-3">
                        <label class="form-label col-4">Add Categories to Group</label>
                        <select size="6" class="form-select" id="Category" asp-for="@Model.Categories" title="Available Categories">
                            @foreach (Category cat in Model.CategoryList)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </select>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Add selected Categories</button>
                    <input type="hidden" name="GroupName" value="@Model.GroupName" />
                    <input type="hidden" name="GroupNameId" value="@Model.GroupNameId" />
                </form>
            </div>
        }
    </div>
</div>
<div class="row">
    <div id="group-result"></div>
</div>
