@{
    var env = Configuration.GetValue<string>("SnitzForums:PayPal:Environment"); 
    var buttonId = Configuration.GetValue<string>("SnitzForums:PayPal:HostedButtonId");
}
@section MetaData
{
    <title>@Config.Value.strForumTitle</title>
    <meta name="title" content="@Config.Value.strForumTitle | @Localizer["ttlDonatePage"]" />
    <meta name="description" content="@Config.Value.strForumDescription" />
    <meta name="robots" content="index,follow" />

}
<div class="d-flex aligns-items-center justify-content-center card mx-auto" style="max-width: 30rem;">
    <div class="card-header subforum-title text-center">
        @Localizer["ttlDonatePage"]
    </div>
    <div class="card-body p-4">
        @Localizer["PageText"]
        <div class="text-center" id="paypal-donate-button-container"></div>
    </div>
    <div class="card-footer">
        @Localizer["lblPaypalFooter"]
    </div>
</div>

<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
<script>
    document.getElementById("donationBanner").style.display = "none";
    PayPal.Donation.Button({
        env: '@env',
        hosted_button_id: '@buttonId',
        image: {
            src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
            title: '@Localizer["PageExtra"]',
            alt: 'Make a donation with PayPal button'
        },
        onComplete: function (params) {
            // Your onComplete handler
        },
    }).render('#paypal-donate-button-container');

</script>