@using Snitz.Events.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Snitz.Events.Models.CalendarEventItem
@inject EventContext dbContext
@{
    var Categories = dbContext.Set<ClubCalendarCategory>().ToDictionary(t => t.Id, t => t.Name);
    var Locations = dbContext.Set<ClubCalendarLocation>().ToDictionary(t => t.Id, t => t.Name);
    var Clubs = dbContext.Set<ClubCalendarClub>().ToDictionary(t => t.Id, t => t.ShortName);
}
<form asp-action="AddEvent" asp-controller="Events">
<fieldset>
    <h5>@Localizer["AddEvent"]</h5>
    <hr/>
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="AuthorId" value="@Model.AuthorId" />
    <input type="hidden" name="TopicId" id="event-topic" value="@Model.TopicId"/>

    <div class="mb-3">
        <label class="form-label">@Localizer["lblEventTitle"]</label>
        <div class="col-5">
            <input type="text" class="form-control" name="Title" value="@Model.Title" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer["lblEventDescription"]</label>
        <textarea type="text" class="form-control" name="Title" rows="2">@Model.Description</textarea>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label class="form-label">@Localizer["lblStartDate"]</label>
                @if (Model.StartDate.HasValue)
                {
                        <input type="datetime-local" class="form-control" id="startdate" name="StartDate" value="@Model.StartDate?.ToString("yyyy-MM-ddTHH:mm")" />
                }
                else
                {
                    <input type="datetime-local" class="form-control" id="startdate" name="StartDate" />
                }
            </div>
            <div class="col-6">
                <label class="form-label">@Localizer["lblEndDate"]</label>
                @if (Model.EndDate.HasValue)
                {
                        <input type="datetime-local" class="form-control" id="enddate" name="EndDate" value="@Model.EndDate?.ToString("yyyy-MM-ddTHH:mm")" />
                }
                else
                {
                    <input type="datetime-local" class="form-control" id="enddate" name="EndDate"  />
                }
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-4">
                <label class="form-label">@Localizer["lblEventCategory"]</label>
                @Html.DropDownListFor(model => model.CatId, new SelectList(Categories, "Key", "Value", Model.CatId), new { @class = "form-select", @tabindex = 1 })
            </div>
            <div class="col-4">
                <label class="form-label">@Localizer["lblEventClub"]</label>
                @Html.DropDownListFor(model => model.ClubId, new SelectList(Clubs, "Key", "Value",Model.ClubId), new { @class = "form-select", @tabindex = 1 })
            </div>
            <div class="col-4">
                <label class="form-label">@Localizer["lblEventLocation"]</label>
                @Html.DropDownListFor(model => model.LocId, new SelectList(Locations, "Key", "Value",Model.LocId), new { @class = "form-select", @tabindex = 1 })
            </div>
        </div>

    </div>

</fieldset>
</form>