@model Snitz.Events.ViewModels.EventsAdminViewModel
@if (Model.Subs)
{
    <fieldset @(!Model.EnableEvents ? "disabled" : "") class="border rounded-3 p-3" id="EVENTSCONFIG">
    <legend>Club/Society Events Add On</legend>
    <div class="mb-3 form-check">
            <input class="form-check-input" id="EnableEvents" type="checkbox" name="INTCLUBEVENTS" data-size="mini" @(Html.Raw(SnitzConfig.GetIntValue("INTCLUBEVENTS") == 1 ? "checked=\"checked\"" : "")) value="1" />
        <label for="EnableEvents" class="form-check-label">@Localizer["PluginTitle"]</label>
        <input type="checkbox" name="INTCLUBEVENTS" checked value="0" style="display:none" />
    </div>
    <div class="mb-3 form-check">
            <input class="form-check-input" id="ShowInCalendar" type="checkbox" name="INTCALSHOWEVENTS" data-size="mini" @(Html.Raw(SnitzConfig.GetIntValue("INTCALSHOWEVENTS") == 1 ? "checked=\"checked\"" : "")) value="1" />
        <label for="ShowInCalendar" class="form-check-label">@Localizer["lblShowInCalendar"]</label>
        <input type="checkbox" name="INTCALSHOWEVENTS" checked value="0" style="display:none" />
    </div>
    <div class="mb-3">
        <label class="form-label">Allowed Roles</label>
        <input type="text" id="STRRESTRICTROLES" name="STRRESTRICTROLES" class="form-control" value="@Model.Roles" />
        <label class="form-text">restrict access to specific Roles, comma seperated list.</label>
    </div>
    <div class="row">
        <h5>Lookup data</h5>

        <div class="form-group col-4">
            <label class="control-label">Categories</label>
            @Html.ListBox("CategoriesList", new SelectList(Model.Categories, "Key", "Value"), new { @class = "form-control", id = "cat-select" })
            <div class="btn-group fs-5">
                <a href="#" class="edit-event-cat" title="edit selected category" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                <a href="#" class="add-event-cat" title="add new category" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
                <a href="#" class="del-event-cat" title="delete selected category" data-toggle="tooltip"><i class="fa fa-trash-can"></i></a>
            </div>
        </div>
        <div class="form-group col-4">
            <label class="control-label">Clubs</label>
            @Html.ListBox("ClubsList", new SelectList(Model.Clubs, "Key", "Value"), new { @class = "form-control", id = "club-select" })
            <div class="btn-group fs-5">
                <a href="#" class="edit-event-club" title="edit selected club" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                <a href="#" class="add-event-club" title="add new club" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
                <a href="#" class="del-event-club" title="delete selected club" data-toggle="tooltip"><i class="fa fa-trash-can"></i></a>
            </div>
        </div>
        <div class="form-group col-4">
            <label class="control-label">Locations</label>
            @Html.ListBox("LocationsList", new SelectList(Model.Locations, "Key", "Value"), new { @class = "form-control", id = "loc-select" })
            <div class="btn-group fs-5">
                <a href="#" class="edit-event-loc" title="edit selected location" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                <a href="#" class="add-event-loc" title="add new location" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
                <a href="#" class="del-event-loc" title="delete selected location" data-toggle="tooltip"><i class="fa fa-trash-can"></i></a>
            </div>
        </div>
    </div>
    </fieldset>

}

<storecontent asp-key="events-admin" >
   
    <script>
            $(document).on('click', '.del-event-cat', function (e) {
                (async () => {
                    const result = await b_confirm(Snitzres.cnfDeleteCategory)
                    if (result) {
                        var id = $('#cat-select').val();
                        deleteListItem(id,'cat');
                    }
                })();

            });
            $('.del-event-club').on('click', function (e) {
                (async () => {
                    const result = await b_confirm(Snitzres.cnfDeleteClub) //'You are about to delete this Club.'
                    if (result) {
                        var id = $('#club-select').val();
                        deleteListItem(id,'club');
                    }
                })();

            });
            $('.del-event-loc').on('click', function (e) {
                (async () => {
                    const result = await b_confirm(Snitzres.cnfDeleteLocation) //'You are about to delete this Location.'
                    if (result) {
                        var id = $('#loc-select').val();
                        deleteListItem(id,'loc');
                    }
                })();

            });

            $('.add-event-cat').on('click', function (e) {
                e.preventDefault();
                $.get(window.SnitzVars.baseUrl + '/Events/AddEditCategory/0', function (data) {
                    showForm('Add Category', data);
                });

            });
            $('.add-event-club').on('click', function (e) {
                e.preventDefault();
                $.get(window.SnitzVars.baseUrl + '/Events/AddEditClub/0', function (data) {
                    showForm('Add Club', data);
                });
            });
            $('.add-event-loc').on('click', function (e) {
                e.preventDefault();
                $.get(window.SnitzVars.baseUrl + '/Events/AddEditLocation/0', function (data) {
                    showForm('Add Location', data);
                });
            });

            $('.edit-event-cat').on('click', function (e) {
                e.preventDefault();
                var id = $('#cat-select').val();
                $.get(window.SnitzVars.baseUrl + '/Events/AddEditCategory/' + id, function (data) {
                    showForm('Edit Category', data);
                });
            });
            $('.edit-event-club').on('click', function (e) {
                e.preventDefault();
                var id = $('#club-select').val();
                $.get(window.SnitzVars.baseUrl + '/Events/AddEditClub/' + id, function (data) {
                    showForm('Edit Club', data);
                });
            });
            $('.edit-event-loc').on('click', function (e) {
                e.preventDefault();
                var id = $('#loc-select').val();
                $.get(window.SnitzVars.baseUrl + '/Events/AddEditLocation/' + id, function (data) {
                    showForm('Edit Location', data);
                });
            });


        function deleteListItem(id, type) {
            //console.log(SnitzVars.baseUrl + '/Events/Delete/' + id + '?t=' + type);
            $.ajax({
                type: "POST",
                url: SnitzVars.baseUrl + '/Events/Delete/' + id + '?t=' + type,
                success: function (data) {
                    if (data.success) {
                        location.reload();
                        return false;
                    }

                },
                error: function (result) {
                    alert("error" + result);
                }
            });
        }

        function showForm(title,data) {
            $('#listeditorContainer').html(data);
            $('#listeditorTitle').html(title);
            $.validator.unobtrusive.parse($("#editItemForm"));
            $(document)
                .on('click','a.btn-success',
                function (e) {
                    //alert("save");
                    e.preventDefault();
                    var data = $('#editItemForm').serialize();
                    var action = $('#editItemForm').attr('action');
                    console.log(action)
                    $.ajax({
                        type: "POST",
                        url: action,
                        data: data,
                        success: function (data) {
                            if (data.success) {
                                alert(data.responseText);
                                $('#listeditor').modal('hide');
                                location.reload();
                                return false;
                            }
                        },
                        error: function (result) {
                            alert(result);
                        }
                    });

                });
            $('#listeditor').modal('show');
        }
    </script>

    <div id='listeditor' class='modal fade in' aria-labelledby="listeditorTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-hidden="true">&times; </button>
                    <h5 class="modal-title" id="listeditorTitle"></h5>
                </div>
                <div id='listeditorContainer' class="modal-body">
                    <div class="container text-center">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</storecontent>
