@using SnitzCore.Service.Extensions
@model Snitz.Events.Models.CalendarEventItem

<span class="form-text event-label">@Model.Title <i class="fa fa-calendar"></i> <snitz-datetime datetime="@Model.StartDate" freindly-time="false"></snitz-datetime> - <snitz-datetime datetime="@Model.EndDate" freindly-time="false"></snitz-datetime></span>
<p>@Model.Description</p>
<ul class="list-group">
    <li class="list-group-item">@Model.Loc.Name</li>
    <li class="list-group-item">@Model.Club.LongName</li>
    <li class="list-group-item">@Model.Cat.Name</li>
</ul>