@model Poll
@{
    var vm = Model;
    var votes = 0;
    if (TempData["Poll"] != null)
    {
        vm = (Poll)TempData["Poll"];
    }
    var answers = vm.PollAnswers?.ToArray();
    if (answers != null)
    {
        votes = answers.Sum(a => a.Count);
    }
    else
    {
        answers = new PollAnswer[SnitzConfig.GetIntValue("INTMAXVOTES", 4)];
    }
    var disabled = votes < 10 ? "" : "disabled";
}
    
<div class="mt-3 mb-3 col col-md-8 offset-md-2 bg-form p-4 rounded" id="poll-form">
    <form asp-action="AddPoll" >
        <fieldset @disabled>
        <input type="hidden" name="CatId" id="poll-cat" value="@vm.CatId"/>
        <input type="hidden" name="ForumId" id="poll-forum" value="@vm.ForumId"/>
        <input type="hidden" name="TopicId" id="poll-topic" value=""/>
        <input type="hidden" name="Id" id="poll-id" value="@vm.Id" />
        <div id="topic-poll-container">
            <legend>Poll</legend>
            <hr class="title">
            <div class="mb-3">
                <label class="form-label">Question</label>
                <input class="form-control required-val" data-val="true" data-val-conditional="PollQuestion is required" data-val-conditional-dependentproperty="IsPoll" data-val-conditional-targetvalue="True" id="PollQuestion" name="Question" type="text" value="@vm.Question">
            </div>
            <div class="mb-3">
                <label class="form-label">Who can vote</label>
                <select name="Whovotes" class="form-select">
                    <option value="members">Members only</option>
                    <option value="everyone">Everyone</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label col-2">Answers</label>
            </div>
            @for (int i = 0; i < SnitzConfig.GetIntValue("INTMAXVOTES", 4); i++)
            {
                var prefix = $"PollAnswers_{i}_";
                if (answers != null && i >= answers.Length)
                {
                    <div class="mb-3 row">
                        <div class="input-group">
                            <span class="input-group-text">Order</span>
                            <span class="input-group-text col-2">
                                <input class="form-control" type="number" data-val="true" data-val-number="The field Order must be a number." data-val-required="The Order field is required." id="@(prefix)_Order" name="PollAnswers[@i].Order" type="text" value="@i"/>
                            </span>
                            <span class="input-group-text">Answer</span>
                            <input class="form-control" id="@(prefix)_Label" name="PollAnswers[@i].Label" type="text" value=""/>
                            <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="@(prefix)_Id" name="PollAnswers[@i].Id" type="hidden" value="0"/>
                            <input data-val="true" data-val-number="The field PollId must be a number." data-val-required="The PollId field is required." id="@(prefix)_PollId" name="PollAnswers[@i].PollId" type="hidden" value="0"/>
                            <input data-val="true" data-val-number="The field Votes must be a number." data-val-required="The Votes field is required." id="@(prefix)_Votes" name="PollAnswers[@i].Votes" type="hidden" value="0"/>
                        </div>
                    </div>
                }
                else
                {
                    <div class="mb-3 row">
                        <div class="input-group">
                            <span class="input-group-text">Order</span>
                            <span class="input-group-text col-2">
                                <input class="form-control" type="number" data-val="true" data-val-number="The field Order must be a number." data-val-required="The Order field is required." id="@(prefix)_Order" name="PollAnswers[@i].Order" type="text" value="@i"/>
                            </span>
                            <span class="input-group-text">Answer</span>
                            <input class="form-control" id="@(prefix)_Label" name="PollAnswers[@i].Label" type="text" value="@answers[i]?.Label"/>
                            <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="@(prefix)_Id" name="PollAnswers[@i].Id" type="hidden" value="@answers[i]?.Id"/>
                            <input data-val="true" data-val-number="The field PollId must be a number." data-val-required="The PollId field is required." id="@(prefix)_PollId" name="PollAnswers[@i].PollId" type="hidden" value="@answers[i]?.PollId"/>
                            <input data-val="true" data-val-number="The field Votes must be a number." data-val-required="The Votes field is required." id="@(prefix)_Votes" name="PollAnswers[@i].Votes" type="hidden" value="@answers[i]?.Count"/>
                        </div>
                    </div>
                }
            }
        </div>
        </fieldset>
    </form>
    </div>
