
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-polls">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePolls" aria-expanded="false" aria-controls="flush-collapsePolls">
            Polls
        </button>
    </h2>
    <div id="flush-collapsePolls" class="accordion-collapse collapse" aria-labelledby="flush-polls" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <form id="polls-enable" asp-action="SaveFeatures" asp-controller="SnitzConfig" method="POST" data-ajax="true" data-ajax-update="#result">
                <admin-config config-key="INTPOLLS" config-label="Allow Polls" config-val="@SnitzConfig.GetIntValue("INTPOLLS", 0)"></admin-config>
                <admin-config config-key="INTACTIVEPOLLS" config-label="Show active Polls" config-val="@SnitzConfig.GetIntValue("INTACTIVEPOLLS", 0)"></admin-config>
                <admin-config config-key="INTFEATUREDPOLL" config-label="Show featured Poll" config-val="@SnitzConfig.GetIntValue("INTFEATUREDPOLL", 0)"></admin-config>
                <div class="mb-3">
                    <label for="INTFEATUREDPOLLID" class="form-label">Featured Poll ID:</label>
                    <input class="form-control" id="INTFEATUREDPOLLID" type="number" name="INTFEATUREDPOLLID" value="@SnitzConfig.GetValue("INTFEATUREDPOLLID")" />
                </div>
                <div class="mb-3">
                    <admin-config config-key="INTHIDEPOLL" config-label="Hide featured Poll after voting" config-val="@SnitzConfig.GetIntValue("INTHIDEPOLL", 0)"></admin-config>
                </div>
                <div class="mb-3">
                    <label for="intmaxvotes" class="form-label">Max. No of Poll answers:</label>
                    <input class="form-control" id="intmaxvotes" type="number" name="INTMAXVOTES" value="@(SnitzConfig.GetValue("INTMAXVOTES"))" />
                </div>
                <div class="mb-3">
                    <button id="btnSubmit" type="submit" class="btn btn-success">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>