@model MVCForum.ViewModels.Post.PollViewModel
@inject ISnitzCookie SnitzCookie
@if (Model.Poll == null)
{
    
}
else
{
    var memberid = MemberService.Current()?.Id;
    if (Model.Votes.SingleOrDefault(v => v.MemberId == memberid && v.PollId == Model.Poll.Id) != null || SnitzCookie.HasVoted(Model.Poll.Id, memberid))
    {
        @await Component.InvokeAsync("Polls", new { template = "PollSummary", topicid = Model.Poll.TopicId, featured = true })
    }
    else
    {
        bool votingAllowed = false;
        if (!string.IsNullOrEmpty(Model.Poll.Whovotes))
        {
            votingAllowed = Model.Poll.Whovotes == "everyone";
        }

        if (User.Identity.IsAuthenticated)
        {
            if (Model.Poll.Whovotes == "members")
            {
                votingAllowed = true;
            }
        }
        <form asp-action="Vote" asp-controller="Polls" data-ajax="true" data-ajax-update="#PollPanel">
            <input type="hidden" name="PollId" value="@Model.Poll.Id"/>
            <div class="card mb-2">
                <div class="card-header @ViewData["panel"] subforum-title">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;@Model.Poll.Question
                    @if (User.IsInRole("Administrator") && Model.Poll.Topic.Status == 1 && SnitzConfig.GetIntValue("INTFEATUREDPOLLID") != Model.Poll.Id)
                    {
                        <span class="pull-right flip"><a href="@Url.Action("MakeFeaturedPoll", "Polls", new { id = Model.Poll.Id })" title="@Localizer["MakeFeaturedPoll"]" data-toggle="tooltip"><i class="fa fa-bar-chart"></i></a></span>
                    }
                    @if (User.IsInRole("Administrator") && Model.Poll.Topic.Status == 1 && SnitzConfig.GetIntValue("INTFEATUREDPOLLID") == Model.Poll.Id)
                    {
                        <span class="pull-right flip"><a href="@Url.Action("MakeFeaturedPoll", "Polls", new { id = 0 })" title="@Localizer["MakeFeaturedPoll"]" data-toggle="tooltip"><i class="fa fa-bar-chart"></i></a></span>
                    }
                </div>
                <div class="card-body p-2">
                    @foreach (var ans in Model.Poll.PollAnswers.OrderBy(a => a.Order))
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="voteid" value="@ans.Id">
                            <label class="form-check-label" for="flexRadioDefault1">
                                @ans.Label
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    @if (votingAllowed)
                    {
                        <button class="btn btn-success btn-sm" type="submit"><span class="fa fa-bell"></span>@Localizer["MarkYourVote"]</button>
                    }
                    else
                    {
                        string loginlink = $"<a href=\"/Account/Login\" id=\"loginLink\">{Localizer["SignIn"].Value}</a>";
                        @Html.Raw(string.Format(Localizer["LoginToVote"].Value, loginlink))
                    }
                </div>
            </div>
        </form>
    }
}
