@model MVCForum.ViewModels.Forum.ActiveTopicModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SmartBreadcrumbs
@using SnitzCore.Data
@using SnitzCore.Data.Extensions
@using BbCodeFormatter
@using MVCForum.TagHelpers
@using SnitzCore.Service.Extensions

@{
    ViewBag.PageCount = Model.PageCount;
    var pagenum = Model.PageNum?.ToString() ?? Context.Request.Query["page"];
    var lastvisit = DateTime.UtcNow;
    if (User.Identity!.IsAuthenticated)
    {
        lastvisit = MemberService.GetByUsername(User.Identity.Name!)!.Lastheredate.FromForumDateStr();
    }

    var refresh = ViewBag.RefreshSeconds;
}
@section MetaData
{
    @if (ViewBag.RefreshSeconds > 0)
    {
        <meta http-equiv="refresh" content="@refresh">
    }
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <form id="defaultdays-form" asp-action="Active" class="form-inline" method="get">
        <div class="row m-2">
            <div class="col col-md-8">
                <div class="input-group mb-3">
                    <enum-select name="Since" id="default-days" last-visit="@lastvisit" enum-type="typeof(ActiveSince)" selected-value="(int)Model.Since" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                    <enum-select name="Refresh" id="active-refresh" enum-type="typeof(ActiveRefresh)" selected-value="(int)Model.Refresh" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>

                    @if (SnitzConfig.GetValue("STRACTIVEPAGESIZES", "") != "")
                    {
                        var ischecked = Model.PageSize;
                        <span class="form-text mb-2">&nbsp;@Localizer["lblPageSize"]&nbsp;</span>

                        <div class="radioBtn btn-group" role="group" aria-label="Select page size" title="Select page size">
                            @foreach (var size in SnitzConfig.GetValue("STRACTIVEPAGESIZES", "").Split(","))
                            {
                                <input type="radio" class="btn-check" name="pagesize" id="option_@size" autocomplete="off" value="@size" @if(ischecked == Convert.ToInt32(size)){@Html.Raw("checked")} />
                                <label class="btn btn-outline-secondary mb-2" for="option_@size">@size</label>

                            }
                        </div>
                    } 
                </div>
            </div>
        </div>
        <input type="number" value="@pagenum" name="page" style="display: none;"/>
        <input type="number" value="0" name="defaultdays" id="hdndefaultdays" style="display: none;"/>
        <input type="hidden" name="fun" id="fun">
    </form>
    @if (Model.Posts!.Any())
    {
        <div class="posts-table">
            <div class="table-head">
                <div class="status rounded-2"></div>
                <div class="subjects rounded-2">@Localizer["lblSubject"]</div>
                <div class="replies rounded-2">@Localizer["lblReplies"] / @Localizer["lblViews"]</div>
                <div class="last-reply rounded-2">@Localizer["lblLastPost"]</div>
            </div>
            <!--Topics start here-->
            @{
                ViewData["ActiveTopics"] = true;
            }
            @foreach (var post in Model.Posts!)
            {
                <partial name="TopicListing" model="post" view-data="ViewData" />
            }
        </div>
        <!--Pagination starts-->
        <partial snitz-if="Model.PageCount > 1" 
                 name="ListPaging" 
                 model="@(new PagingModel {
                             PageCount = Model.PageCount,
                             PageSize = Model.PageSize,
                             Page = pagenum != null ? Convert.ToInt32(pagenum) : 1 })" />
        <!--pagination ends-->
    }
    else
    {
        <div class="center"><h4>@Localizer["lblOldPosts"]</h4></div>
    }
        <partial name="IconInfo" />

</div>


@section Scripts{
    <script type="text/javascript">
        $(document).on("change", "#default-days", function() {
                $("#hdndefaultdays").val($(this).val());
                $("#defaultdays-form").submit();
            });
        $(document).on("change", "#active-refresh", function() {
                $("#hdndefaultdays").val($('#default-days').val());
                $("#defaultdays-form").submit();
            });
        $(document).on("change", "input[type=radio][name=pagesize]", function() {
                $("#defaultdays-form").submit();
            });

        $(document).ready(function() {
            $('select option:contains("Last Visit")').text("Last Visit " + '(@lastvisit.ToLocalTime().ToForumDisplay()) ');
        });
        var refresh = '@refresh';

        if (refresh.length && refresh > 0) {
            setInterval("window.location.reload();", refresh);
        }
    </script>
}
