@model MVCForum.ViewModels.Forum.ActiveTopicModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SmartBreadcrumbs
@using SnitzCore.Data
@using SnitzCore.Data.Extensions
@using BbCodeFormatter
@using SnitzCore.Service.Extensions

@{
    ViewBag.PageCount = Model.PageCount;
    var pagenum = Model.PageNum?.ToString() ?? Context.Request.Query["page"];
    var lastvisit = DateTime.UtcNow.AddDays(-7);
    if (User.Identity!.IsAuthenticated)
    {
        lastvisit = MemberService.GetByUsername(User.Identity.Name!)!.LastLogin.FromForumDateStr().ToLocalTime();
    }
    var refresh = ViewBag.RefreshSeconds;
    ViewData["Archives"] = false;
}
@section MetaData
{
    <title>Latest Posts</title>
    <meta name="title" content="Latest Posts" />
    <meta name="description" content="Listing of the latest posts on the Forum" />
    <meta name="robots" content="index,follow" />
    @if (refresh > 0)
    {
        <meta http-equiv="refresh" content="@refresh">
    }
    @if (SnitzConfig.GetIntValue("INTFORUMRSS") == 1)
    {
        <link rel="alternate" type="application/rss+xml" title="RSS" href="~/rssfeed/active">     
    }
    
}
@section Styles
{
    <link href="~/css/star-rating.min.css" rel="stylesheet" />
    <link href="~/css/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css"/>
}
 <partial snitz-if="@(SnitzConfig.GetIntValue("STRSHOWANNOUNCE") == 1)" name="Announcement" />
<div class="pt-0">
    <snitz-breadcrumb show-filter="true"></snitz-breadcrumb>
    <div class="row">
        <div class="col">
            <div class="collapse" id="showFilters">
                <form id="defaultdays-form" asp-action="Active" class="form-inline" method="get">
                    <div class="row m-2">
                        <div class="col">
                            <partial snitz-if="@(SnitzConfig.GetIntValue("STRGROUPCATEGORIES") == 1)" name="GroupFilter" />
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <enum-select aria-label="date filter" name="Since" id="default-days" last-visit="@lastvisit" enum-type="typeof(ActiveSince)" selected-value="(int)Model.Since" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                                <enum-select aria-label="refresh page" name="Refresh" id="active-refresh" enum-type="typeof(ActiveRefresh)" selected-value="(int)Model.Refresh" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                                <div snitz-if="@(SnitzConfig.GetValueWithDefault("STRACTIVEPAGESIZES", "") != "")" class="radioBtn btn-group input-group-addon" role="group" aria-label="Select page size" title="Select page size">
                                    @{
                                        var ischecked = Model.PageSize;
                                        foreach (var size in SnitzConfig.GetValueWithDefault("STRACTIVEPAGESIZES", "")!.Split(","))
                                        {
                                            <input type="radio" class="btn-check" name="pagesize" id="option_@size" autocomplete="off" value="@size" @if (ischecked == Convert.ToInt32(size)) {@Html.Raw("checked")} />
                                            <label class="btn btn-outline-secondary mb-2" for="option_@size">@size</label>
                                        }
                                    }
                                </div>
                        </div>
                    </div>
                </div>
                <input type="number" value="@pagenum" name="page" style="display: none;" aria-hidden="true" />
                <input type="number" value="0" name="defaultdays" id="hdndefaultdays" style="display: none;" aria-hidden="true"/>
                <input type="hidden" name="fun" id="fun" aria-hidden="true">
            </form>
            </div>
            @if (Model.Posts!.Any())
            {
                <div class="posts-table">
                    <partial name="TopicListingHeader" />
                    <!--Topics start here-->
                    @{
                        ViewData["ActiveTopics"] = true;
                    }
                    @foreach (var post in Model.Posts!)
                    {
                        <partial name="TopicListing" model="post" view-data="ViewData" />
                    }
                </div>
                <!--Pagination starts-->
                <partial snitz-if="Model.PageCount > 1"
                         name="ListPaging"
                         model="@(new PagingModel {
                             PageCount = Model.PageCount,
                             PageSize = Model.PageSize,
                             Page = pagenum != null ? Convert.ToInt32(pagenum) : 1 })" />
                <!--pagination ends-->
            }
            else
            {
                <div class="center"><h4>@Localizer["lblOldPosts"]</h4></div>
            }
     
            @await Component.InvokeAsync("Members", new { template = "CategoryForumJumpTo"})
            <partial name="IconInfo" />
        </div>
        @await Component.InvokeAsync("Widgets", new { template = "sidebar", widgets = new[] { "search", "members", "events" } })
    </div>
</div>

@section Scripts{
    <renderstoredcontent asp-key="password-dialog"></renderstoredcontent>
<script type="text/javascript" src="~/js/postcontroller.min.js"></script>
<script src="~/js/star-rating.min.js"></script>
<script src="~/js/krajee-svg/theme.js" type="text/javascript"></script>
<script type="text/javascript">
    let refresh = '@refresh';
    $(window).on("load",
        function(e) {
            $('.rb-rating').rating({
                'showCaption': false,
                'displayOnly':true
            });
        });
    $(document).on("change", "#default-days", function() {
        $("#hdndefaultdays").val($(this).val());
        $("#defaultdays-form").submit();
    });
    $(document).on("change", "#active-refresh", function() {
        $("#hdndefaultdays").val($('#default-days').val());
        $("#defaultdays-form").submit();
    });
    $(document).on("change", "input[type=radio][name=pagesize]", function() {
        $("#defaultdays-form").submit();
    });
    $(document).ready(function() {
        $('select option:contains("Last Visit")').text("Last Visit " + '(@lastvisit.ToLocalTime().ToForumDisplay()) ');
    });

    if (refresh.length && refresh > 0) {
        setInterval("window.location.reload();", refresh);
    }
    //uncomment the line below to expand filters by default
    //SnitzVars.expandPageFilters();
</script>
<renderstoredcontent asp-key="topic-post-controls"></renderstoredcontent>
<renderstoredcontent asp-key="upcoming-events"></renderstoredcontent>
}
