@model MVCForum.Models.Forum.ActiveTopicModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.Extensions
@using MVCForum.Models
@using SmartBreadcrumbs
@using SnitzCore.Data
@using SnitzCore.Data.Extensions
@using SnitzCore.Data.Models
@using BbCodeFormatter
@using SnitzCore.Service.Extensions
@inject IMember MemberService
@inject ICodeProcessor BbCodeProcessor

@{
    ViewBag.PageCount = Model.PageCount;
    var pagenum = Model.PageNum?.ToString() ?? Context.Request.Query["page"];
    var lastvisit = DateTime.UtcNow;
    if (User.Identity!.IsAuthenticated)
    {
        lastvisit = MemberService.GetByUsername(User.Identity.Name!)!.Lastheredate.FromForumDateStr();
    }

    var refresh = ViewBag.RefreshSeconds;
}
@section MetaData
{
    @if (ViewBag.RefreshSeconds > 0)
    {
        <meta http-equiv="refresh" content="@refresh">
    }
}
<div class="container pt-0">
    <snitz-breadcrumb></snitz-breadcrumb>
    <form id="defaultdays-form" asp-action="Active" class="form-inline">
        <div class="row m-2">
            <div class="col col-md-8">
                <div class="input-group mb-3">
                    <enum-select name="Since" id="default-days" last-visit="@lastvisit" enum-type="typeof(ActiveSince)" selected-value="(int)Model.Since" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                    <enum-select name="Refresh" id="active-refresh" enum-type="typeof(ActiveRefresh)" selected-value="(int)Model.Refresh" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>

                    @if (SnitzConfig.GetValue("STRACTIVEPAGESIZES", "") != "")
                    {
                        var ischecked = Model.PageSize;
                        <span class="form-text mb-2">&nbsp;Set page size&nbsp;</span>

                        <div class="radioBtn btn-group" role="group" aria-label="Select page size" title="Select page size">
                            @foreach (var size in SnitzConfig.GetValue("STRACTIVEPAGESIZES", "").Split(","))
                            {
                                <input type="radio" class="btn-check" name="pagesize" id="option@size" autocomplete="off" value="@size" @if(ischecked == Convert.ToInt32(size)){@Html.Raw("checked")} />
                                <label class="btn btn-outline-secondary mb-2" for="option@size">@size</label>

                            }
                        </div>
                    } 
                </div>
            </div>
        </div>
        <input type="number" value="@pagenum" name="page" style="display: none;"/>
        <input type="number" value="0" name="defaultdays" id="hdndefaultdays" style="display: none;"/>
        <input type="hidden" name="fun" id="fun">
    </form>
    @if (Model.Posts!.Any())
    {
        <!--Display posts table-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status"></div>
                <div class="subjects">@Localizer["lblSubject"]</div>
                <div class="replies">@Localizer["lblReplies"] / @Localizer["lblViews"]</div>
                <div class="last-reply">@Localizer["lblLastPost"]</div>
            </div>
            <!--Topics start here-->
            @foreach (var post in Model.Posts!)
            {
                <partial name="_TopicListing" model="post" />
@*                 <div class="table-row">
                    <div class="status" data-status="@post.Status">
                        <snitz-topic-icon status="@post.Status" replies="@post.RepliesCount" views="@post.ViewCount" lastpost="@post.LastPostDate"></snitz-topic-icon>
                    </div>
                    <div class="subjects">
                        <a href="/Topic/@post.Id">@Html.Raw(BbCodeProcessor.Subject(post.Title!))</a>
                        <br>
                        <span>Started by @post.AuthorName <snitz-datetime datetime="@post.Created"></snitz-datetime> .</span>
                        @if (SnitzConfig.GetIntValue("STRSHOWPAGING") == 1)
                        {
                            @if (post.RepliesCount > ViewBag.PageSize)
                            {
                                var paging = new PagingModel
                                {
                                PageCount = post.RepliesCount / ViewBag.PageSize,
                                Page = post.Id
                            };
                                <partial name="QuickPaging" model="paging"/>
                            }
                        }
                    </div>
                    <div class="replies">
                        @post.RepliesCount @Localizer["lblReplies"] <br> @post.ViewCount @Localizer["lblViews"]
                    </div>

                    <div class="last-reply">
                        <snitz-datetime datetime="@post.LastPostDate"></snitz-datetime>
                        @if (SnitzConfig.GetIntValue("STRJUMPLASTPOST") == 1)
                        {
                            <span class=""><br />By <b><a href="">@post.LastPostAuthorName</a></b></span>
            
                        }
        
                    </div>
                </div> *@
            }



            <!--ends here-->
        </div>
        <!--Pagination starts-->
        @if (Model.PageCount > 1)
        {
            var paging = new PagingModel
            {
                PageCount = Model.PageCount,
                Page = pagenum != null ? Convert.ToInt32(pagenum) : 1,
                //OrderBy = "lpd",
                //SortDir = "des",
                //DefaultDays = (int)Model.ActiveSince
            };
            @await Html.PartialAsync("ListPaging", paging)
        }
        <!--pagination ends-->
    }
    else
    {
        <div class="center"><h4>No active Posts</h4></div>
    }
        <partial name="_IconInfo" />

</div>


@section Scripts{
    <script type="text/javascript">
        $(document).on("change",
            "#default-days",
            function() {
                $("#hdndefaultdays").val($(this).val());
                $("#defaultdays-form").submit();
            });
        $(document).on("change",
            "#active-refresh",
            function() {
                $("#hdndefaultdays").val($('#default-days').val());
                $("#defaultdays-form").submit();
            });
        $('input[type=radio][name=pagesize]').change(function() {
            $("#defaultdays-form").submit();
        });
        $(document).ready(function() {
            $('select option:contains("Last Visit")').text("Last Visit " + '(@lastvisit.ToLocalTime().ToForumDisplay()) ');
        });
        var refresh = '@refresh';

        if (refresh.length && refresh > 0) {
            setInterval("window.location.reload();", refresh);
        }
    </script>
}
