@model MVCForum.ViewModels.Forum.ForumTopicModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MVCForum.TagHelpers
@using Microsoft.AspNetCore.Identity
@using SnitzCore.Service.TagHelpers
@using Microsoft.AspNetCore.Http
@using Snitz.Events.Helpers
@inject SignInManager<ForumUser> SignInManager
@inject IEnumerable<ISnitzStartupService> pluginservices
@section MetaData
{
    <meta name="title" content="Forum: @Model.Forum?.Title" />
    <meta name="description" content="@Model.Forum?.Description" />
    <meta name="robots" content="index,nofollow" />
}
@section Styles{
    @if (ViewBag.RequireAuth)
    {
        <style>
            .modal-backdrop
            {
                opacity:1.0 !important;
            }
            .modal-backdrop.in {
                    opacity: 1.0 !important;
                }
        </style>
    }
}
@{
    var auth = (bool)ViewBag.RequireAuth;
    TempData["ForumId"] = Model.Forum.Id;
    TempData["CatId"] = 0;
    var eventservice = pluginservices.FirstOrDefault(t => t.GetType() == typeof(CalEventsService));

    ViewBag.PageCount = Model.PageCount;
    var pagenum = Model.PageNum?.ToString() ??  Context.Request.Query["page"];
    var pagesize = Context.Session.GetInt32("TopicPageSize");
    ViewBag.PageSize = pagesize ?? 10;
    ViewBag.PageNum = pagenum;
    if (Model.AccessDenied)
    {
        if (!SignInManager.IsSignedIn(User))
        {
            <div class="container">
                <h3>You do not have access to this forum, please try <a href="~/Account/Login">logging in</a> first</h3>
            </div>
        }
        else
        {
            <div class="container">
                <h3>You do not have access to this forum</h3>
            </div>
        }

        return;
    }
    if (Model.PasswordRequired && !User.IsInRole("Administrator"))
    {
        <div class="container">
            <h2>This Forum needs a password</h2>
        </div>
        return;
    }

    var subscriptions = MemberService.Current()?.Subscriptions;
}
@if (!auth)
{
    <div class="container pt-0">
        <snitz-breadcrumb class="d-none d-sm-block"></snitz-breadcrumb>
        <div class="d-flex bd-highlight  m-1">
            <div class="d-flex bd-highlight">
                <form id="defaultdays-form" asp-action="Index" class="form-inline" method="get">
                    <input type="number" value="@Model.Forum?.Id" name="id" style="display: none;" />
                    <input type="number" value="@pagenum" name="page" style="display: none;" />
                    <input type="number" value="0" name="defaultdays" id="hdndefaultdays" style="display: none;" />
                    <div class="input-group forum ">
                        <enum-select id="default-days" enum-type="typeof(DefaultDays)" selected-value="(int)Model.Forum.DefaultView" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                        <select name="OrderBy" id="orderby" class="form-select mb-2" title="Order by" aria-invalid="false">
                            <option value="pd" selected-val="@Model.Forum?.OrderBy">@Localizer["optPostDate"]</option>
                            <option value="lpd" selected-val="@Model.Forum?.OrderBy">@Localizer["optLastPostDate"]</option>
                            <option value="a" selected-val="@Model.Forum?.OrderBy">@Localizer["optAuthor"]</option>
                            <option value="lpa" selected-val="@Model.Forum?.OrderBy">@Localizer["optLastAuthor"]</option>
                            <option value="v" selected-val="@Model.Forum?.OrderBy">@Localizer["optViews"]</option>
                            <option value="r" selected-val="@Model.Forum?.OrderBy">@Localizer["optReplies"]</option>
                        </select>
                        <select name="sortdir" id="sortdir" class="form-select mb-2" title="Sort direction" aria-invalid="false">
                            <option value="asc" selected-val="@Model.Forum?.SortDir">@Localizer["optAsc"]</option>
                            <option value="des" selected-val="@Model.Forum?.SortDir">@Localizer["optDesc"]</option>
                        </select>
                        <span class="form-text mb-2 d-none d-sm-block">&nbsp;@Localizer["lblPageSize"]&nbsp;</span>
                        <div class="input-group-addon">
                            @if (SnitzConfig.GetValue("STRFORUMPAGESIZES", "") != "")
                            {
                                var ischecked = Model.PageSize;

                                <div class="radioBtn btn-group d-none d-sm-block" role="group" aria-label="Select page size" title="Select page size">
                                    @foreach (var size in SnitzConfig.GetValue("STRFORUMPAGESIZES", "").Split(","))
                                    {
                                        <input type="radio" class="btn-check" name="pagesize" id="option_@size" autocomplete="off" value="@size"
                                               @if (ischecked == Convert.ToInt32(size))
                                               {
                                                   @Html.Raw("checked")
                                               }/>
                                        <label class="btn btn-outline-secondary mb-2" for="option_@size">@size</label>

                                    }
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex bd-highlight  m-1">
            <div class="flex-fill w-50">
                <form asp-action="Index" class="form-inline" method="get">
                    <div class="input-group">
                        <button snitz-if="@Model.Forum?.Status == 1" asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Forum?.Id" class="btn btn-outline-primary"><i class="fa fa-commenting-o"></i><span class="d-none d-lg-inline"> @Localizer["btnNewTopic"]</span></button>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (SnitzConfig.GetIntValue("INTPOLLS") == 1 && Model.Forum.Polls != (int)PollAuth.Disallow)
                            {
                                if ((Model.Forum.Polls == (int)PollAuth.Members) || (Model.Forum.Polls == (int)PollAuth.AdminModerators && User.IsInRole("Forum_" + Model.Forum.Id)) || User.IsInRole("Administrator"))
                                {
                                    <a class="btn btn-outline-primary" title="@Localizer["tipAddPoll"]" data-toggle="tooltip" href="@Url.Action("Create", "Topic", new { id = Model.Forum.Id, ispoll = true })">
                                        <i class="fa fa-bar-chart"></i>
                                    </a>
                                }
                            }
                            if (SnitzConfig.GetIntValue("INTCALEVENTS", 0) == 1)
                            {
                                int authlevel = eventservice.AuthLevel(Model.Forum.Id);

                                if ((authlevel == 2 || authlevel == 3 && (User.IsInRole("Administrator") || User.IsInRole("Moderator"))) || authlevel == 4 && User.IsInRole("Administrator"))
                                {
                                    <a class="btn btn-outline-primary" title="@Localizer["tipAddEvent"]" data-toggle="tooltip" href="@Url.Action("Create", "Topic", new { id = Model.Forum.Id, isevent = true })">
                                        <i class="fa fa-calendar-plus-o"></i>
                                    </a>
                                }
                            }
                        }                        
                        @if (User.IsInRole("Administrator"))
                        {
                            <button asp-controller="Forum" asp-action="Edit" asp-route-id="@Model.Forum!.Id" title="Edit Forum" class="btn btn-outline-warning"><i class="fa fa-pencil"></i><span class="d-none d-lg-inline"> @Localizer["tipEditForum"]</span></button>
                            <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@Model.Forum!.Id" href="~/Forum/Delete/?id=" title="@Localizer["cnfDeleteForum"].Value"></button-confirm>
                        }

                    </div>
                </form>
            </div>
            <div class="flex-fill">
                <partial name="QuickSearch" />

            </div>
        </div>

        <!--Display posts table-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status rounded-2">

                    @if (Model.Forum.ForumSubscription == ForumSubscription.ForumSubscription && SnitzConfig.GetIntValue("STRSUBSCRIPTION", 0) != 0)
                    {
                        if (subscriptions != null && subscriptions.Where(s => s.ForumId == Model.Forum.Id && s.PostId == 0).Select(s => s.ForumId).Any())
                        {
                            <i class="fa fa-share-square forum center" title="@Localizer["btnUnsubscribe"]" data-id="@Model.Forum.Id"></i>
                        }
                        else
                        {
                            <i class="fa fa-share-square-o forum center " title="@Localizer["cnfSubscribeForum"]" data-id="@Model.Forum.Id"></i>
                        }
                    }
                </div>
                <div class="subjects rounded-2">@Localizer["lblSubject"]</div>
                <div class="replies rounded-2">@Localizer["lblReplies"] / @Localizer["lblViews"]</div>
                <div class="last-reply rounded-2">@Localizer["lblLastPost"]</div>
                <div class="subscribe rounded-1 d-none d-md-inline-block"><i class="fa fa-object-group" title="@Localizer["tipMergeTopic"]" style="display: none;"></i></div>

            </div>
            @{
                ViewData["ActiveTopics"] = false;
            }
            <!--Sticky Topics-->
            @if (Model.StickyPosts!.Any())
            {
                if (Model.StickyPosts != null)
                {
                    foreach (var post in Model.StickyPosts)
                    {
                        <partial name="TopicListing" model="post" view-data="ViewData" />
                    }
                }
                <hr />
            }
            <!--Topics start here-->
            @foreach (var post in Model.Posts!){
                <partial name="TopicListing" model="post" view-data="ViewData" />
            }
            @if (Model.Forum.Topics == 0)
            {
                <p class="text-center p-4">@Localizer["lblNoForumTopics"]</p>
            }else if (Model.Posts == null || Model.Posts?.Count() == 0)
            {
                <p class="text-center p-4">@Localizer["lblNoTopicsToDisplay"]</p>
            }
            <!--ends here-->
        </div>
        <!--Pagination starts-->
        <partial snitz-if="@(Model.PageCount > 1)" 
                 name="ListPaging" 
                 model="@(new PagingModel
                        {
                            PageCount = Model.PageCount,
                            Page = pagenum != null ? Convert.ToInt32(pagenum) : 1,
                            PageSize = ViewBag.PageSize,
                            OrderBy = Model.Forum!.OrderBy,
                            SortDir = Model.Forum.SortDir,
                            DefaultDays = (int)Model.Forum.DefaultView
                        })" />
        <!--pagination ends-->
        <partial name="IconInfo" />
    </div>
}
@{
    var confModel = new ConfirmDialogViewModel()
    {
        Title = "Delete Forum",
        Message = $@"<p>You are about to delete the Forum {Model.Forum!.Title}</p>
        <p>Do you wish to proceed?</p>"
    };
}
<partial name="ConfirmDialog" model="@confModel" />
<input type="text" style="display: none;" id="req-auth" value="@ViewBag.RequireAuth.ToString()" />
<input type="text" style="display: none;" id="req-forumid" value="@Model.Forum.Id" />
<partial name="PasswordDlg" model='new ConfirmDialogViewModel(){Title="Password Required",Message ="You need a password to View this Forum "}' />
@section Scripts {
    <script type="text/javascript" src="~/js/ConfirmDialog.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/postcontroller.js"></script>
    <script type="text/javascript">

        $(window).on("load",
            function(e) {
                $("#passwordDlg").on('hide.bs.modal',
                    function() {
                        window.location.href = '/Category/Index';
                    });
                $('#passwordDlg').on('click',
                    '#btnPassYes',
                    function(e) {
                        $.ajax({
                            type: "POST",
                            url: '/Forum/PasswordCheck',
                            data: { pwd: $('#forum-pass').val(), forumid: $('#req-forumid').val(), topicid: '0' },
                            success: function(result) {
                                if (result) {
                                    $("#passwordDlg").off('hide.bs.modal');
                                    $('#passwordDlg').modal('hide');
                                    location.reload(true);
                                    return false;
                                } else {
                                    window.location.href = '/Category/Index';
                                }
                            },
                            error: function(error) {
                                window.location.href = '/Category/Index';
                                return false;
                            }
                        });
                    });
                if ($('#req-auth').val() === 'True') {
                    $('#passwordDlg').modal('show');
                }
            });


        $(document).on("change",
            "#default-days",
            function() {
                $("#hdndefaultdays").val($(this).val());
                $("#defaultdays-form").submit();
            });
        $(document).on("change",
            "#orderby",
            function() {
                $("#hdndefaultdays").val($("#default-days").val());
                $("#defaultdays-form").submit();
            });
        $(document).on("change",
            "input[type=radio][name=pagesize]",
            function() {
                $("#defaultdays-form").submit();
            });
        $(document).on("change",
            "#sortdir",
            function() {
                $("#hdndefaultdays").val($("#default-days").val());
                $("#defaultdays-form").submit();
            });
    </script>
    <renderstoredcontent asp-key="topic-post-controls"></renderstoredcontent>
}