@model MVCForum.ViewModels.Forum.ForumTopicModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Snitz.PostThanks.Helpers
@using SnitzCore.Service.TagHelpers
@using Microsoft.AspNetCore.Http
@using Snitz.Events.Helpers
@inject IEnumerable<ISnitzStartupService> pluginservices
@section MetaData
{
    <title>@Model.Forum?.Title - @Config.Value.strForumTitle</title>
    <meta name="title" content="@Model.Forum?.Title - @Config.Value.strForumTitle" />
    <meta name="description" content="@Model.Forum?.Description" />
    <meta name="robots" content="index,nofollow" />
    @if (SnitzConfig.IsEnabled("INTFORUMRSS"))
    {
        <link rel="alternate" type="application/rss+xml" title="RSS" href="~/rssfeed/forum/@Model.Forum?.Id">      
    }
}
@section Styles{
    
    <link href="~/css/star-rating.min.css" rel="stylesheet" />
    <link href="~/css/krajee-svg/theme.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="@SnitzConfig.ThemeCss("prism.min.css")" asp-fallback-href="~/css/prism.min.css">
    @if (ViewBag.RequireAuth)
    {
        <style>
            .modal-backdrop
            {
                opacity:1.0 !important;
            }
            .modal-backdrop.in {
                    opacity: 1.0 !important;
                }
        </style>
    }
}
@{
    var authlevel = 0;
    var auth = (bool)ViewBag.RequireAuth;
    var pagenum = Model.PageNum?.ToString() ??  Context.Request.Query["page"];
    var pagesize = Context.Session.GetInt32("TopicPageSize");
    TempData["ForumId"] = Model.Forum?.Id;
    TempData["CatId"] = 0;
    var eventservice = pluginservices.FirstOrDefault(t => t.GetType() == typeof(CalEventsService));
    var thanksservice = pluginservices.FirstOrDefault(t => t.GetType() == typeof(PostThanksService));
    if(thanksservice != null && Model.Forum != null)
    {
        TempData["allowThanks"] = thanksservice.EnabledForTopic(Model.Forum.Id);
    }
    if(eventservice != null && Model.Forum != null)
    {
        authlevel = eventservice.AuthLevel(Model.Forum.Id);
    }
    ViewBag.PageCount = Model.PageCount;
    ViewBag.PageSize = pagesize ?? Model.PageSize;
    ViewBag.PageNum = pagenum;
    if (Model.PasswordRequired && !User.IsInRole("Administrator"))
    {
        <div class="container">
            <h2>This Forum requires a password</h2>
        </div>
        <partial name="Modal\PasswordDlg" model='new ConfirmDialogViewModel(){Title=Localizer["popPasswordRqdTitle"].Value,Message = Localizer["popPasswordRqdMessage"].Value}' />
    }
    else if (Model.AccessDenied)
    {
        if (!SignInManager.IsSignedIn(User))
        {
            <div class="container">
                <h3>You do not have access to this forum, please try <a href="~/Account/Login">logging in</a> first</h3>
            </div>
        }
        else
        {
            <div class="container">
                <h3>You do not have access to this forum</h3>
            </div>
        }
        return;
    }

    var subscriptions = MemberService.Current()?.Subscriptions;
    var formaction = "Index";
    if(Model.Archives && Model.Forum != null)
    {
        formaction = "Archived";
        Model.Forum.DefaultView = DefaultDays.All;
    }
    var defdays = Context.Session.GetInt32($"Forum_{Model.Forum!.Id}") ?? 0;
}
@if (!auth)
{
    <div class="pt-0" id="forum-index">
        <snitz-breadcrumb show-filter="true"></snitz-breadcrumb>
        <div class="collapse" id="showFilters">
            <div class="d-flex bd-highlight  m-1">
                <div class="d-flex bd-highlight">
                    <form id="defaultdays-form" asp-action="@formaction" class="form-inline" method="get">
                        <input type="number" value="@Model.Forum?.Id" name="id" style="display: none;" />
                        <input type="number" value="@pagenum" name="page" style="display: none;" />
                        <input type="number" value="0" name="defaultdays" id="hdndefaultdays" style="display: none;" />
                        <div class="input-group forum ">
                            <enum-select id="default-days" enum-type="typeof(DefaultDays)" selected-value="@defdays" text-localizer-delegate="delegate(string s) { return Localizer[s].Value; }"></enum-select>
                            <select name="OrderBy" id="orderby" class="form-select mb-2" title="Order by" aria-invalid="false">
                                <option value="pd" selected-val="@Model.Forum?.OrderBy">@Localizer["optPostDate"]</option>
                                <option value="lpd" selected-val="@Model.Forum?.OrderBy">@Localizer["optLastPostDate"]</option>
                                <option value="a" selected-val="@Model.Forum?.OrderBy">@Localizer["optAuthor"]</option>
                                <option value="lpa" selected-val="@Model.Forum?.OrderBy">@Localizer["optLastAuthor"]</option>
                                <option value="v" selected-val="@Model.Forum?.OrderBy">@Localizer["optViews"]</option>
                                <option value="r" selected-val="@Model.Forum?.OrderBy">@Localizer["optReplies"]</option>
                            </select>
                            <select name="sortdir" id="sortdir" class="form-select mb-2" title="Sort direction" aria-invalid="false">
                                <option value="asc" selected-val="@Model.Forum?.SortDir">@Localizer["optAsc"]</option>
                                <option value="des" selected-val="@Model.Forum?.SortDir">@Localizer["optDesc"]</option>
                            </select>
                            <span class="form-text mb-2 d-none d-sm-block">&nbsp;@Localizer["lblPageSize"]&nbsp;</span>
                            <div class="input-group-addon">
                            <div snitz-if="@(SnitzConfig.GetValueWithDefault("STRFORUMPAGESIZES", "") != "")" class="radioBtn btn-group d-none d-sm-block" role="group" aria-label="Select page size" title="Select page size">
                                @{
                                    var ischecked = Model.PageSize;
                                    foreach (var size in SnitzConfig.GetValueWithDefault("STRFORUMPAGESIZES", "")!.Split(","))
                                    {
                                        <input type="radio" class="btn-check" name="pagesize" id="option_@size" autocomplete="off" value="@size" @if(ischecked == Convert.ToInt32(size)){@Html.Raw("checked")}/>
                                        <label class="btn btn-outline-secondary mb-2" for="option_@size">@size</label>
                                    }
                                }
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex bd-highlight  m-1">
                <div class="flex-fill">
                    <partial name="QuickSearch" />
                </div>
            </div>
        </div>
        <div class="d-flex bd-highlight  m-1">
            <div class="flex-fill w-50">
                <form asp-action="@formaction" class="form-inline" method="get">
                    <div class="input-group">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            if (Model.Forum.PostAuth == PostAuthType.Anyone || (Model.Forum.PostAuth == PostAuthType.Moderators && User.IsInRole("Forum_" + Model.Forum.Id)) || User.IsInRole("Administrator"))
                            {
                                <button snitz-if="@Model.Forum?.Status == 1" data-toggle="tooltip" title="@Localizer["tipNewTopic"].Value" asp-controller="Topic" asp-action="Create" asp-route-id="@Model.Forum?.Id" class="btn btn-outline-primary"><i class="fa fa-comment"></i><span class="d-none d-lg-inline"> @Localizer["btnNewTopic"]</span></button>
                            }
                            if (SnitzConfig.IsEnabled("INTPOLLS") && Model.Forum?.Polls != (int)PollAuth.Disallow)
                            {
                                if ((Model.Forum?.Polls == (int)PollAuth.Members) || (Model.Forum?.Polls == (int)PollAuth.AdminModerators && User.IsInRole("Forum_" + Model.Forum.Id)) || User.IsInRole("Administrator"))
                                {
                                    <a class="btn btn-outline-primary" title="@Localizer["tipAddPoll"]" data-toggle="tooltip" href="@Url.Action("Create", "Topic", new { id = Model.Forum?.Id, ispoll = true })">
                                        <i class="fa fa-bar-chart"></i> <span class="d-none d-lg-inline"> @Localizer["btnAddPoll"]</span>
                                    </a>
                                }
                            }
                            if (SnitzConfig.IsEnabled("INTCALEVENTS"))
                            {
                                if ((authlevel == 2 || authlevel == 3 && (User.IsInRole("Administrator") || User.IsInRole("Moderator"))) || authlevel == 4 && User.IsInRole("Administrator"))
                                {
                                    <a class="btn btn-outline-primary" title="@Localizer["tipAddEvent"]" data-toggle="tooltip" href="@Url.Action("Create", "Topic", new { id = Model.Forum?.Id, isevent = true })">
                                        <i class="fa-regular fa-calendar-plus"></i> <span class="d-none d-lg-inline"> @Localizer["btnAddEvent"]</span>
                                    </a>
                                }
                            }
                        }
                        @if (SnitzConfig.IsEnabled("INTFORUMRSS"))
                        {
                            <a class="btn btn-outline-primary" title="@Localizer["tipForumRss"]" data-toggle="tooltip" href="@Url.Action("Forum", "RssFeed", new { id = Model.Forum?.Id })">
                                <i class="fa fa-rss"></i> <span class="d-none d-lg-inline"> @Localizer["tipForumRss"]</span>
                            </a>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <button asp-controller="Forum" asp-action="Edit" asp-route-id="@Model.Forum!.Id" data-toggle="tooltip" title="Edit Forum properties" aria-label="Edit Forum" class="btn btn-outline-warning"><i class="fa fa-pencil"></i><span class="d-none d-lg-inline"> @Localizer["tipEditForum"]</span></button>
                            <button-confirm selector="confirm-delete" config-class="fa fa-trash" config-key="@Model.Forum!.Id" href="@SnitzConfig.RootFolder/Forum/Delete/" data-toggle="tooltip" title="@Localizer["cnfDeleteForum"].Value"></button-confirm>
                        }
                    </div>
                </form>
            </div>
        </div>
        <!--Display posts table-->
        <div class="row">
            <div class="col">
                <div class="posts-table">
                    <div class="table-head">
                        <div class="status rounded-2">
                            @if (!Model.Archives && User.Identity.IsAuthenticated && Model.Forum.ForumSubscription == ForumSubscription.ForumSubscription && SnitzConfig.IsEnabled("STRSUBSCRIPTION"))
                            {
                                if (subscriptions != null && subscriptions.Where(s => s.ForumId == Model.Forum.Id && s.PostId == 0).Select(s => s.ForumId).Any())
                                {
                                    <i class="fa-regular fa-bell-slash forum center" title="@Localizer["btnUnsubscribe"]" data-id="@Model.Forum.Id"></i>
                                }
                                else
                                {
                                    <i class="fa-regular fa-bell forum center " title="@Localizer["cnfSubscribeForum"]" data-id="@Model.Forum.Id"></i>
                                }
                            }
                        </div>
                        <div class="subjects rounded-2">@Localizer["lblSubject"]</div>
                        <div class="replies rounded-2"></div>
                        <div class="replies rounded-2"></div>
                        <div class="last-reply rounded-2">@Localizer["lblLastPost"]</div>
                        <div class="subscribe rounded-1 d-none d-md-inline-block"><i class="fa-regular fa-object-group" title="@Localizer["tipMergeTopic"]" style="display: none;" data-toggle="tooltip"></i></div>
                    </div>
                    @{
                        ViewData["ActiveTopics"] = false;
                        ViewData["Archives"] = Model.Archives;
                    }
            <!--Sticky Topics-->
                    @if (Model.StickyPosts != null)
                    {
                        if (Model.StickyPosts.Any())
                        {
                            foreach (var post in Model.StickyPosts)
                            {
                                <partial name="TopicListing" model="post" view-data="ViewData" />
                            }
                            <hr />
                        }
                    }
            <!--Topics start here-->
                    @foreach (var post in Model.Posts!){
                        if(Model.Archives)
                        {
                            <partial name="ArchivedTopicListing" model="post" view-data="ViewData" />
                        }
                        else
                        {
                            <partial name="TopicListing" model="post" view-data="ViewData" />
                        }
                    }
                    @if (Model.Forum.Topics == 0)
                    {
                        if (Model.Forum.Status == (int)Status.Closed)
                        {
                            <p class="text-center p-4">@Localizer["lblLockedForum"]</p> 
                        }
                        else
                        {
                            <p class="text-center p-4">@Localizer["lblNoForumTopics"]</p>                           
                        }
                    }else if (Model.Posts == null || Model.Posts?.Count() == 0)
                    {
                        <p class="text-center p-4">@Localizer["lblNoTopicsToDisplay"]</p>
                    }
                <!--ends here-->
                </div>

                <!--Pagination starts-->
                <partial snitz-if="@(Model.PageCount > 1)" 
                         name="ListPaging" 
                         model="@(new PagingModel
                                {
                                    PageCount = Model.PageCount,
                                    Page = pagenum != null ? Convert.ToInt32(pagenum) : 1,
                                    PageSize = ViewBag.PageSize,
                                    OrderBy = Model.Forum!.OrderBy,
                                    SortDir = Model.Forum.SortDir,
                                    DefaultDays = (int)Model.Forum.DefaultView,
                                    Archived = Model.Archives
                                })" />
                <!--pagination ends-->
                @await Component.InvokeAsync("Members", new { template = "CategoryForumJumpTo"})
                <cache expires-after="@TimeSpan.FromHours(12)" vary-by-culture="true">
                    <partial name="IconInfo" />
                </cache>
            </div>
        </div>
    </div>
}
<modal id="moderateModal" title="Post Moderation">
    <modal-body>
        <div id="postModeration"></div>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
        <button id="send-email" form="moderateForm" type="submit" class="btn btn-success">@Localizer["btnSend"] <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button type="reset" form="moderateForm" class="btn btn-warning ">@Localizer["btnReset"]</button>
    </modal-footer>
</modal>
<input type="text" style="display: none;" id="req-auth" value="@ViewBag.RequireAuth.ToString()" />
<input type="text" style="display: none;" id="req-forumid" value="@Model.Forum.Id" />
@section Scripts {
<script type="text/javascript" src="~/js/prism.min.js" data-manual></script>
<script src="~/js/star-rating.min.js"></script>
<script src="~/js/krajee-svg/theme.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/postcontroller.min.js" asp-append-version="true"></script>
<script type="text/javascript">
    $('body').on('click','.confirm-delete', function(e) {
        e.preventDefault();
        var href = $(this).attr('href');
        (async () => {
            const result = await b_confirm(Snitzres.cnfDeleteForum)
            if (result) {
                $.get(href.replace("~", SnitzVars.baseUrl), function(result){
                    window.location.replace(result.redirectToUrl);
                });
            }
        })();
    });
    $(window).on("load", function(e) {
        $('.rb-rating').rating({
            'showCaption': false,
            'displayOnly':true
        });
    });
    $('body').on("change", "#default-days", function() {
        $("#hdndefaultdays").val($(this).val());
        $("#defaultdays-form").submit();
    });
    $('body').on("change", "#orderby", function() {
        $("#hdndefaultdays").val($("#default-days").val());
        $("#defaultdays-form").submit();
    });
    $('body').on("change", "input[type=radio][name=pagesize]", function() {
        $("#defaultdays-form").submit();
    });
    $('body').on("change", "#sortdir", function() {
        $("#hdndefaultdays").val($("#default-days").val());
        $("#defaultdays-form").submit();
    });
    Prism.hooks.add("before-highlight", function(env) {
            env.code = env.element.innerText;
    });

    code = document.getElementsByTagName('code');
    Array.from(code).forEach(el => { Prism.highlightElement(el) });
</script>
<renderstoredcontent asp-key="password-dialog"></renderstoredcontent>
<renderstoredcontent asp-key="topic-post-controls"></renderstoredcontent>

}