@using System.Globalization
@using System.Resources
@using Microsoft.AspNetCore.Http
@model dynamic

@{
    Layout = "Layout";
    ViewBag.Title = SnitzConfig.ForumTitle + " | " + @Localizer["calTitle"];
    string[] rtlLangs = new string[] { "ar", "arc", "dv", "fa", "ha", "khw", "ks", "ku", "ps", "ur", "yi", "he" };

    //check the culture so we can set the page direction and language
    var cookielang = SnitzCookie.GetCookieValue("CookieLang");
    CultureInfo ci = CultureInfo.CurrentUICulture;
    string clang = ci.TwoLetterISOLanguageName;

    if (cookielang != null)
    {
        var cultureInfo = new CultureInfo(cookielang);
        CultureInfo.CurrentUICulture = cultureInfo;
        clang = cultureInfo.TwoLetterISOLanguageName;
    }
    Context.Session.SetString("culture", clang);
    bool isRighToLeft = rtlLangs.Contains(clang);


    clang = clang + ".global.min.js";
}
@section Styles {
    @* <link rel="stylesheet" href="~/_content/Snitz.Events/css/plugincss/fullcalendar.min.css"> *@
    <link rel="stylesheet" href="~/_content/Snitz.Events/css/jquery-ui-timepicker-addon.min.css">
@*     <link rel="stylesheet" href="~/css/fullcalendar.css">
    <link snitz-if="@(isRighToLeft)" rel="stylesheet" href="~/_content/Snitz.Events/css/plugincss/fullcalendar-rtl.css"> *@

}
<div class="chunk-main">
    <snitz-breadcrumb show-filter="false"></snitz-breadcrumb>
    <h5>@Localizer["calTitle"]</h5>
    <hr class="title" />
    <div class="row-fluid">
        <select id="locale-selector"></select>
    </div>
    <div class="row-fluid">

        <div id="calendar"></div>
    </div>
    <div class="row-fluid"></div>
</div>
@section Scripts {
    <script type="text/javascript">
        var upComingEventsTitle = '[@Localizer["upComingEventTitle"]]';
        var pastEventsTitle = '[@Localizer["upPastEventsTitle"]]';
    </script>
    <environment include="Development">
        <script src="~/js/pluginjs/snitz.cal.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pluginjs/snitz.cal.min.js"></script>
    </environment>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="~/_content/Snitz.Events/js/locales-all.global.min.js"></script>
    <script type="text/javascript">

        $(document)
            .ready(function () {

                $('#countryRegion').change(function () {
                    var val = $('#change-holidays').val() + '|' + $(this).val();
                    FullCalendar("@Url.Action("GetCalendarEvents")", 'calendar', '@SnitzConfig.GetValue("INTFIRSTDAYOFWEEK")', val);
                });

                $('#change-holidays')
                    .change(function () {
                        var val = $(this).val();
                        populateRegions(val);
                    FullCalendar("@Url.Action("GetCalendarEvents")", 'calendar', '@SnitzConfig.GetValue("INTFIRSTDAYOFWEEK")', val);

                    });

                FullCalendarNew("@Url.Action("GetCalendarEvents")", 'calendar', '@SnitzConfig.GetValue("INTFIRSTDAYOFWEEK")', 'gbr');
                @* populateRegions($('#change-holidays').val()); *@
            });
        function populateRegions(country) {
            var subItems = "";
            $.getJSON("@Url.Action("GetRegions", "Calendar")", { id: country }, function (data) {

                $.each(data, function (index, item) {
                if (item === '@SnitzConfig.GetValue("STRCALREGION")') {
                        subItems += "<option value='" + item + "' selected>" + item + "</option>";
                    } else {
                        subItems += "<option value='" + item + "'>" + item + "</option>";
                    }
                });
                if (subItems.length > 1) {
                    subItems = "<option value=''>Select Region</option>" + subItems;
                    $("#countryRegion").html(subItems);
                    $("#countryRegion").show();
                } else {
                    subItems = "<option value='' selected>No Regions</option>";
                    $("#countryRegion").html(subItems);
                    $("#countryRegion").hide();
                }

            });
        }
    </script>
}