@using SnitzCore.BackOffice.ViewModels
@using SnitzCore.Data.Extensions
@using SnitzCore.Data.Models
@using SnitzCore.Service.Extensions
@model SnitzCore.BackOffice.ViewModels.AdminModeratorsViewModel.ArchivesViewModel
<legend>Manage Archives</legend>
<hr/>
<form asp-action="SaveSettings" asp-controller="Archive" method="POST" data-ajax="true" data-ajax-update="#result-archives">
    <table class="table mb-3">
        <thead class="bg-category">
            <tr>
                <th class="col-3"></th>
                <th class="col-2">Archive posts older than (days)</th>
                <th class="col-2">Delete posts older than (days)</th>
                <th class="col-2">Last Archived</th>
                <th class="col-2">Last Deletion</th>
                <th class="col-1">
                    <div class="mb-3">
                        <input class="form-check-input mt-0" name="checkAll" id="checkAll" type="checkbox" value="" aria-label="Checkbox for following text input">
                        <span class="form-check-label"><a href="#" title="Archive posts in selected Forums" data-toggle="tooltip"><i class="fa fa-archive"></i></a></span>
                        <span class="form-check-label"><a href="#" title="Delete posts in selected Forums" data-toggle="tooltip"><i class="fa fa-trash"></i></a></span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class=" table-bordered">
            @if (Model.Categories != null)
            {
                for (int ii = 0; ii < Model.Categories.Count; ii++)
                {
                    <tr class="bg-primary">
                        <td colspan="6">
                            <label>@Model.Categories[ii].Name</label>
                            @Html.HiddenFor(m => Model.Categories[ii].Id)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="p-0">
                            @for (int i = 0; i < Model.Categories[ii]?.Forums?.Count(); i++)
                            {
                                var forum = Model.Categories[ii].Forums?.ToArray()[i];

                                <table class="table table-striped w-100">
                                    <tr>
                                        @switch (forum?.Type)
                                        {
                                            case (short)ForumType.WebLink:
                                                break;
                                            default:
                                                <td class="col-3">
                                                    <label class="text-info">@forum?.Title</label>
                                                </td>
                                                <td class="col-2 align-center"><input name="Categories[@ii].Forums[@i].ArchiveSched" id="@($"Categories_{@ii}_Forums_{i}_ArchiveSched")" value="@forum?.ArchiveSched" class="form-control" type="text" /></td>
                                                <td class="col-2 align-center"><input name="Categories[@ii].Forums[@i].DeleteSched" id="@($"Categories_{@ii}_Forums_{i}_DeleteSched")" value="@forum?.DeleteSched" class="form-control" type="text" /></td>
                                                <td class="col-2 align-center">
                                                    <span snitz-if="@(forum!.LastArchived.FromForumDateStr(true) != DateTime.MinValue)">@forum!.LastArchived.FromForumDateStr(true).ToForumDateDisplay()</span>
                                                </td>
                                                <td class="col-2 align-center">
                                                    <span snitz-if="@(forum.LastDelete.FromForumDateStr(true) != DateTime.MinValue)">@forum.LastDelete.FromForumDateStr(true).ToForumDateDisplay()</span>
                                                </td>
                                                <td class="align-center">
                                                    <link-confirm jq-selector="confirm-archive" config-class="fa fa-archive" config-key="@forum.Id" href="@SnitzConfig.RootFolder?.TrimEnd('/')/Archive/ArchiveForm/@forum.Id" title="Archive posts in this forum"></link-confirm>
                                                    <link-confirm config-class="fa fa-trash-can" config-key="@forum.Id" href="@SnitzConfig.RootFolder?.TrimEnd('/')/Archive/DeleteArchivedForum/@forum.Id" title="Delete archived posts in this forum?"></link-confirm>

                                                    <input type="hidden" name="Categories[@ii].Forums[@i].Id" id="@($"Categories_{@ii}_Forums_{i}_Id")" value="@forum.Id" />
                                                    <input type="checkbox" class="form-check-inline" id="check-@forum.Id" name="check-@forum.Id" />
                                                </td>
                                                break;
                                        }
                                    </tr>
                                </table>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td>@ViewBag.Message</td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2"><input type="submit" class="btn btn-outline-success" value="Save Changes" /></td>

            </tr>
        </tfoot>
    </table>
    <div id="result-archives"></div>
</form>
<modal id="archiveModal" title="Archive Forum">
    <modal-body>
        <div id="archive-content"></div>
    </modal-body>
    <modal-footer dismiss-text="Cancel">
        <button type="submit" id="submitArchive" form="archive-form" class="btn btn-success">Archive</button>
    </modal-footer>
</modal>
